footer.footer
    .container
        .row.footer__row
            .col.footer__column
                ul.footer__list
                    li.footer__list__item Обучение персонала.
                    li.footer__list__item Лицензирование.
                    li.footer__list__item Консалтинг.
                a(href="#").policy Версия для слабовидящих
                br
                a(href="#").policy Политика конфиденциальности
            a.col.footer__logo(href="/")
            .col.footer__column
                ul.footer__list.footer__list_contact
                    li
                        a(href="tel:88124696068").footer__link.footer__tel 8 (812) 469-60-68
                            span.icon
                    li
                        a(href="mailto:info@uc-sp.ru").footer__link.footer__mail info@uc-sp.ru
                            span.icon
                    li
                        a(href="https://vk.com/ucnorthway" target='_blank').footer__link.footer__vk Присоединяйтесь к группе ВК
                            span.icon
                    li
                        a(href='' target='_blank').footer__link.footer__link_last.footer__address Санкт-Петербург, ул. Оборонная, 10 лит. А офис 310А
                            span.icon