header.header
    .container
        .row.header__row
            a.header__logo(href="#")
                span.header__offer Обучение. Консалтинг. Лицензирование
            .header__content
                .header__top
                    nav.header__nav
                        ul.header__navbar
                            li.header__item
                                a.header__link(href="#") Новости
                            li.header__item
                                a.header__link(href="#") Полезные файлы
                            li.header__item
                                a.header__link(href="#") Кого и как обучать
                            li.header__item
                                a.header__link(href="#") Сведенья
                            li.header__item
                                a.header__link(href="#") Контакты
                    ul.header__contact
                        li.header__item
                            a.header__link.header__link_email(href="mailto:info@uc-sp.ru") info@uc-sp.ru
                        li.header__item
                            a.header__link.header__link_phone(href="tel:88124696068") 8 (812) 469-60-68
                .header__main
                    nav.header__nav
                        ul.header__navbar#dropdownNav
                            li.header__item
                                a.header__link(href="#" data-href="study") Обучение
                                ul.header__navbar.header__navbar_inner
                                    li.header__item
                                        a.header__link Охрана труда
                                    li.header__item
                                        a.header__link Повышения квалификации
                                    li.header__item
                                        a.header__link Целевое обучение
                                    li.header__item
                                        a.header__link Пожарно-технический минимум (ПТМ)
                                    li.header__item
                                        a.header__link Профессиональные переподготовки
                                    li.header__item
                                        a.header__link Рабочие специальности
                                    li.header__item
                                        a.header__link Первая помощь
                            li.header__item
                                a.header__link(href="#" data-href="security") Служба охраны труда
                                ul.header__navbar.header__navbar_inner
                                    li.header__item
                                        a.header__link Аутсорсинг по охране труда
                                    li.header__item
                                        a.header__link Разработка документов по охране труда (СУОТ)
                                    li.header__item
                                        a.header__link Помощь при расследовании несчастных случаев
                                    li.header__item
                                        a.header__link Помощь при проверках надзорных органов
                                    li.header__item
                                        a.header__link Специальная оценка условий труда (СОУТ)
                            li.header__item
                                a.header__link(href="#"  data-href="store") Магазин
                                ul.header__navbar.header__navbar_inner
                                    li.header__item
                                        a.header__link Журналы
                            li.header__item
                                a.header__link(href="#"  data-href="job") Вакансии
                                ul.header__navbar.header__navbar_inner
                                    li.header__item
                                        a.header__link Руководство и инженерно-технический персонал
                                    li.header__item
                                        a.header__link Рабочие рабочих профессий
                    ul.header__contact
                        //- li.header__item
                        //-     a.header__link.header__link_search 
                        //-         span.header__link-inner Поиск
                        //- li.header__item
                        //-     a.header__link.header__link_vk(href="#") 
                        //-         span.header__link-inner Группа ВК
                        li.header__item
                            a.header__link.header__link_address(href="#") 
                                span.header__link-inner Адрес центра
                        li.header__item.header__item_stock
                            span.header__item-inner Обучайся сейчас, плати потом
                            span.header__item-icon
            .navbar-toggler
                svg(version="1.1" id="navbar" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve")
                    g
                        path.navbar-path.first(d="M491.318,235.318H20.682C9.26,235.318,0,244.577,0,256s9.26,20.682,20.682,20.682h470.636c11.423,0,20.682-9.259,20.682-20.682C512,244.578,502.741,235.318,491.318,235.318z")
                    g
                        path.navbar-path.second(d="M491.318,78.439H20.682C9.26,78.439,0,87.699,0,99.121c0,11.422,9.26,20.682,20.682,20.682h470.636c11.423,0,20.682-9.26,20.682-20.682C512,87.699,502.741,78.439,491.318,78.439z")
                    g
                        path.navbar-path.third(d="M491.318,392.197H20.682C9.26,392.197,0,401.456,0,412.879s9.26,20.682,20.682,20.682h470.636c11.423,0,20.682-9.259,20.682-20.682S502.741,392.197,491.318,392.197z")
    .dropdown#dropdown
        nav.container
            ul.dropdown__nav#study
                li.dropdown__item
                    a.dropdown__link Охрана труда
                li.dropdown__item
                    a.dropdown__link Повышения квалификации
                li.dropdown__item
                    a.dropdown__link Целевое обучение
                li.dropdown__item
                    a.dropdown__link Пожарно-технический минимум (ПТМ)
                li.dropdown__item
                    a.dropdown__link Профессиональные переподготовки
                li.dropdown__item
                    a.dropdown__link Рабочие специальности
                li.dropdown__item
                    a.dropdown__link Первая помощь
            ul.dropdown__nav#security
                li.dropdown__item
                    a.dropdown__link Аутсорсинг по охране труда
                li.dropdown__item
                    a.dropdown__link Разработка документов по охране труда (СУОТ)
                li.dropdown__item
                    a.dropdown__link Помощь при расследовании несчастных случаев
                li.dropdown__item
                    a.dropdown__link Помощь при проверках надзорных органов
                li.dropdown__item
                    a.dropdown__link Специальная оценка условий труда (СОУТ)
            ul.dropdown__nav#store
                li.dropdown__item
                    a.dropdown__link Журналы
            ul.dropdown__nav#job
                li.dropdown__item
                    a.dropdown__link Руководство и инженерно-технический персонал
                li.dropdown__item
                    a.dropdown__link Рабочие рабочих профессий
    .header-stock
        span.header-stock__inner Обучайся сейчас, плати потом
        span.header-stock__icon