header.header
    .container
        .row.header__row
            a.header__logo(href="#")
                span.header__offer Обучение. Консалтинг. Лицензирование.
            .header__content
                ul.header__top
                    li.address
                        a.header__link(href='') Cанкт-Петербург, ул. Оборонная, 10 лит. А
                            span.icon
                    li.mail
                        a.header__link(href="mailto:info@uc-sp.ru") info@uc-sp.ru
                            span.icon
                    li.vk
                        a.header__link(href="https://vk.com/ucnorthway" target='_blank') группа ВК
                            span.icon
                    li.phone
                        a.header__link(href="tel:88124696068") 8 (812) 469-60-68
                            span.icon
                .separator
                nav.header__nav
                    ul.header__navbar
                        li.header__item
                            a.header__link(href="#") Услуги
                        li.header__item
                            a.header__link(href="#") Магазин
                        li.header__item
                            a.header__link(href="#") Вакансии
                        li.header__item
                            a.header__link(href="#") Сведения о центре
                        li.header__item
                            a.header__link(href="#") Контакты
                        li.header__item
                            a.search(href="#")
    
    
    .search-form(style="display:none")
        .container
            form(action="#", method="POST")
                input(type="text" focus)#search-global.white.l16.text-center
                button(type="submit").sb16 Найти
                    span.icon
                .search-block-list#search-block-list(style="display:none")
                    ul.l14
                        li акинава
                        li закинуть невод
                        li стакинация
                        li милитакия
                .close#search_close 
                    span
