header
    div.container.sm-hd
        a(href="#")
            div.logo
                span.c15.black Обучение. Консалтинг. Лицензирование.
        div.center-wrap
            div.social
                ul
                    li.address.black.r15
                        a(href='') Cанкт-Петербург, ул. Оборонная, 10 лит. А
                            span.icon
                    li.mail.black.r15
                        a(href="mailto:info@uc-sp.ru") info@uc-sp.ru
                            span.icon
                    li.vk.black.r15
                        a(href="https://vk.com/ucnorthway" target='_blank') группа ВК
                            span.icon
                    li.phone.black.sb16
                        a(href="tel:88124696068") 8 (812) 469-60-68
                            span.icon
            div.separator
            div.navigate
                nav
                    ul.r18.black.upper
                        li
                            a(href="#") Услуги
                        li
                            a(href="#") Сведения об Образовательной организации
                        li
                            a(href="#") Контакты
            a(href="#").search_btn
                div.search-icon
    div.small-menu
        div.container
            div.logo-sm
            a(href="#")
                div.search-loop
            div.burger#burger.in
                div
            div.clearfix
            div.menu_list(style="display:none")
                ul.clearfix
                    li
                        a(href="#").l16.black Услуги     
                    li
                        a(href="#").l16.black Сведения об Образовательной организации     
                    li
                        a(href="#").l16.black Контакты      
                
        div.footer      
            div.container
                div.phone
                    a(href="tel:88124696068").white.r14 8 (812) 469-60-68
                        span.icon
                div.mail
                    a(href="mailto:info@uc-sp.ru").white.r14 info@uc-sp.ru
                        span.icon

    div.sticky-menu
        div.container
            div.logo
                span.c13.white Обучение. Консалтинг. Лицензирование.
            div.center-wrap
                div.social
                    ul
                        li.address
                            a(href="#").white.r14 Санкт-Петербург, ул. Оборонная, 10 лит. А
                                    span.icon
                        li.mail
                            a(href="mailto:info@uc-sp.ru").white.r14 info@uc-sp.ru
                                span.icon
                        li.vk
                            a(href="http://vk.com/ucnorthway" target='_blank').white.r14 группа ВК
                                span.icon
                        li.phone
                            a(href="tel:88124696068").white.r14 8 (812) 469-60-68
                                span.icon
                div.separator-sm
                div.navigate
                    nav
                        ul
                            li
                                a(href="#").r16.white.upper Услуги
                            li
                                a(href="#").r16.white.upper Сведения об Образовательной организации
                            li
                                a(href="#").r16.white.upper Контакты
                a(href="#").search_btn
                    div.search-icon
    div.search-form(style="display:none")
        div.container
            form(action="#", method="POST")
                input(type="text" focus)#search-global.white.l16.text-center
                button(type="submit").sb16 Найти
                    span.icon
                div.search-block-list#search-block-list(style="display:none")
                    ul.l14
                        li акинава
                        li закинуть невод
                        li стакинация
                        li милитакия
                div.close#search_close 
                    span
