header.header
    .container
        .row.header__row
            a.header__logo(href="#")
                span.header__offer Обучение. Консалтинг. Лицензирование
            .header__content
                .header__top
                    nav.header__nav
                        ul.header__navbar
                            li.header__item
                                a.header__link(href="#") Новости
                            li.header__item
                                a.header__link(href="#") Полезные файлы
                            li.header__item
                                a.header__link(href="#") Кого и как обучать
                            li.header__item
                                a.header__link(href="#") Сведенья
                            li.header__item
                                a.header__link(href="#") Контакты
                    ul.header__contact
                        li.header__item
                            a.header__link.header__link_email(href="mailto:info@uc-sp.ru") info@uc-sp.ru
                        li.header__item
                            a.header__link.header__link_phone(href="tel:88124696068") 8 (812) 469-60-68
                .header__main
                    nav.header__nav
                        ul.header__navbar#dropdownNav
                            li.header__item
                                a.header__link(href="#" data-href="study") Обучение
                            li.header__item
                                a.header__link(href="#" data-href="security") Служба охраны труда
                            li.header__item
                                a.header__link(href="#"  data-href="store") Магазин
                            li.header__item
                                a.header__link(href="#"  data-href="job") Вакансии
                    ul.header__contact
                        li.header__item
                            a.header__link.header__link_search Поиск
                        li.header__item
                            a.header__link.header__link_vk(href="#") Группа ВК
                        li.header__item
                            a.header__link.header__link_address(href="#") Адрес центра
    .dropdown#dropdown
        nav.container
            ul.dropdown__nav#study
                li.dropdown__item
                    a.dropdown__link Охрана труда
                li.dropdown__item
                    a.dropdown__link Повышения квалификации
                li.dropdown__item
                    a.dropdown__link Целевое обучение
                li.dropdown__item
                    a.dropdown__link Пожарно-технический минимум (ПТМ)
                li.dropdown__item
                    a.dropdown__link Профессиональные переподготовки
                li.dropdown__item
                    a.dropdown__link Рабочие специальности
                li.dropdown__item
                    a.dropdown__link Первая помощь
            ul.dropdown__nav#security
                li.dropdown__item
                    a.dropdown__link Аутсорсинг по охране труда
                li.dropdown__item
                    a.dropdown__link Разработка документов по охране труда (СУОТ)
                li.dropdown__item
                    a.dropdown__link Помощь при расследовании несчастных случаев
                li.dropdown__item
                    a.dropdown__link Помощь при проверках надзорных органов
                li.dropdown__item
                    a.dropdown__link Специальная оценка условий труда (СОУТ)
            ul.dropdown__nav#store
                li.dropdown__item
                    a.dropdown__link Журналы
            ul.dropdown__nav#job
                li.dropdown__item
                    a.dropdown__link Руководство и инженерно-технический персонал
                li.dropdown__item
                    a.dropdown__link Рабочие рабочих профессий
