head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document2

    //- link(href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:300,400,600', rel='stylesheet')
    link(href='./css/iziModal.min.css', rel='stylesheet')
    link(href='./css/slick.css', rel='stylesheet')
    link(href='./css/slick-theme.css', rel='stylesheet')
    link(href='./css/style.css', rel='stylesheet')