.content-seo{
    ul{
        @extend .list;
        @extend .list_square;
        li{
            @extend .list__item;
        }
    }
    * + ul{
        margin-top: $padding;
    }

    ol{
        padding-left: $padding;
        list-style: decimal;
        li{
            & + li{
                margin-top: 6px;
            }
        }
    }
}