.cta-block{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    padding: 30px 40px;
    background: $orange;
    border: 10px solid $border-orange;
    border-radius: 20px;

    color: $white;

    .cta-block__title{
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: $padding/2;
    }

    .cta-block__content{
        flex: 0 0 420px;
        max-width: 100%;
        padding-right: 20px;
    }
    .cta-block__form{
        flex: 0 0 calc(100% - 420px);
        max-width: 100%;
    }

    .form{
        .form__agree{
            margin-top: $padding/2;
            .checkbox__link{
                color: $white;
            }
        }
    }

    .info{
        .info__label{
            color: $text-lightgrey;
        }
        .info__content{
            color: $white;
            &_rub{
                background: url("../img/2020/rub-white.svg") no-repeat center right / 12px;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .cta-block{
        .cta-block__title{
            font-size: 1.75rem;
        }
        .cta-block__content,
        .cta-block__form{
            flex: 0 0 50%;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .cta-block{
        padding: 20px 30px;
        .cta-block__title{
            font-size: 1.5rem;
        }
        .cta-block__content{
            flex: 0 0 100%;
        }
        .cta-block__form{
            margin-top: $padding;
            flex: 0 0 100%;
        }
    }
}