.form{
    .form__group{
        display: flex;
        flex-wrap: wrap;
    }
    &_courses{
        .form__group{
            .form__agree{
                padding-right: 20px;
            }
        }
        .form__group_col{
            margin-left: -5px;
            margin-right: -5px;
            .form-input{
                flex: 0 0 calc(50% - 10px);
                max-width: calc(50% - 10px);
                margin-left: 5px;
                margin-right: 5px;
            }

            & + .form__group{
                margin-top: 10px;
            }
        }
        
    }
    &_cta{
        .btn{
            flex: 0 0 180px;
            max-width: 100%;
        }
        .form-input{
            margin-right: 10px;
            flex: 0 0 calc(100% - 190px);
            max-width: 100%;
        }
    }
}
.form-input{
    outline: none;
    border: none;
    border-radius: 12px;
    padding: 14px 20px;
}
.checkbox{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    &__input{
        width: 14px;
        height: 14px;
        margin: 0;
        margin-right: 10px;
    }
    &__label{
        font-size: 12px;
    }
    &__link{
        text-decoration: underline;
    }
}