.form{
    .form__group{
        display: flex;
        flex-wrap: wrap;
    }
    .form__label{
        font-size: 12px;
        line-height: 14px;

        display: inline-block;
        margin-bottom: 10px;
    }
    .form__input{
        padding: 15px;

        width: 100%;
        max-width: 100%;
        
        font-size: 18px;
        line-height: 20px;

        background: #f2f3f4;
        border: none;
        border-bottom: 1px solid #796e52;

        &::placeholder{
            opacity: .5;
        }
        &:focus{
            outline: none;

            &::placeholder{
                opacity: 0;
            }
        }

        & + .form__label{
            margin-top: 20px;
        }
    }
    &_courses{
        .form__group{
            .form__agree{
                padding-right: 20px;
            }
        }
        .form__group_col{
            margin-left: -5px;
            margin-right: -5px;
            .form-input{
                flex: 0 0 calc(50% - 10px);
                max-width: calc(50% - 10px);
                margin-left: 5px;
                margin-right: 5px;
            }

            & + .form__group{
                margin-top: 10px;
            }
        }
        
    }
    &_cta{
        .btn{
            flex: 0 0 180px;
            max-width: 100%;
        }
        .form-input{
            margin-right: 10px;
            flex: 0 0 calc(100% - 190px);
            max-width: 100%;
        }
    }
}
.form-input{
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 14px 20px;
}
.checkbox{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    &__input{
        width: 14px;
        height: 14px;
        margin: 0;
        margin-right: 10px;
    }
    &__label{
        font-size: 12px;
    }
    &__link{
        text-decoration: underline;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .form{
        &_cta{
            .form-input{
                flex: 0 0 100%;
                margin-bottom: 10px;
                margin-right: 0;
            }
            .btn{
                flex: 0 0 100%;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .form{
        &_cta{
            .form-input{
                flex: 0 0 calc(100% - 190px);
                margin-bottom: 0;
                margin-right: 10px;
            }
            .btn{
                flex: 0 0 180px;
            }
        }
        &_courses{
            .form__group_col{
                .form-input{
                    flex: 0 0 100%;
                    max-width: 100%;
                    & + .form-input{
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .form{
        &_cta{
            .btn{
                flex: 0 0 100%;
                max-width: 100%;
            }
            .form-input{
                margin-bottom: 10px;
                margin-right: 0;
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}