.info{
    .info__label{
        font-size: 12px;
        line-height: 1;
        color: $text-grey;
        margin-bottom: 0;
    }
    .info__content{
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 1;
        color: $grey;

        margin-top: 6px;
        
        &_rub{
            display: inline-block;
            padding-right: 16px;
            background: url("../img/2020/rub.svg") no-repeat center right / 12px;
        }
    }
}
.info-group{
    display: flex;
    flex-wrap: wrap;

    margin-left: -20px;
    margin-right: -20px;

    .info{
        padding: 0 20px;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .info{
        .info__content{
            font-size: 1.25rem;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .info{
        .info__content{
            font-size: 1.5rem;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .info{
        .info__content{
            font-size: 1.15rem;
        }
    }
}