.slider{
    .slider__title{
        font-size: 44px;
        color: $text-heading;
        font-weight: bold;
        line-height: 1.2;

        & + .slider__subtitle{
            margin-top: 30px;
        }
    }
    .slider__subtitle{
        font-size: 20px;
        color: $text-grey;
    }

    .arrow{
        width: 40px;
        height: 40px;
        border-radius: 20px;
        border: 1px solid $border-color;
        box-shadow: 0px 6px 10px 0px rgba(41, 41, 41, 0.05);

        position: absolute;
        top: calc(50% - 20px);
        z-index: 101;

        opacity: .5;
        transition: .4s;

        &_left{
            left: 0;
            background: $white url("../img/2020/arrow-prev.svg") no-repeat center / 12px;
        }
        &_right{
            right: 0;
            background: $white url("../img/2020/arrow-next.svg") no-repeat center / 12px;
        }
        
        &:hover, &:focus{
            opacity: 1;
        }
        &.slick-disabled{
            opacity: .5;
            cursor: not-allowed;
        }
    }
    // Slick
    &.slick-initialized{
        .slick-slide{
            height: auto;
        }
    }
    // Style
    &_info{
        padding: 65px 0 60px;
        .slick-initialized{
            .slick-dots{
                text-align: left;
                li{
                    width: 48px;
                    height: 6px;
                    button{
                        width: 100%;
                        height: 100%;
                        padding: 0;
                        &:before{
                            background-color: $text-darkblue;
                            content: '';
                            font-family: inherit;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    &:nth-child(1){
                        margin-left: 0;
                    }
                }
            }
        }
        .slick-dotted.slick-slider{
            margin-bottom: 70px;
            .slick-dots{
                bottom: -70px;
            }
        }
    }
    &_license{
        padding: 0 10px;
        .slider__item{
            padding: 0 10px;
        }
    }
    &_reviews{
        margin-left: -10px;
        margin-right: -10px;
        .slider__item{
            padding: 0 10px;
        }
        .arrow_left {
            left: -10px;
        }
        .arrow_right {
            right: -10px;
        }
    }
    &_document{
        padding: 0 60px;
        .slider__item{
            padding: 0 20px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .slider{
        .slider__title{
            font-size: 34px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .slider{
        .slider__title{
            font-size: 30px;
        }
        .slider__subtitle{
            font-size: 16px;
        }
        // Style
        &_info{
            padding: 30px 0 40px;
            .slick-dotted.slick-slider{
                margin-bottom: 30px;
                .slick-dots{
                    bottom: -30px;
                }
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .slider{
        .slider__title{
            & + .slider__subtitle {
                margin-top: 20px;
            }
        }
        // Style
        &_info{
            padding: 30px 0 40px;
            .slick-dotted.slick-slider{
                margin-bottom: 60px;
                .slick-dots{
                    bottom: -30px;
                }
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .slider{
        .slider__title{
            font-size: 24px;
            & + .slider__subtitle {
                margin-top: 10px;
            }
        }
        .slider__subtitle{
            font-size: 14px;
        }
        // Style
        &_info{
            .slick-dotted.slick-slider{
                margin-bottom: 40px;
                .slick-dots{
                    bottom: -20px;
                }
            }
        }
    }
}