/* Main Content*/
.content {
  padding: 60px 0;
}

.content .container_inside {
  width: 910px;
  max-width: 100%;
}

.content .content__subtitle {
  font-size: 14px;
  font-weight: 300;
}

.content .content__title {
  font-size: 32px;
  line-height: 1.25;
  color: #a2926b;
  margin-bottom: 30px;
}

.content .content__title + .content__offer {
  margin-top: -15px;
}

.content .content__offer {
  font-size: 14px;
}

.content .content__offer + .row {
  margin-top: 60px;
}

.content .cta-wrap + .content__offer {
  margin-top: 20px;
}

.content * + ul, .content * + ol,
.content p + ul, .content p + ol,
.content ul + p, .content ol + p,
.content p + p {
  margin-top: 20px;
}

/* Media */
@media all and (max-width: 576px) {
  .content .content__title {
    font-size: 24px;
  }
  .content .content__offer + .row {
    margin-top: 30px;
  }
}

/* Title Block */
/* Title Block */
.content_header {
  background: #f2f5f6;
  padding: 40px 0 60px;
}

.content_header p {
  width: 940px;
  max-width: 100%;
}

.content_header p + p {
  margin-top: 15px;
}

/* Media */
@media all and (max-width: 576px) {
  .content_header .content__title {
    font-size: 28px;
    line-height: 32px;
  }
}

/* Breadcrumb Block */
/* Breadcrumb Block */
.content__breadcrumbs {
  margin-top: 0px !important;
  margin-bottom: 30px;
}

.content__breadcrumbs__item {
  position: relative;
  display: inline-block;
}

.content__breadcrumbs__item + .content__breadcrumbs__item {
  padding-left: 10px;
}

.content__breadcrumbs__item + .content__breadcrumbs__item:before {
  content: "";
  display: block;
  width: 10px;
  height: 18px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/icon/arrow-next.svg") no-repeat center/8px;
}

.content__breadcrumbs__link {
  font-size: 14px;
  line-height: 18px;
  color: #3e83a4;
}

.content__breadcrumbs__link:hover {
  color: #599fc1;
}

.content__breadcrumbs__span {
  font-size: 14px;
  line-height: 18px;
  color: #7c7c7c;
}

/* Toggle Item*/
.tab-toggle {
  border-bottom: 1px solid #97d7f6;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  padding-bottom: 15px;
}

.tab-toggle + .tab-toggle {
  margin-top: 15px;
}

.tab-title {
  font-size: 1.15rem;
  font-weight: 600;
  color: #36677f;
  text-transform: uppercase;
  cursor: pointer;
}

.tab-content {
  display: none;
  padding-top: 15px;
  width: 740px;
  max-width: 100%;
}

.tab-content a {
  color: #36677f;
  text-decoration: underline;
}

.tab-content a:hover {
  color: #3e83a4;
}

/* List */
.list-info {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5em;
}

.list-info .list-item {
  position: relative;
  padding-left: 50px;
  margin-bottom: 1.5em;
}

.list-info .list-item__name {
  display: block;
}

.list-info .list-item__content {
  display: block;
  color: #3e83a4;
  font-size: 1.5em;
  font-weight: 600;
}

.list-info .list-item:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
}

.list-info .list-item_time:before {
  background: url("../img/icon/event.svg") no-repeat left 4px/30px;
}

.list-info .list-item_price:before {
  background: url("../img/icon/wallet.svg") no-repeat left 0px/30px;
}

.list-info .list-item_white {
  color: #fff;
}

.list-info .list-item_white .list-item__content {
  color: #97d7f6;
}

.list-info .list-item_white.list-item_time:before {
  background: url("../img/icon/event_white.svg") no-repeat left 4px/30px;
}

.list-info .list-item_white.list-item_price:before {
  background: url("../img/icon/wallet_white.svg") no-repeat left 0px/30px;
}

.list-info_inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.list-info_inline .list-item {
  margin-right: 30px;
}

.list li {
  position: relative;
  padding-left: 15px;
}

.list li:before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background-color: #8cd1f2;
  position: absolute;
  left: 0;
  top: 8px;
}

.list-contact .list-item {
  position: relative;
  padding-left: 30px;
}

.list-contact .list-item:before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 2px;
  left: 0;
}

.list-contact .list-item_address:before {
  background: url(../img/icon/maps.svg) no-repeat center;
}

.list-contact .list-item_phone:before {
  background: url(../img/icon/telephone.svg) no-repeat center;
}

.list-contact .list-item_vk:before {
  background: url(../img/icon/vk.svg) no-repeat center;
}

.list-contact .list-item_email:before {
  background: url(../img/icon/envelope.svg) no-repeat center;
}

.list-contact .list-item + .list-item {
  margin-top: 15px;
}

.map {
  width: 100%;
  min-height: 400px;
}

.map-info {
  display: none;
}

.map-logo {
  width: 150px;
  max-width: 100%;
  position: absolute;
  left: 0;
}

.map-content {
  position: relative;
  padding-left: 160px;
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
