@charset "UTF-8";
/* Main Content*/
.content {
  padding: 60px 0;
}

.content .container_inside {
  width: 910px;
  max-width: 100%;
}

.content .content__subtitle {
  font-size: 14px;
  font-weight: 300;
}

.content .content__title {
  font-size: 32px;
  line-height: 1.25;
  color: #a2926b;
  margin-bottom: 30px;
}

.content .content__title + .content__offer {
  margin-top: -15px;
}

.content .content__offer {
  font-size: 14px;
}

.content .content__offer + .row {
  margin-top: 60px;
}

.content .cta-wrap + .content__offer {
  margin-top: 15px;
}

.content * + ul, .content * + ol,
.content p + ul, .content p + ol,
.content ul + p, .content ol + p,
.content p + p {
  margin-top: 15px;
}

/* Media */
@media all and (max-width: 576px) {
  .content .content__title {
    font-size: 24px;
  }
  .content .content__offer + .row {
    margin-top: 30px;
  }
}

/* Title Block */
/* Title Block */
.content_header {
  background: #f2f5f6;
  padding: 40px 0 60px;
}

/* Media */
@media all and (max-width: 576px) {
  .content_header .content__title {
    font-size: 28px;
    line-height: 32px;
  }
}

/* Breadcrumb Block */
/* Breadcrumb Block */
.content__breadcrumbs {
  margin-top: 0px !important;
  margin-bottom: 30px;
}

.content__breadcrumbs__item {
  position: relative;
  display: inline-block;
}

.content__breadcrumbs__item + .content__breadcrumbs__item {
  padding-left: 15px;
}

.content__breadcrumbs__item + .content__breadcrumbs__item:before {
  content: "";
  display: block;
  width: 10px;
  height: 18px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/icon/arrow-next.svg") no-repeat center/8px;
}

.content__breadcrumbs__link {
  font-size: 14px;
  line-height: 18px;
  color: #3e83a4;
}

.content__breadcrumbs__link:hover {
  color: #599fc1;
}

.content__breadcrumbs__span {
  font-size: 14px;
  line-height: 18px;
  color: #7c7c7c;
}

/* SEO Block */
/* Block with text content */
.content_seo.page .container {
  padding: 0 15px;
}

.content_seo .container {
  padding: 0 80px;
}

.content_seo h2, .content_seo .h2 {
  color: #a2926b;
  font-size: 32px;
  line-height: 40px;
}

.content_seo h3, .content_seo .h3 {
  color: #a2926b;
  font-size: 28px;
  line-height: 34px;
}

.content_seo h4, .content_seo .h4 {
  color: #a2926b;
  font-size: 24px;
  line-height: 30px;
}

.content_seo h5, .content_seo .h5 {
  color: #a2926b;
  font-size: 18px;
  line-height: 24px;
}

.content_seo h6, .content_seo .h6 {
  color: #a2926b;
  font-size: 16px;
  line-height: 22px;
}

.content_seo p, .content_seo ul, .content_seo ol {
  font-size: 16px;
  line-height: 24px;
}

.content_seo .lead {
  font-size: 1.2em;
}

.content_seo h2 + *, .content_seo h3 + *, .content_seo h4 + *, .content_seo h5 + *, .content_seo h6 + *,
.content_seo .h2 + *, .content_seo .h3 + *, .content_seo .h4 + *, .content_seo .h5 + *, .content_seo .h6 + * {
  margin-top: 15px;
}

.content_seo * + h2, .content_seo * + h3, .content_seo * + h4, .content_seo * + h5, .content_seo * + h6,
.content_seo * + .h2, .content_seo * + .h3, .content_seo * + .h4, .content_seo * + .h5, .content_seo * + .h6 {
  margin-top: 30px;
}

.content_seo ul li {
  position: relative;
  padding-left: 15px;
}

.content_seo ul li:before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #a2926b;
}

.content_seo ul li + li {
  margin-top: 6px;
}

.content_seo ol {
  padding-left: 15px;
  list-style: decimal;
}

.content_seo ol li + li {
  margin-top: 6px;
}

/* Media */
@media all and (max-width: 768px) {
  .content_seo .container {
    padding: 0 60px;
  }
  .content_seo.page .container {
    padding: 0 30px;
  }
  .content_seo p, .content_seo ol, .content_seo ul {
    font-size: 14px;
    line-height: 23px;
  }
}

@media all and (max-width: 576px) {
  .content_seo .container {
    padding: 0 30px;
  }
}

/* Sale Block */
/* Information About Sale */
.content_sale {
  background: #f2f5f6;
}

.content_sale .content__title {
  margin-bottom: 60px;
  text-align: center;
}

.content_sale .row {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.content_sale .item .item__icon {
  background-color: #fff;
  margin-bottom: 30px;
}

.content_sale .item .item__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #325564;
}

.content_sale .item .item__offer {
  color: #325564;
}

/* Media */
@media all and (max-width: 992px) {
  .content_sale .item .item__title {
    font-size: 16px;
  }
}

@media all and (max-width: 768px) {
  .content_sale {
    padding-bottom: 30px;
  }
  .content_sale .item {
    margin-bottom: 30px;
  }
  .content_sale .item .item__icon {
    margin-bottom: 15px;
  }
  .content_sale .item .item__line {
    width: 80px;
  }
}

@media all and (max-width: 576px) {
  .content_sale .content__title {
    margin-bottom: 30px;
  }
}

/* Popular Study Direction */
/* Popular Сourses */
.content_popular {
  background: #003f5d;
}

.content_popular .content__title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
  color: #ceb780;
}

.content_popular .row {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.content_popular .product .product__title {
  font-weight: 700;
}

/* Media */
@media all and (max-width: 1200px) {
  .content_popular {
    padding-bottom: 30px;
  }
  .content_popular .row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .content_popular .row .column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 30px;
  }
}

@media all and (max-width: 992px) {
  .content_popular {
    padding-bottom: 60px;
  }
  .content_popular .row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .content_popular .row .column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
    margin-bottom: 0px;
  }
  .content_popular .row .column + .column {
    margin-top: 30px;
  }
}

@media all and (max-width: 768px) {
  .content_popular .row .column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
  }
}

@media all and (max-width: 576px) {
  .content_popular .row .column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Toggle Item*/
.tab-toggle {
  border-bottom: 1px solid #97d7f6;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  padding-bottom: 15px;
}

.tab-toggle + .tab-toggle {
  margin-top: 15px;
}

.tab-title {
  font-size: 1.15rem;
  font-weight: 600;
  color: #36677f;
  text-transform: uppercase;
  cursor: pointer;
}

.tab-content {
  display: none;
  padding-top: 15px;
  width: 740px;
  max-width: 100%;
}

.tab-content a {
  color: #36677f;
  text-decoration: underline;
}

.tab-content a:hover {
  color: #3e83a4;
}

/* List */
.list li {
  position: relative;
  padding-left: 15px;
}

.list li:before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background-color: #36677f;
  position: absolute;
  left: 0;
  top: 9px;
}

.list-info {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5em;
}

.list-info .list-item {
  position: relative;
  padding-left: 50px;
  margin-bottom: 1.5em;
}

.list-info .list-item__name {
  display: block;
}

.list-info .list-item__content {
  display: block;
  color: #3e83a4;
  font-size: 1.5em;
  font-weight: 600;
}

.list-info .list-item:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
}

.list-info .list-item_time:before {
  background: url("../img/icon/event.svg") no-repeat left 4px/30px;
}

.list-info .list-item_price:before {
  background: url("../img/icon/wallet.svg") no-repeat left 0px/30px;
}

.list-info .list-item_white {
  color: #fff;
}

.list-info .list-item_white .list-item__content {
  color: #97d7f6;
}

.list-info .list-item_white.list-item_time:before {
  background: url("../img/icon/event_white.svg") no-repeat left 4px/30px;
}

.list-info .list-item_white.list-item_price:before {
  background: url("../img/icon/wallet_white.svg") no-repeat left 0px/30px;
}

.list-info_inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.list-info_inline .list-item {
  margin-right: 30px;
}

.list-contact .list-item {
  position: relative;
  padding-left: 30px;
}

.list-contact .list-item:before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 2px;
  left: 0;
}

.list-contact .list-item_address:before {
  background: url(../img/icon/maps.svg) no-repeat center;
}

.list-contact .list-item_phone:before {
  background: url(../img/icon/telephone.svg) no-repeat center;
}

.list-contact .list-item_vk:before {
  background: url(../img/icon/vk.svg) no-repeat center;
}

.list-contact .list-item_email:before {
  background: url(../img/icon/envelope.svg) no-repeat center;
}

.list-contact .list-item + .list-item {
  margin-top: 15px;
}

/* Item with Icon */
/* Item with Icon */
.item {
  text-align: center;
}

.item__icon {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: #f2f5f6;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  margin: 0 auto 15px;
}

.item__icon.consulting {
  background: url("../img/icon/consulting.svg") no-repeat center 20px/35px;
}

.item__icon.store {
  background: url("../img/icon/online-shop.svg") no-repeat center 22px/35px;
}

.item__icon.insurance {
  background: url("../img/icon/insurance.svg") no-repeat 26px 22px/35px;
}

.item__icon.cv {
  background: url("../img/icon/cv.svg") no-repeat center 20px/35px;
}

.item__icon.delivery {
  background: url("../img/icon/icon_delivery.svg") no-repeat center 20px/35px;
}

.item__icon.clients {
  background: url("../img/icon/icon_clients.svg") no-repeat center/35px;
}

.item__icon.consultation {
  background: url("../img/icon/icon_consultation.svg") no-repeat center/35px;
}

.item__icon.certificate {
  background: url("../img/icon/icon_iso.svg") no-repeat center/60px;
}

.item__icon.format {
  background: url("../img/icon/icon_format.svg") no-repeat center/35px;
}

.item__icon.delivery-car {
  background: url("../img/icon/tracking.svg") no-repeat center 14px/44px;
}

.item__icon.question {
  background: url("../img/icon/question.svg") no-repeat 20px center/40px;
}

.item__icon.law {
  background: url("../img/icon/law.svg") no-repeat 25px center/30px;
}

.item__icon.money-light {
  background: url("../img/icon/icon_bank.svg") no-repeat 20px 16px/42px;
}

.item__icon.lecture {
  background: url("../img/icon/lecture.svg") no-repeat 22px 20px/36px;
}

.item__icon.united {
  background: url("../img/icon/united.svg") no-repeat center/40px;
}

.item__icon.free-delivery {
  background: url("../img/icon/tracking.svg") no-repeat center 14px/44px;
}

.item__icon.contract {
  background: url("../img/icon/contract.svg") no-repeat 25px center/35px;
}

.item__title {
  font-size: 16px;
  line-height: 22px;
}

.item__offer {
  font-size: 14px;
  line-height: 20px;
  width: 200px;
  max-width: 100%;
  margin: 0 auto;
}

.item__line {
  background: #a2926b;
  width: 180px;
  max-width: 100%;
  height: 2px;
  margin: 15px auto;
}

/* Media */
@media all and (max-width: 576px) {
  .item__title {
    font-size: 14px;
  }
}

/* Item File with Image */
.item_files {
  margin-bottom: 30px;
  border: 1px solid #d3e7d1;
}

.item_files .item__title {
  padding: 18px 30px;
}

.item_no-image {
  border-left: 4px solid #3e83a4;
}

/* Item Study Direction */
/* Product Item */
.product {
  position: relative;
  display: block;
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
}

.product .product__title {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: 60px;
  padding: 30px 15px 18px;
  background: url(../img/program/background.svg) no-repeat right top/cover;
  color: #448aa7;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.product .product__name {
  font-size: 16px;
  line-height: 20px;
  position: relative;
  z-index: 2;
}

.product .product__price {
  position: relative;
  z-index: 2;
  font-size: 14px;
  font-weight: 600;
  color: #222;
}

.product:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 200px solid rgba(25, 112, 174, 0.15);
  border-right: 200px solid transparent;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.product:hover:before {
  border-top-color: rgba(25, 112, 174, 0.05);
}

.product:hover .product__title {
  color: #2e5d71;
}

/* Media */
@media all and (max-width: 768px) {
  .product .product__title {
    padding-bottom: 10px;
  }
  .product .product__name {
    font-size: 14px;
    line-height: 18px;
  }
}

.map {
  width: 100%;
  min-height: 400px;
}

.map-info {
  display: none;
}

.map-logo {
  width: 150px;
  max-width: 100%;
  position: absolute;
  left: 0;
}

.map-content {
  position: relative;
  padding-left: 160px;
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
