/* Main Content*/
.content {
  padding: 60px 0;
}

.content .container_inside {
  width: 910px;
  max-width: 100%;
}

.content .content__subtitle {
  font-size: 14px;
  font-weight: 300;
}

.content .content__title {
  font-size: 32px;
  line-height: 1.25;
  color: #a2926b;
  margin-bottom: 30px;
}

.content .content__title + .content__offer {
  margin-top: -15px;
}

.content .content__offer {
  font-size: 14px;
}

.content .content__offer + .row {
  margin-top: 60px;
}

.content .cta-wrap + .content__offer {
  margin-top: 15px;
}

.content * + ul, .content * + ol,
.content p + ul, .content p + ol,
.content ul + p, .content ol + p,
.content p + p {
  margin-top: 15px;
}

/* Media */
@media all and (max-width: 576px) {
  .content .content__title {
    font-size: 24px;
  }
  .content .content__offer + .row {
    margin-top: 30px;
  }
}

/* Title Block */
/* Title Block */
.content_header {
  background: #f2f5f6;
  padding: 40px 0 60px;
}

/* Media */
@media all and (max-width: 576px) {
  .content_header .content__title {
    font-size: 28px;
    line-height: 32px;
  }
}

/* Breadcrumb Block */
/* Breadcrumb Block */
.content__breadcrumbs {
  margin-top: 0px !important;
  margin-bottom: 30px;
}

.content__breadcrumbs__item {
  position: relative;
  display: inline-block;
}

.content__breadcrumbs__item + .content__breadcrumbs__item {
  padding-left: 15px;
}

.content__breadcrumbs__item + .content__breadcrumbs__item:before {
  content: "";
  display: block;
  width: 10px;
  height: 18px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/icon/arrow-next.svg") no-repeat center/8px;
}

.content__breadcrumbs__link {
  font-size: 14px;
  line-height: 18px;
  color: #3e83a4;
}

.content__breadcrumbs__link:hover {
  color: #599fc1;
}

.content__breadcrumbs__span {
  font-size: 14px;
  line-height: 18px;
  color: #7c7c7c;
}

/* Preview Item */
/* Child Page Preview */
.preview-page {
  /* Inline Style */
}

.preview-page__title {
  font-size: 20px;
  color: #a2926b;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 30px;
}

.preview-page__list, .preview-page__content ul {
  margin-bottom: 30px;
}

.preview-page__list.last, .preview-page__content ul.last {
  margin-bottom: 0px;
}

.preview-page__list .preview-page__item + .preview-page__item, .preview-page__content ul .preview-page__item + .preview-page__item, .preview-page__list .preview-page__content ul li + .preview-page__item, .preview-page__content ul .preview-page__list li + .preview-page__item, .preview-page__content ul li + .preview-page__item, .preview-page__list .preview-page__content ul .preview-page__item + li, .preview-page__content ul .preview-page__list .preview-page__item + li, .preview-page__content ul .preview-page__item + li, .preview-page__list .preview-page__content ul li + li, .preview-page__content ul .preview-page__list li + li, .preview-page__content ul li + li {
  margin-top: 15px;
}

.preview-page__item, .preview-page__content ul li {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  padding-left: 20px;
  background-image: url("../img/icon/arrow-light.svg");
  background-repeat: no-repeat;
  background-position: 0px center;
  background-size: 10px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.preview-page__item:hover, .preview-page__content ul li:hover {
  background-position: 4px center;
}

.preview-page__offer {
  font-size: 12px;
  color: #fff;
}

.preview-page__offer + .preview-page__color-number {
  margin-top: 6px;
}

.preview-page__color-number {
  font-size: 20px;
  font-weight: 700;
  color: #a3c6d8;
}

.preview-page__color-number + .btn {
  margin-top: 30px;
}

.preview-page__programm {
  border-top: 1px solid #a2926b;
}

.preview-page__programm .list-info {
  margin: 10px 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.preview-page__programm .list-info .list-item {
  margin: 10px 0;
}

.preview-page__programm .list-info .list-item .list-item__name {
  font-size: 12px;
  line-height: 1;
}

.preview-page__programm .list-info .list-item .list-item__content {
  font-size: 1.25rem;
}

.preview-page_inline {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.preview-page_inline .preview-page__list, .preview-page_inline .preview-page__content ul, .preview-page__content .preview-page_inline ul {
  margin-bottom: 0;
}

.preview-page_inline .preview-page__programm {
  border-top: 0;
}

.preview-page_inline .list-info,
.preview-page_inline .list-info .list-item {
  margin-top: 0;
}

.preview-page_inline + .preview-page_inline {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #a2926b;
}

/* Media */
@media all and (max-width: 768px) {
  .preview-page__title {
    font-size: 16px;
  }
  .preview-page .btn-group .btn {
    width: 100%;
  }
  .preview-page .btn-group .btn + .btn {
    margin-top: 10px;
  }
}

@media all and (max-width: 576px) {
  .preview-page__title {
    font-size: 20px;
  }
}

/* List Info about Programm */
.list li {
  position: relative;
  padding-left: 15px;
}

.list li:before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background-color: #8cd1f2;
  position: absolute;
  left: 0;
  top: 8px;
}

.list-info {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5em;
}

.list-info .list-item {
  position: relative;
  padding-left: 50px;
  margin-bottom: 1.5em;
}

.list-info .list-item__name {
  display: block;
}

.list-info .list-item__content {
  display: block;
  color: #3e83a4;
  font-size: 1.5em;
  font-weight: 600;
}

.list-info .list-item:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
}

.list-info .list-item_time:before {
  background: url("../img/icon/event.svg") no-repeat left 4px/30px;
}

.list-info .list-item_price:before {
  background: url("../img/icon/wallet.svg") no-repeat left 0px/30px;
}

.list-info .list-item_white {
  color: #fff;
}

.list-info .list-item_white .list-item__content {
  color: #97d7f6;
}

.list-info .list-item_white.list-item_time:before {
  background: url("../img/icon/event_white.svg") no-repeat left 4px/30px;
}

.list-info .list-item_white.list-item_price:before {
  background: url("../img/icon/wallet_white.svg") no-repeat left 0px/30px;
}

.list-info_inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.list-info_inline .list-item {
  margin-right: 30px;
}

.list-contact .list-item {
  position: relative;
  padding-left: 30px;
}

.list-contact .list-item:before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 2px;
  left: 0;
}

.list-contact .list-item_address:before {
  background: url(../img/icon/maps.svg) no-repeat center;
}

.list-contact .list-item_phone:before {
  background: url(../img/icon/telephone.svg) no-repeat center;
}

.list-contact .list-item_vk:before {
  background: url(../img/icon/vk.svg) no-repeat center;
}

.list-contact .list-item_email:before {
  background: url(../img/icon/envelope.svg) no-repeat center;
}

.list-contact .list-item + .list-item {
  margin-top: 15px;
}
