@charset "UTF-8";
/* Main Content*/
.content {
  padding: 60px 0;
}

.content .container_inside {
  width: 910px;
  max-width: 100%;
}

.content .content__subtitle {
  font-size: 14px;
  font-weight: 300;
}

.content .content__title {
  font-size: 32px;
  line-height: 1.25;
  color: #a2926b;
  margin-bottom: 30px;
}

.content .content__title + .content__offer {
  margin-top: -15px;
}

.content .content__offer {
  font-size: 14px;
}

.content .content__offer + .row {
  margin-top: 60px;
}

.content .cta-wrap + .content__offer {
  margin-top: 15px;
}

.content * + ul, .content * + ol,
.content p + ul, .content p + ol,
.content ul + p, .content ol + p,
.content p + p {
  margin-top: 15px;
}

/* Media */
@media all and (max-width: 576px) {
  .content .content__title {
    font-size: 24px;
  }
  .content .content__offer + .row {
    margin-top: 30px;
  }
}

/* Title Block */
/* Title Block */
.content_header {
  background: #f2f5f6;
  padding: 40px 0 60px;
}

/* Media */
@media all and (max-width: 576px) {
  .content_header .content__title {
    font-size: 28px;
    line-height: 32px;
  }
}

/* Breadcrumb Block */
/* Breadcrumb Block */
.content__breadcrumbs {
  margin-top: 0px !important;
  margin-bottom: 30px;
}

.content__breadcrumbs__item {
  position: relative;
  display: inline-block;
}

.content__breadcrumbs__item + .content__breadcrumbs__item {
  padding-left: 15px;
}

.content__breadcrumbs__item + .content__breadcrumbs__item:before {
  content: "";
  display: block;
  width: 10px;
  height: 18px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/icon/arrow-next.svg") no-repeat center/8px;
}

.content__breadcrumbs__link {
  font-size: 14px;
  line-height: 18px;
  color: #3e83a4;
}

.content__breadcrumbs__link:hover {
  color: #599fc1;
}

.content__breadcrumbs__span {
  font-size: 14px;
  line-height: 18px;
  color: #7c7c7c;
}

/* Sidebar Information Block */
/* Block With Information in Sidebar*/
.sidebar-info {
  background: #ebeeef;
  border: 8px solid #d1dee4;
  padding: 40px;
}

.sidebar-info_small {
  width: 400px;
  max-width: 100%;
  margin-left: auto;
}

.sidebar-info_small .btn {
  width: 100%;
}

.sidebar-info__title {
  font-size: 22px;
  color: #33454e;
  margin-bottom: 20px;
}

.sidebar-info__item {
  position: relative;
}

.sidebar-info__list {
  font-size: 14px;
  list-style: square;
  padding-left: 16px;
  color: #33454e;
}

.sidebar-info__list .info__item + .info__item {
  margin-top: 10px;
}

@media all and (max-width: 768px) {
  .sidebar-info_small {
    width: 100%;
  }
}

/* SEO Block */
/* Block with text content */
.content_seo.page .container {
  padding: 0 15px;
}

.content_seo .container {
  padding: 0 80px;
}

.content_seo h2, .content_seo .h2 {
  color: #a2926b;
  font-size: 32px;
  line-height: 40px;
}

.content_seo h3, .content_seo .h3 {
  color: #a2926b;
  font-size: 28px;
  line-height: 34px;
}

.content_seo h4, .content_seo .h4 {
  color: #a2926b;
  font-size: 24px;
  line-height: 30px;
}

.content_seo h5, .content_seo .h5 {
  color: #a2926b;
  font-size: 18px;
  line-height: 24px;
}

.content_seo h6, .content_seo .h6 {
  color: #a2926b;
  font-size: 16px;
  line-height: 22px;
}

.content_seo p, .content_seo ul, .content_seo ol {
  font-size: 16px;
  line-height: 24px;
}

.content_seo .lead {
  font-size: 1.2em;
}

.content_seo h2 + *, .content_seo h3 + *, .content_seo h4 + *, .content_seo h5 + *, .content_seo h6 + *,
.content_seo .h2 + *, .content_seo .h3 + *, .content_seo .h4 + *, .content_seo .h5 + *, .content_seo .h6 + * {
  margin-top: 15px;
}

.content_seo * + h2, .content_seo * + h3, .content_seo * + h4, .content_seo * + h5, .content_seo * + h6,
.content_seo * + .h2, .content_seo * + .h3, .content_seo * + .h4, .content_seo * + .h5, .content_seo * + .h6 {
  margin-top: 30px;
}

.content_seo ul li {
  position: relative;
  padding-left: 15px;
}

.content_seo ul li:before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #a2926b;
}

.content_seo ul li + li {
  margin-top: 6px;
}

.content_seo ol {
  padding-left: 15px;
  list-style: decimal;
}

.content_seo ol li + li {
  margin-top: 6px;
}

/* Media */
@media all and (max-width: 768px) {
  .content_seo .container {
    padding: 0 60px;
  }
  .content_seo.page .container {
    padding: 0 30px;
  }
  .content_seo p, .content_seo ol, .content_seo ul {
    font-size: 14px;
    line-height: 23px;
  }
}

@media all and (max-width: 576px) {
  .content_seo .container {
    padding: 0 30px;
  }
}

/* Sale Block */
/* Information About Sale */
.content_sale {
  background: #f2f5f6;
}

.content_sale .content__title {
  margin-bottom: 60px;
  text-align: center;
}

.content_sale .row {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.content_sale .item .item__icon {
  background-color: #fff;
  margin-bottom: 30px;
}

.content_sale .item .item__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #325564;
}

.content_sale .item .item__offer {
  color: #325564;
}

/* Media */
@media all and (max-width: 992px) {
  .content_sale .item .item__title {
    font-size: 16px;
  }
}

@media all and (max-width: 768px) {
  .content_sale {
    padding-bottom: 30px;
  }
  .content_sale .item {
    margin-bottom: 30px;
  }
  .content_sale .item .item__icon {
    margin-bottom: 15px;
  }
  .content_sale .item .item__line {
    width: 80px;
  }
}

@media all and (max-width: 576px) {
  .content_sale .content__title {
    margin-bottom: 30px;
  }
}

/* Popular Study Direction */
/* Popular Сourses */
.content_popular {
  background: #003f5d;
}

.content_popular .content__title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
  color: #ceb780;
}

.content_popular .row {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.content_popular .product .product__title {
  font-weight: 700;
}

/* Media */
@media all and (max-width: 1200px) {
  .content_popular {
    padding-bottom: 30px;
  }
  .content_popular .row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .content_popular .row .column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 30px;
  }
}

@media all and (max-width: 992px) {
  .content_popular {
    padding-bottom: 60px;
  }
  .content_popular .row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .content_popular .row .column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
    margin-bottom: 0px;
  }
  .content_popular .row .column + .column {
    margin-top: 30px;
  }
}

@media all and (max-width: 768px) {
  .content_popular .row .column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
  }
}

@media all and (max-width: 576px) {
  .content_popular .row .column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* For Cources Page: Example Doc & Work Step */
.page .page__column ul:not(.list-info) li {
  position: relative;
  padding-left: 15px;
}

.page .page__column ul:not(.list-info) li:before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background-color: #36677f;
  position: absolute;
  left: 0;
  top: 9px;
}

.page .page__column ul:not(.list-info) li + li {
  margin-top: 5px;
}

.page .page__column .list-info {
  width: 420px;
  max-width: 100%;
  margin: 0 auto;
}

.page .page__column_education {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.page .page__content {
  width: 420px;
  max-width: 100%;
  margin: 0 auto;
}

.page .page__content + .list-info {
  margin-top: 30px;
}

.page .page__icon {
  display: block;
  width: 90px;
  height: 90px;
  margin: 0 auto 15px;
  padding: 20px;
  background: #fff;
  border: 6px solid #ebeeef;
  border-radius: 50%;
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
}

.page .page__title {
  font-size: 18px;
  font-weight: 600;
}

.page .page__title + .page__intro {
  margin-top: 15px;
}

.page .page__example {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  height: 235px;
  margin-bottom: 40px;
}

.page .page__example__title {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 330px;
  flex: 0 0 330px;
  max-width: 330px;
  height: 100%;
  padding-left: 80px;
  padding-top: 80px;
  background: #4a8baa;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.3em;
}

.page .page__example__block {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 330px);
  flex: 0 0 calc(100% - 330px);
  max-width: calc(100% - 330px);
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #b7d5e4;
  text-align: center;
}

.page .page__example__block-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100%/3);
  flex: 0 0 calc(100%/3);
  max-width: calc(100%/3);
  height: 100%;
  margin: 0;
  padding-top: 160px;
  font-weight: bold;
}

.page .page__example__block-item.doc1 {
  background: url(../img/doc/1.png) no-repeat center 50px/150px;
}

.page .page__example__block-item.doc2 {
  background: url(../img/doc/2.png) no-repeat center 50px/150px;
}

.page .page__example__block-item.doc3 {
  background: url(../img/doc/3.png) no-repeat center 50px/150px;
}

.page .page__work-stage {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  height: 235px;
  margin-bottom: 40px;
}

.page .page__work-stage__title {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 330px;
  flex: 0 0 330px;
  max-width: 330px;
  height: 100%;
  padding-left: 80px;
  padding-top: 80px;
  background: #185778;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.3em;
}

.page .page__work-stage__block {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 330px);
  flex: 0 0 calc(100% - 330px);
  max-width: calc(100% - 330px);
  height: 100%;
  background: #73acc8 url("../img/doc/back.png") left no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.page .page__work-stage__block-item {
  width: calc(100%/3);
  height: auto;
  color: #fff;
  padding-top: 60px;
}

.page .page__work-stage__block-item .number {
  font-size: 60px;
  font-weight: bold;
  line-height: 1em;
}

.page .page__work-stage__block-item.step1 {
  padding-left: 40px;
}

.page .page__work-stage__block-item.step1 .name {
  width: 100px;
  max-width: 100%;
}

.page .page__work-stage__block-item.step2 .name {
  width: 150px;
  max-width: 100%;
}

.page .page__work-stage__block-item.step3 .name {
  width: 220px;
  max-width: 100%;
}

@media all and (max-width: 1200px) {
  .page .page__work-stage__block {
    background: #4a8baa;
  }
  .page .page__work-stage__block-item.step1 {
    padding-left: 60px;
  }
}

@media all and (max-width: 992px) {
  .page .page__example {
    height: auto;
  }
  .page .page__example__title {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    height: auto;
    padding: 30px;
  }
  .page .page__example__block {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    height: auto;
  }
  .page .page__example__block-item {
    height: auto;
    padding: 30px;
    text-align: left;
  }
  .page .page__example__block-item.doc1 {
    background: inherit;
    padding-left: 30px;
  }
  .page .page__example__block-item.doc2, .page .page__example__block-item.doc3 {
    background: inherit;
  }
  .page .page__work-stage {
    height: auto;
  }
  .page .page__work-stage__title {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    height: auto;
    padding: 30px;
  }
  .page .page__work-stage__block {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    height: auto;
  }
  .page .page__work-stage__block-item {
    padding: 30px;
  }
  .page .page__work-stage__block-item.step1 {
    padding-left: 30px;
  }
  .page .page__work-stage__block-item.step1 .name {
    width: 100%;
  }
  .page .page__work-stage__block-item.step2 .name, .page .page__work-stage__block-item.step3 .name {
    width: 100%;
  }
  .page .list-info_inline {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media all and (max-width: 576px) {
  .page .page__example__title {
    font-size: 20px;
  }
  .page .page__example__block {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .page .page__work-stage__title {
    font-size: 20px;
  }
  .page .page__work-stage__block-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .page .page__work-stage__block-item .number {
    font-size: 40px;
  }
  .page .page__work-stage__block-item .name {
    margin-top: 0;
    margin-left: 15px;
  }
  .page .page__work-stage__block-item.step2 {
    padding-top: 0;
  }
  .page .page__work-stage__block-item.step3 {
    padding-top: 0;
  }
  .page_advantage .page__intro {
    width: 200px;
    max-width: 100%;
    margin: 0 auto;
  }
}

/* List */
.list li {
  position: relative;
  padding-left: 15px;
}

.list li:before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background-color: #36677f;
  position: absolute;
  left: 0;
  top: 9px;
}

.list li + li {
  margin-top: 5px;
}

.list-info {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5em;
}

.list-info .list-item {
  position: relative;
  padding-left: 50px;
  margin-bottom: 1.5em;
}

.list-info .list-item__name {
  display: block;
}

.list-info .list-item__content {
  display: block;
  color: #3e83a4;
  font-size: 1.5em;
  font-weight: 600;
}

.list-info .list-item:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
}

.list-info .list-item_time:before {
  background: url("../img/icon/event.svg") no-repeat left 4px/30px;
}

.list-info .list-item_price:before {
  background: url("../img/icon/wallet.svg") no-repeat left 0px/30px;
}

.list-info .list-item_white {
  color: #fff;
}

.list-info .list-item_white .list-item__content {
  color: #97d7f6;
}

.list-info .list-item_white.list-item_time:before {
  background: url("../img/icon/event_white.svg") no-repeat left 4px/30px;
}

.list-info .list-item_white.list-item_price:before {
  background: url("../img/icon/wallet_white.svg") no-repeat left 0px/30px;
}

.list-info_inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.list-info_inline .list-item {
  margin-right: 30px;
}

.list-contact .list-item {
  position: relative;
  padding-left: 30px;
}

.list-contact .list-item:before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 2px;
  left: 0;
}

.list-contact .list-item_address:before {
  background: url(../img/icon/maps.svg) no-repeat center;
}

.list-contact .list-item_phone:before {
  background: url(../img/icon/telephone.svg) no-repeat center;
}

.list-contact .list-item_vk:before {
  background: url(../img/icon/vk.svg) no-repeat center;
}

.list-contact .list-item_email:before {
  background: url(../img/icon/envelope.svg) no-repeat center;
}

.list-contact .list-item + .list-item {
  margin-top: 15px;
}

/* Item with Icon */
/* Item with Icon */
.item {
  text-align: center;
}

.item__icon {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: #f2f5f6;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  margin: 0 auto 15px;
}

.item__icon.consulting {
  background: url("../img/icon/consulting.svg") no-repeat center 20px/35px;
}

.item__icon.store {
  background: url("../img/icon/online-shop.svg") no-repeat center 22px/35px;
}

.item__icon.insurance {
  background: url("../img/icon/insurance.svg") no-repeat 26px 22px/35px;
}

.item__icon.cv {
  background: url("../img/icon/cv.svg") no-repeat center 20px/35px;
}

.item__icon.delivery {
  background: url("../img/icon/icon_delivery.svg") no-repeat center 20px/35px;
}

.item__icon.clients {
  background: url("../img/icon/icon_clients.svg") no-repeat center/35px;
}

.item__icon.consultation {
  background: url("../img/icon/icon_consultation.svg") no-repeat center/35px;
}

.item__icon.certificate {
  background: url("../img/icon/icon_iso.svg") no-repeat center/60px;
}

.item__icon.format {
  background: url("../img/icon/icon_format.svg") no-repeat center/35px;
}

.item__icon.delivery-car {
  background: url("../img/icon/tracking.svg") no-repeat center 14px/44px;
}

.item__icon.question {
  background: url("../img/icon/question.svg") no-repeat 20px center/40px;
}

.item__icon.law {
  background: url("../img/icon/law.svg") no-repeat 25px center/30px;
}

.item__icon.money-light {
  background: url("../img/icon/icon_bank.svg") no-repeat 20px 16px/42px;
}

.item__icon.lecture {
  background: url("../img/icon/lecture.svg") no-repeat 22px 20px/36px;
}

.item__icon.united {
  background: url("../img/icon/united.svg") no-repeat center/40px;
}

.item__icon.free-delivery {
  background: url("../img/icon/tracking.svg") no-repeat center 14px/44px;
}

.item__icon.contract {
  background: url("../img/icon/contract.svg") no-repeat 25px center/35px;
}

.item__title {
  font-size: 16px;
  line-height: 22px;
}

.item__offer {
  font-size: 14px;
  line-height: 20px;
  width: 200px;
  max-width: 100%;
  margin: 0 auto;
}

.item__line {
  background: #a2926b;
  width: 180px;
  max-width: 100%;
  height: 2px;
  margin: 15px auto;
}

/* Media */
@media all and (max-width: 576px) {
  .item__title {
    font-size: 14px;
  }
}

/* Item Study Direction */
/* Product Item */
.product {
  position: relative;
  display: block;
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
}

.product .product__title {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: 60px;
  padding: 30px 15px 18px;
  background: url(../img/program/background.svg) no-repeat right top/cover;
  color: #448aa7;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.product .product__name {
  font-size: 16px;
  line-height: 20px;
  position: relative;
  z-index: 2;
}

.product .product__price {
  position: relative;
  z-index: 2;
  font-size: 14px;
  font-weight: 600;
  color: #222;
}

.product:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 200px solid rgba(25, 112, 174, 0.15);
  border-right: 200px solid transparent;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.product:hover:before {
  border-top-color: rgba(25, 112, 174, 0.05);
}

.product:hover .product__title {
  color: #2e5d71;
}

/* Media */
@media all and (max-width: 768px) {
  .product .product__title {
    padding-bottom: 10px;
  }
  .product .product__name {
    font-size: 14px;
    line-height: 18px;
  }
}

/* Slider */
.slider .slider__item_with-content {
  padding: 40px 40px 60px;
  min-height: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider .slider__item_with-content .line {
  width: 350px;
  max-width: 100%;
  height: 2px;
  background: #a2926b;
  margin: 30px auto;
}

.slider .slider__title {
  font-size: 36px;
  font-weight: 600;
  color: #36677f;
}

.slider .slider__offer {
  font-size: 1rem;
  line-height: 1.4;
}

.slider .slider__content {
  position: relative;
  display: inline-block;
  background: rgba(250, 250, 250, 0.6);
  padding: 50px 40px 40px;
  max-width: 100%;
  text-align: center;
}

.slider .slider__content:after {
  background: rgba(250, 250, 250, 0.3);
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: calc(100% + 60px);
  height: calc(100% + 60px);
  -webkit-transform: translateX(-30px) translateY(-30px);
  -ms-transform: translateX(-30px) translateY(-30px);
  transform: translateX(-30px) translateY(-30px);
}

.slider .arrow {
  position: absolute;
  top: calc(50% - 22px);
  width: 26px;
  height: 44px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.slider .arrow.arrow-left {
  left: 0;
  background: url("../img/icon/arrow-prev-gold.svg") no-repeat left center/contain;
}

.slider .arrow.arrow-right {
  right: 0;
  background: url("../img/icon/arrow-next-gold.svg") no-repeat right center/contain;
}

.slider_new-dots.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slider_new-dots .slick-dots {
  bottom: 15px;
}

.slider_new-dots .slick-dots li {
  margin-right: 5px;
  width: 100px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
}

.slider_new-dots .slick-dots li.slick-active {
  background-color: #fff;
}

.slider_with-arrow {
  padding: 0 44px;
}

.slider.slick-initialized .slick-slide {
  height: auto;
}

.slider.slick-initialized .slick-slide.slider__item_with-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider.slick-initialized .slick-arrow {
  width: 26px;
  height: 44px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.slider.slick-initialized .slick-arrow.slick-disabled {
  opacity: .4;
}

.slider.slick-initialized .slick-next {
  background: url(arrow-next.svg) no-repeat center/contain;
  right: 0px;
}

.slider.slick-initialized .slick-next:before {
  content: '';
}

.slider.slick-initialized .slick-prev {
  background: url(arrow-prev.svg) no-repeat center/contain;
  left: 0px;
}

.slider.slick-initialized .slick-prev:before {
  content: '';
}

@media all and (max-width: 768px) {
  .slider .slider__title {
    font-size: 28px;
  }
}

@media all and (max-width: 576px) {
  .slider .slider__item_with-content {
    padding: 20px 20px 40px;
    min-height: 380px;
  }
  .slider .slider__item_with-content .line {
    max-width: 60%;
  }
  .slider .slider__title {
    font-size: 24px;
  }
  .slider .slider__content {
    padding: 30px 20px 20px;
  }
  .slider_new-dots .slick-dots li {
    width: 40px;
  }
}

/* Section License */
.license {
  overflow: hidden;
}

.license .content__offer {
  width: 640px;
  max-width: 100%;
  margin: 0 auto 30px;
}

.content_catalog {
  background: #ebeeef;
}

.content_catalog .product {
  height: 300px;
}
