.row, .dropdown__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.row.flex-end, .flex-end.dropdown__nav {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.row.flex-start, .flex-start.dropdown__nav {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.row .column, .dropdown__nav .column, .row .dropdown__item, .dropdown__nav .dropdown__item {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

a {
  display: inline-block;
  color: #222;
  text-decoration: none;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

a:hover {
  color: #5797b8;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-bold {
  font-weight: 600;
}

.text-gold {
  color: #a2926b;
}

.bb-solid {
  border-bottom: 1px solid;
}

.bb-dotted {
  border-bottom: 1px dotted;
}

.word-break {
  white-space: nowrap;
}

.d-none,
.hidden {
  display: none !important;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

img {
  max-width: 100%;
}

/* Header */
.header__row {
  margin: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__logo {
  position: relative;
  z-index: 12;
  width: 215px;
  height: 175px;
  background: #384e59 url(../img/UCSP_logo_footer.svg) no-repeat 20px 15px/175px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  margin-bottom: -20px;
}

.header__offer {
  font-family: 'Open Sans Condensed',sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
}

.header__content {
  width: calc(100% - 245px);
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 40px 0 20px;
  border-bottom: 2px solid #f2f5f6;
}

.header__top .header__navbar .header__item + .header__item {
  margin-left: 20px;
}

.header__top .header__navbar .header__link {
  font-size: 14px;
  font-weight: 300;
  color: #747779;
}

.header__top .header__navbar .header__link:hover {
  color: #3e83a4;
}

.header__top .header__contact .header__item + .header__item {
  margin-left: 30px;
}

.header__top .header__contact .header__link {
  font-size: 14px;
  font-weight: 400;
}

.header__top .header__contact .header__link_phone {
  font-size: 18px;
  font-weight: 700;
  color: #384e59;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 0 0;
}

.header__main .header__navbar .header__item + .header__item {
  margin-left: 40px;
}

.header__main .header__navbar .header__link {
  position: relative;
  padding-bottom: 40px;
}

.header__main .header__navbar .header__link.active:after {
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background: #5b9dba;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 11;
}

.header__main .header__contact {
  padding-bottom: 40px;
}

.header__main .header__contact .header__link {
  font-size: 12px;
  line-height: 18px;
  color: #747779;
}

.header__main .header__contact .header__link:hover {
  color: #3e83a4;
}

.header__main .header__contact .header__link_search {
  background: url("../img/icon/search-new.svg") no-repeat 0px center/15px;
  padding-left: 24px;
}

.header__main .header__contact .header__link_vk {
  background: url("../img/icon/vk-new.svg") no-repeat 0px center/14px;
  padding-left: 22px;
}

.header__main .header__contact .header__link_address {
  background: url("../img/icon/maps-new.svg") no-repeat -6px center/24px;
  padding-left: 20px;
}

.header__main .header__contact .header__item + .header__item {
  margin-left: 20px;
}

.header__nav .header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.header__nav .header__navbar_inner {
  display: none;
}

.header__nav .header__link {
  display: inline-block;
}

.header .header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.dropdown {
  background: #f2f5f6;
  -webkit-box-shadow: 0 7px 15px rgba(10, 30, 50, 0.1);
  box-shadow: 0 7px 15px rgba(10, 30, 50, 0.1);
  padding: 40px 0 20px;
  position: absolute;
  top: 150px;
  left: 0;
  z-index: 10;
  width: 100%;
  display: none;
}

.dropdown.active {
  display: block;
}

.dropdown__nav {
  padding-left: 245px;
  display: none;
}

.dropdown__nav.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333333%;
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
  margin-bottom: 20px;
}

.dropdown__link {
  font-size: 14px;
  line-height: 18px;
}

.navbar-toggler {
  display: none;
}

/* Media */
@media all and (max-width: 1200px) {
  .header__top .header__navbar .header__link {
    font-size: 12px;
  }
  .header__top .header__navbar .header__item + .header__item {
    margin-left: 15px;
  }
  .header__top .header__contact .header__item + .header__item {
    margin-left: 15px;
  }
  .header__main .header__navbar .header__link {
    font-size: 14px;
  }
  .header__main .header__navbar .header__item + .header__item {
    margin-left: 30px;
  }
  .header__main .header__contact .header__link {
    width: 24px;
    height: 18px;
  }
  .header__main .header__contact .header__link-inner {
    display: none;
  }
}

@media all and (max-width: 992px) {
  .header {
    position: relative;
    background: #384e59;
  }
  .header__logo {
    padding: 0;
    margin: 0;
    width: 150px;
    height: 60px;
    background: url(../img/UCSP_logo_compact.svg) no-repeat 0px 5px/150px;
  }
  .header__offer {
    display: none;
  }
  .header__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 12;
    display: none;
    background: #fff;
    -webkit-transform: translateY(60px);
    -ms-transform: translateY(60px);
    transform: translateY(60px);
  }
  .header__content.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .header__top {
    background: #ebeeef;
    padding: 20px 15px;
    display: block;
    min-width: 150px;
    width: 25%;
    height: calc(100vh - 60px);
    overflow-y: auto;
  }
  .header__top .header__navbar .header__item {
    width: 100%;
  }
  .header__top .header__navbar .header__item + .header__item {
    margin-top: 20px;
    margin-left: 0;
  }
  .header__top .header__contact {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #c7cdcf;
  }
  .header__main {
    padding: 20px 15px;
    display: block;
    width: 75%;
    height: calc(100vh - 60px);
    overflow-y: auto;
  }
  .header__main .header__navbar .header__item {
    width: 100%;
  }
  .header__main .header__navbar .header__item + .header__item {
    margin-left: 0;
  }
  .header__main .header__navbar .header__link {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 20px;
  }
  .header__main .header__navbar_inner {
    display: block;
    padding-bottom: 10px;
  }
  .header__main .header__navbar_inner .header__link {
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
  }
  .header__main .header__contact .header__link {
    width: 100%;
    height: auto;
  }
  .header__main .header__contact .header__link-inner {
    display: block;
  }
  .header__nav .header__navbar {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .header .header__contact {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 0;
  }
  .header .header__contact .header__item {
    width: 100%;
  }
  .header .header__contact .header__item + .header__item {
    margin-top: 20px;
    margin-left: 0;
  }
  .header .header__contact .header__link_phone {
    font-size: 14px;
  }
  .navbar-toggler {
    display: block;
    width: 30px;
    height: 60px;
    padding: 15px 0;
    cursor: pointer;
  }
  .navbar-toggler.active .navbar-path.first {
    display: none;
  }
  .navbar-toggler.active .navbar-path.second {
    -webkit-transform: rotate(45deg) translateX(110px) translateY(-100px);
    -ms-transform: rotate(45deg) translateX(110px) translateY(-100px);
    transform: rotate(45deg) translateX(110px) translateY(-100px);
  }
  .navbar-toggler.active .navbar-path.third {
    -webkit-transform: rotate(-45deg) translateX(-250px) translateY(-40px);
    -ms-transform: rotate(-45deg) translateX(-250px) translateY(-40px);
    transform: rotate(-45deg) translateX(-250px) translateY(-40px);
  }
  .navbar-path {
    fill: #fff;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
  }
}

/* Footer */
/* Footer */
.footer {
  background: url("../img/footer-wrap-bg.jpg") no-repeat center/cover;
}

.footer .footer__row {
  padding: 55px 65px 35px;
  background: inherit;
}

.footer .footer__row .footer__logo {
  width: 220px;
  height: 120px;
  background: url(../img/UCSP_logo_footer.svg) no-repeat center -20px;
  background-size: 200px 160px;
}

.footer .footer__row .footer__column {
  max-width: calc( (100% - 220px)/2);
}

.footer .footer__list {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  width: 260px;
  max-width: 100%;
  /* Footer Column Contact */
}

.footer .footer__list__item {
  display: inline-block;
  margin-bottom: 6px;
}

.footer .footer__list .footer__link {
  margin-bottom: 10px;
}

.footer .footer__list .footer__link_last {
  margin-bottom: 0;
}

.footer .footer__list + .policy {
  margin-top: 24px;
}

.footer .footer__list_contact {
  margin-left: auto;
}

.footer .footer__list_contact .footer__link {
  position: relative;
  font-size: 14px;
  line-height: 18px;
}

.footer .footer__list_contact .footer__link .icon {
  position: absolute;
  top: 0;
  left: -30px;
  width: 18px;
  height: 18px;
}

.footer .footer__list_contact .footer__tel {
  font-size: 20px;
  line-height: 20px;
}

.footer .footer__list_contact .footer__tel .icon {
  background: url(../img/icon/telephone-light.svg) no-repeat center;
}

.footer .footer__list_contact .footer__mail .icon {
  background: url(../img/icon/envelope-light.svg) no-repeat center;
}

.footer .footer__list_contact .footer__vk .icon {
  background: url(../img/icon/vk-light.svg) no-repeat center;
}

.footer .footer__list_contact .footer__address .icon {
  background: url(../img/icon/maps-light.svg) no-repeat center;
}

.footer__link {
  display: inline-block;
  color: #fff;
}

.footer__link:hover {
  color: #d9d9d9;
}

.footer .policy {
  display: inline-block;
  color: #fff;
  margin-top: 10px;
  font-size: 12px;
  border-bottom: 1px solid;
}

.footer .policy:hover {
  color: #d9d9d9;
}

/* Media */
@media all and (max-width: 992px) {
  .footer .footer__row .footer__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .footer .footer__row .footer__logo {
    display: none;
  }
}

@media all and (max-width: 768px) {
  .footer .footer__row {
    padding: 55px 30px 35px;
  }
  .footer .footer__list_contact .footer__link {
    font-size: 12px;
    line-height: 16px;
    padding-left: 30px;
    margin-bottom: 15px;
  }
  .footer .footer__list_contact .footer__link .icon {
    left: 0;
  }
  .footer .footer__list_contact .footer__tel {
    font-size: 16px;
    line-height: 18px;
  }
}

@media all and (max-width: 576px) {
  .footer .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding: 55px 0px 35px;
  }
  .footer .footer__row .footer__column {
    -webkit-box-flex: unset;
    -ms-flex: unset;
    flex: unset;
    max-width: 100%;
    text-align: center;
  }
  .footer .footer__list {
    margin: 0 auto;
  }
  .footer .footer__list.footer__list_contact {
    margin-bottom: 20px;
  }
}
