/* Page Template Grid */
.page.content_seo {
  background: #f2f5f6;
}

.page .page__row {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.page .page__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.page .page__column_3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100%/3);
  flex: 0 0 calc(100%/3);
  max-width: calc(100%/3);
}

.page .page__column_4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100%/4);
  flex: 0 0 calc(100%/4);
  max-width: calc(100%/4);
}

.page .page__column .page__content {
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
}

.page .page__column .page__icon {
  display: block;
  width: 90px;
  height: 90px;
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  border: 6px solid #ebeeef;
  border-radius: 50%;
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
}

.page .page__column .page__title {
  font-size: 24px;
  font-weight: 600;
}

.page .page__column .page__intro {
  font-size: 16px;
  line-height: 1.5em;
  margin-top: 20px;
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
}

.page .page__column .page__intro + .list-info {
  margin-top: 30px;
}

.page .page__link .fill {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.page .page__link:hover .fill {
  fill: #3e83a4;
}

.page .page__example {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  height: 235px;
  margin-bottom: 40px;
}

.page .page__example__title {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 330px;
  flex: 0 0 330px;
  max-width: 330px;
  height: 100%;
  padding-left: 80px;
  padding-top: 80px;
  background: #4a8baa;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.3em;
}

.page .page__example__blocks {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 330px);
  flex: 0 0 calc(100% - 330px);
  max-width: calc(100% - 330px);
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #b7d5e4;
  text-align: center;
}

.page .page__example__block {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100%/3);
  flex: 0 0 calc(100%/3);
  max-width: calc(100%/3);
  height: 100%;
  margin: 0;
  padding-top: 160px;
  font-weight: bold;
}

.page .page__example__block.doc1 {
  background: url(../img/doc/1.png) no-repeat center 50px/150px;
}

.page .page__example__block.doc2 {
  background: url(../img/doc/2.png) no-repeat center 50px/150px;
}

.page .page__example__block.doc3 {
  background: url(../img/doc/3.png) no-repeat center 50px/150px;
}

.page .page__work-stage {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  height: 235px;
  margin-bottom: 40px;
}

.page .page__work-stage__title {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 330px;
  flex: 0 0 330px;
  max-width: 330px;
  height: 100%;
  padding-left: 80px;
  padding-top: 80px;
  background: #185778;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.3em;
}

.page .page__work-stage__blocks {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 330px);
  flex: 0 0 calc(100% - 330px);
  max-width: calc(100% - 330px);
  height: 100%;
  background: #73acc8 url("../img/doc/back.png") left no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.page .page__work-stage__block {
  width: calc(100%/3);
  height: auto;
  color: #fff;
  padding-top: 60px;
}

.page .page__work-stage__block.step1 {
  padding-left: 40px;
}

.page .page__work-stage__block.step1 .name {
  width: 120px;
  max-width: 100%;
}

.page .page__work-stage__block.step2 .name {
  width: 150px;
  max-width: 100%;
}

.page .page__work-stage__block.step3 .name {
  width: 220px;
  max-width: 100%;
}

.page .page__work-stage__block .number {
  font-size: 60px;
  font-weight: bold;
  line-height: 1em;
}

.page .page__work-stage__block .name {
  line-height: 1.3em;
}

.page.page_pt-0 {
  padding-top: 0;
}

@media all and (max-width: 1200px) {
  .page .page__work-stage__blocks {
    background: #4a8baa;
  }
  .page .page__work-stage__block.step1 {
    padding-left: 60px;
  }
}

@media all and (max-width: 992px) {
  .page .page__example {
    height: auto;
  }
  .page .page__example__title {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    height: auto;
    padding: 30px;
  }
  .page .page__example__blocks {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    height: auto;
  }
  .page .page__example__block {
    height: auto;
    padding: 30px;
    text-align: left;
  }
  .page .page__example__block.doc1 {
    background: inherit;
    padding-left: 30px;
  }
  .page .page__example__block.doc2, .page .page__example__block.doc3 {
    background: inherit;
  }
  .page .page__work-stage {
    height: auto;
  }
  .page .page__work-stage__title {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    height: auto;
    padding: 30px;
  }
  .page .page__work-stage__blocks {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    height: auto;
  }
  .page .page__work-stage__block {
    padding: 30px;
  }
  .page .page__work-stage__block.step1 {
    padding-left: 30px;
  }
  .page .page__work-stage__block.step1 .name {
    width: 1005;
  }
  .page .page__work-stage__block.step2 .name {
    width: 1005;
  }
  .page .page__work-stage__block.step3 .name {
    width: 1005;
  }
  .page .list-info_inline {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media all and (max-width: 768px) {
  .page .page__row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .page .page__column .page__intro {
    font-size: 14px;
  }
  .page .page__column_3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .page .page__column_4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .page_files .page__column_3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 520px;
  }
}

@media all and (max-width: 576px) {
  .page .page__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .page .page__column + .page__column {
    margin-top: 20px;
  }
  .page .page__example__title {
    font-size: 20px;
  }
  .page .page__example__block {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .page .page__work-stage__title {
    font-size: 20px;
  }
  .page .page__work-stage__block {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .page .page__work-stage__block .number {
    font-size: 40px;
  }
  .page .page__work-stage__block .name {
    margin-top: 0;
    margin-left: 15px;
  }
  .page .page__work-stage__block.step2 {
    padding-top: 0;
  }
  .page .page__work-stage__block.step3 {
    padding-top: 0;
  }
  .page_advantage .page__intro {
    width: 200px;
    max-width: 100%;
    margin: 0 auto;
  }
}

/* Main Content*/
.content {
  padding: 60px 0;
}

.content .container_inside {
  width: 910px;
  max-width: 100%;
}

.content .content__subtitle {
  font-size: 14px;
  font-weight: 300;
}

.content .content__title {
  font-size: 32px;
  line-height: 1.25;
  color: #a2926b;
  margin-bottom: 30px;
}

.content .content__title + .content__offer {
  margin-top: -15px;
}

.content .content__offer {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 300;
}

.content .content__offer + .row {
  margin-top: 60px;
}

.content .cta-wrap + .content__offer {
  margin-top: 20px;
}

.content p {
  font-size: 1rem;
  line-height: 1.6;
}

.content ul, .content ol,
.content p + ul, .content p + ol,
.content ul + p, .content ol + p,
.content p + p {
  margin-top: 20px;
}

/* Media */
@media all and (max-width: 576px) {
  .content .content__title {
    font-size: 24px;
  }
  .content .content__offer + .row {
    margin-top: 30px;
  }
}

/* Advantage Block */
/* Advantage Block */
.content_advantage {
  background: #ffffff;
}

.content_advantage .content__title {
  margin-bottom: 60px;
  text-align: center;
}

.content_advantage .item .item__icon {
  background-color: #f2f5f6;
}

.content_advantage .row .column {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

.content_advantage .row .column.column_4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.content_advantage-index {
  padding: 60px 0 40px;
}

.content_advantage-index .item {
  margin-bottom: 30px;
}

.content_advantage-index .item .item__line {
  width: 120px;
  max-width: 100%;
  height: 1px;
}

.content_advantage-index .item .item__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #325564;
}

.content_advantage-index .item .item__offer {
  color: #325564;
  width: 100%;
}

/* Media */
@media all and (max-width: 992px) {
  .content_advantage .row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .content_advantage .row .column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%;
    margin-bottom: 30px;
  }
  .content_advantage .row .column.column_4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%;
  }
}

@media all and (max-width: 768px) {
  .content_advantage .row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .content_advantage .row .column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
    margin-bottom: 30px;
  }
  .content_advantage .row .column.column_4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media all and (max-width: 576px) {
  .content_advantage .row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .content_advantage .row .column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .content_advantage .row .column.column_4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .content_advantage .item__title {
    font-size: 12px;
    line-height: 16px;
  }
  .content_advantage-index .item {
    margin-bottom: 0;
  }
  .content_advantage-index .item .item__offer {
    width: 240px;
  }
}

@media all and (max-width: 420px) {
  .content_advantage .row .column.column_4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Sale Block */
/* Information About Sale */
.content_sale {
  background: #f2f5f6;
}

.content_sale .content__title {
  margin-bottom: 60px;
  text-align: center;
}

.content_sale .row {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.content_sale .row .column {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
}

.content_sale .item .item__icon {
  background-color: #fff;
  margin-bottom: 30px;
}

.content_sale .item .item__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #325564;
}

.content_sale .item .item__offer {
  color: #325564;
}

/* Media */
@media all and (max-width: 992px) {
  .content_sale .item .item__title {
    font-size: 16px;
  }
}

@media all and (max-width: 768px) {
  .content_sale {
    padding-bottom: 30px;
  }
  .content_sale .row .column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 30px;
  }
  .content_sale .item .item__title {
    font-size: 20px;
  }
}

@media all and (max-width: 576px) {
  .content_sale .row .column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Section|Child Block */
/* Preview Child Page */
.content_section .row .column {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.content_section .row .column.vacancy {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33%;
  flex: 0 0 33%;
  max-width: 33%;
}

.content_section .content__title {
  margin-bottom: 60px;
}

.content_section .row + .row {
  position: relative;
  padding-top: 34px;
  margin-top: 40px;
}

.content_section .row + .row:before {
  position: absolute;
  top: 0;
  left: 15px;
  content: '';
  display: block;
  width: calc(100% - 30px);
  height: 1px;
  background-color: #1c2c34;
  border-bottom: 1px solid #49616d;
}

/* Media */
@media all and (max-width: 768px) {
  .content_section .row .column.vacancy {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .content_section .vacancy + .vacancy {
    margin-top: 40px;
  }
}

@media all and (max-width: 576px) {
  .content_section .content__title {
    font-size: 24px;
    text-align: left;
    margin-bottom: 30px;
  }
  .content_section .row .column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .content_section .preview-page + .preview-page {
    margin-top: 50px;
  }
}

/* License */
.license {
  overflow: hidden;
}

.license .content__offer {
  width: 640px;
  max-width: 100%;
  margin: 0 auto 30px;
}

.license_with-bg {
  background: #f2f5f6;
}

/* Slider */
.slider .slider__item_with-content {
  padding: 40px 40px 60px;
  min-height: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider .slider__item_with-content .line {
  width: 350px;
  max-width: 100%;
  height: 2px;
  background: #a2926b;
  margin: 30px auto;
}

.slider .slider__title {
  font-size: 36px;
  font-weight: 600;
  color: #36677f;
}

.slider .slider__offer {
  font-size: 1rem;
  line-height: 1.4;
}

.slider .slider__content {
  position: relative;
  display: inline-block;
  background: rgba(250, 250, 250, 0.6);
  padding: 50px 40px 40px;
  max-width: 100%;
  text-align: center;
}

.slider .slider__content:after {
  background: rgba(250, 250, 250, 0.3);
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: calc(100% + 60px);
  height: calc(100% + 60px);
  -webkit-transform: translateX(-30px) translateY(-30px);
  -ms-transform: translateX(-30px) translateY(-30px);
  transform: translateX(-30px) translateY(-30px);
}

.slider .arrow {
  position: absolute;
  top: calc(50% - 22px);
  width: 26px;
  height: 44px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.slider .arrow.arrow-left {
  left: 0;
  background: url("../img/icon/arrow-prev-gold.svg") no-repeat left center/contain;
}

.slider .arrow.arrow-right {
  right: 0;
  background: url("../img/icon/arrow-next-gold.svg") no-repeat right center/contain;
}

.slider_new-dots.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slider_new-dots .slick-dots {
  bottom: 15px;
}

.slider_new-dots .slick-dots li {
  margin-right: 5px;
  width: 100px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
}

.slider_new-dots .slick-dots li.slick-active {
  background-color: #fff;
}

.slider_with-arrow {
  padding: 0 44px;
}

.slider.slick-initialized .slick-slide {
  height: auto;
}

.slider.slick-initialized .slick-slide.slider__item_with-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider.slick-initialized .slick-arrow {
  width: 26px;
  height: 44px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.slider.slick-initialized .slick-arrow.slick-disabled {
  opacity: .4;
}

.slider.slick-initialized .slick-next {
  background: url(arrow-next.svg) no-repeat center/contain;
  right: 0px;
}

.slider.slick-initialized .slick-next:before {
  content: '';
}

.slider.slick-initialized .slick-prev {
  background: url(arrow-prev.svg) no-repeat center/contain;
  left: 0px;
}

.slider.slick-initialized .slick-prev:before {
  content: '';
}

@media all and (max-width: 768px) {
  .slider .slider__title {
    font-size: 28px;
  }
}

@media all and (max-width: 576px) {
  .slider .slider__item_with-content {
    padding: 20px 20px 40px;
    min-height: 380px;
  }
  .slider .slider__item_with-content .line {
    max-width: 60%;
  }
  .slider .slider__title {
    font-size: 24px;
  }
  .slider .slider__content {
    padding: 30px 20px 20px;
  }
  .slider_new-dots .slick-dots li {
    width: 40px;
  }
}

/* Item with Icon */
/* Item with Icon */
.item {
  text-align: center;
}

.item__icon {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: #f2f5f6;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  margin: 0 auto 15px;
}

.item__icon.consulting {
  background: url("../img/icon/consulting.svg") no-repeat center 20px/35px;
}

.item__icon.store {
  background: url("../img/icon/online-shop.svg") no-repeat center 22px/35px;
}

.item__icon.insurance {
  background: url("../img/icon/insurance.svg") no-repeat 26px 22px/35px;
}

.item__icon.cv {
  background: url("../img/icon/cv.svg") no-repeat center 20px/35px;
}

.item__icon.delivery {
  background: url("../img/icon/icon_delivery.svg") no-repeat center 20px/35px;
}

.item__icon.clients {
  background: url("../img/icon/icon_clients.svg") no-repeat center/35px;
}

.item__icon.consultation {
  background: url("../img/icon/icon_consultation.svg") no-repeat center/35px;
}

.item__icon.certificate {
  background: url("../img/icon/icon_iso.svg") no-repeat center/60px;
}

.item__icon.format {
  background: url("../img/icon/icon_format.svg") no-repeat center/35px;
}

.item__icon.delivery-car {
  background: url("../img/icon/tracking.svg") no-repeat center 14px/44px;
}

.item__icon.question {
  background: url("../img/icon/question.svg") no-repeat 20px center/40px;
}

.item__icon.law {
  background: url("../img/icon/law.svg") no-repeat 25px center/30px;
}

.item__icon.money-light {
  background: url("../img/icon/icon_bank.svg") no-repeat 20px 16px/42px;
}

.item__icon.lecture {
  background: url("../img/icon/lecture.svg") no-repeat 22px 20px/36px;
}

.item__icon.united {
  background: url("../img/icon/united.svg") no-repeat center/40px;
}

.item__icon.free-delivery {
  background: url("../img/icon/tracking.svg") no-repeat center 14px/44px;
}

.item__icon.contract {
  background: url("../img/icon/contract.svg") no-repeat 25px center/35px;
}

.item__title {
  font-size: 16px;
  line-height: 22px;
}

.item__offer {
  font-size: 14px;
  line-height: 20px;
  width: 200px;
  max-width: 100%;
  margin: 0 auto;
}

.item__line {
  background: #a2926b;
  width: 180px;
  max-width: 100%;
  height: 2px;
  margin: 15px auto;
}

/* Media */
@media all and (max-width: 576px) {
  .item__title {
    font-size: 14px;
  }
}

/* Preview Item */
/* Child Page Preview */
.preview-page__title {
  font-size: 20px;
  color: #a2926b;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 30px;
}

.preview-page__list {
  margin-bottom: 30px;
}

.preview-page__list.last {
  margin-bottom: 0px;
}

.preview-page__list .preview-page__item + .preview-page__item {
  margin-top: 15px;
}

.preview-page__item {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  padding-left: 20px;
  background-image: url("../img/icon/arrow-light.svg");
  background-repeat: no-repeat;
  background-position: 0px center;
  background-size: 10px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.preview-page__item:hover {
  background-position: 4px center;
}

.preview-page__offer {
  font-size: 12px;
  color: #fff;
}

.preview-page__offer + .preview-page__color-number {
  margin-top: 6px;
}

.preview-page__color-number {
  font-size: 20px;
  font-weight: 700;
  color: #a3c6d8;
}

.preview-page__color-number + .btn {
  margin-top: 30px;
}

.preview-page__programm {
  border-top: 1px solid #a2926b;
}

.preview-page__programm .list-info {
  margin: 10px 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.preview-page__programm .list-info .list-item {
  margin: 10px 0;
}

.preview-page__programm .list-info .list-item .list-item__name {
  font-size: 12px;
  line-height: 1;
}

.preview-page__programm .list-info .list-item .list-item__content {
  font-size: 1rem;
}

/* Media */
@media all and (max-width: 768px) {
  .preview-page__title {
    font-size: 16px;
  }
  .preview-page .btn-group .btn {
    width: 100%;
  }
  .preview-page .btn-group .btn + .btn {
    margin-top: 10px;
  }
}

@media all and (max-width: 576px) {
  .preview-page__title {
    font-size: 20px;
  }
}

/* List Info about Programm */
.list-info {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5em;
}

.list-info .list-item {
  position: relative;
  padding-left: 50px;
  margin-bottom: 1.5em;
}

.list-info .list-item__name {
  display: block;
}

.list-info .list-item__content {
  display: block;
  color: #3e83a4;
  font-size: 1.5em;
  font-weight: 600;
}

.list-info .list-item:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
}

.list-info .list-item_time:before {
  background: url("../img/icon/event.svg") no-repeat left 4px/30px;
}

.list-info .list-item_price:before {
  background: url("../img/icon/wallet.svg") no-repeat left 0px/30px;
}

.list-info .list-item_white {
  color: #fff;
}

.list-info .list-item_white .list-item__content {
  color: #97d7f6;
}

.list-info .list-item_white.list-item_time:before {
  background: url("../img/icon/event_white.svg") no-repeat left 4px/30px;
}

.list-info .list-item_white.list-item_price:before {
  background: url("../img/icon/wallet_white.svg") no-repeat left 0px/30px;
}

.list-info_inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.list-info_inline .list-item {
  margin-right: 30px;
}

/* Review  */
.review.content {
  background: url(../img/reviews-bg.jpg) no-repeat center/cover;
}

.review.content .content__title {
  color: #fff;
  font-weight: 300;
  margin-bottom: 60px;
}

.review .review__item {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 0 20px;
}

.review .review__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  max-width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a3a3a3;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.review .review__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 50px);
  flex: 0 0 calc(100% - 50px);
  max-width: calc(100% - 50px);
  padding-left: 20px;
}

.review .review__info {
  font-size: 12px;
  color: #a3a3a3;
}

.review .review__intro {
  font-size: 14px;
  color: #fff;
}

.review .review__link {
  font-size: 14px;
  color: #8cd1f2;
  margin-top: 10px;
}

.review .review__link:hover {
  color: #fff;
}

@media all and (max-width: 576px) {
  .review .review__item {
    padding: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .review .review__content {
    padding-left: 0;
    padding-top: 20px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* News Preview */
.news .news__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100%/3);
  flex: 0 0 calc(100%/3);
  max-width: calc(100%/3);
}

.news .news__date {
  color: #959595;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 10px;
}

.news .news__title {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

.news .content__title {
  margin-bottom: 40px;
}

@media all and (max-width: 576px) {
  .news .news__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .news .news__column + .news__column {
    margin-top: 30px;
  }
}

.content .row {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.content .row .column.preview-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 380px;
  flex: 0 0 380px;
  max-width: 50%;
}

.content.content_advantage .row {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media all and (max-width: 768px) {
  .content .row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media all and (max-width: 576px) {
  .content .row .column.preview-page {
    max-width: 100%;
  }
  .content .row .column.preview-page + .preview-page {
    margin-top: 40px;
  }
}
