@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:300,400,600");
/*FRAMEWORK
	- GRID ROWS
	- RESET STYLES
	- CLEAR FIX with extend rule
	- OUTLINE FIX
*/
/* GRID ROWS */
.container {
  width: 1200px;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row, .dropdown__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.row.flex-end, .flex-end.dropdown__nav {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.row.flex-start, .flex-start.dropdown__nav {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.row.justify-content-center, .justify-content-center.dropdown__nav {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.row.justify-content-between, .justify-content-between.dropdown__nav {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col, .no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.column, .dropdown__item, .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.column, .dropdown__item, .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media all and (max-width: 1200px) {
  .col-xl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xl-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xl-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xl-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media all and (max-width: 992px) {
  .col-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media all and (max-width: 768px) {
  .col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media all and (max-width: 576px) {
  .col-sm-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-sm-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  display: inline-block;
  color: #222;
  text-decoration: none;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

a:hover {
  color: #5797b8;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-light {
  font-weight: 300;
}

.text-semibold {
  font-weight: 600;
}

.text-bold, b, strong {
  font-weight: 700;
}

.text-gold {
  color: #a2926b;
}

.text-blue {
  color: #3e83a4;
}

.bb-solid {
  border-bottom: 1px solid;
}

.bb-dotted {
  border-bottom: 1px dotted;
}

.word-break {
  white-space: nowrap;
}

.small, .text-small {
  font-size: .9rem;
}

.lead {
  font-size: 1.15rem;
}

.d-none,
.hidden {
  display: none !important;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* Main Style */
html {
  font-size: 14px;
  line-height: 1.5;
}

body {
  background: url("../img/bg-top.png") no-repeat top left/contain, url("../img/footer-bg.png") no-repeat bottom right/contain;
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  width: 100%;
}

.content-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.content-area .inside {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.content-area .footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

/* Background Style */
.bg-white {
  background: #fff;
}

.bg-light {
  background: #f2f5f6;
}

.bg-blue-gradient {
  background-color: #345463;
  background-image: -o-radial-gradient(center 0%, circle farthest-corner, #356277 0%, #33454e 30%);
  background-image: radial-gradient(circle farthest-corner at center 0%, #356277 0%, #33454e 30%);
}

.bg-blue-gradient.content .content__title {
  color: #7dbad8;
}

.bg-blue-gradient.content a.content__title:hover {
  color: #56a5cc;
}

p {
  font-size: 1rem;
}

p.lead {
  font-size: 1.15rem;
}

img {
  max-width: 100%;
}

/* Offset */
.mt-0 {
  margin-top: 0 !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pt-60 {
  padding-top: 60px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pb-60 {
  padding-bottom: 60px !important;
}

/* Media */
@media all and (max-width: 1200px) {
  .d-xl-none {
    display: none;
  }
  /* Offset */
  .mt-xl-0 {
    margin-top: 0 !important;
  }
  .mt-xl-30 {
    margin-top: 30px !important;
  }
  .mt-xl-60 {
    margin-top: 60px !important;
  }
  .mb-xl-0 {
    margin-bottom: 0 !important;
  }
  .mb-xl-30 {
    margin-bottom: 30px !important;
  }
  .mb-xl-60 {
    margin-bottom: 60px !important;
  }
  .pt-xl-0 {
    padding-top: 0 !important;
  }
  .pt-xl-30 {
    padding-top: 30px !important;
  }
  .pt-xl-60 {
    padding-top: 60px !important;
  }
  .pb-xl-0 {
    padding-bottom: 0 !important;
  }
  .pb-xl-30 {
    padding-bottom: 30px !important;
  }
  .pb-xl-60 {
    padding-bottom: 60px !important;
  }
  /* Text Align */
  .text-xl-center {
    text-align: center;
  }
  .text-xl-left {
    text-align: left;
  }
  .text-xl-right {
    text-align: right;
  }
}

@media all and (max-width: 992px) {
  .d-lg-none {
    display: none;
  }
  /* Offset */
  .mt-lg-0 {
    margin-top: 0 !important;
  }
  .mt-lg-30 {
    margin-top: 30px !important;
  }
  .mt-lg-60 {
    margin-top: 60px !important;
  }
  .mb-lg-0 {
    margin-bottom: 0 !important;
  }
  .mb-lg-30 {
    margin-bottom: 30px !important;
  }
  .mb-lg-60 {
    margin-bottom: 60px !important;
  }
  .pt-lg-0 {
    padding-top: 0 !important;
  }
  .pt-lg-30 {
    padding-top: 30px !important;
  }
  .pt-lg-60 {
    padding-top: 60px !important;
  }
  .pb-lg-0 {
    padding-bottom: 0 !important;
  }
  .pb-lg-30 {
    padding-bottom: 30px !important;
  }
  .pb-lg-60 {
    padding-bottom: 60px !important;
  }
  /* Text Align */
  .text-lg-center {
    text-align: center;
  }
  .text-lg-left {
    text-align: left;
  }
  .text-lg-right {
    text-align: right;
  }
}

@media all and (max-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .d-md-none {
    display: none;
  }
  /* Offset */
  .mt-md-0 {
    margin-top: 0 !important;
  }
  .mt-md-30 {
    margin-top: 30px !important;
  }
  .mt-md-60 {
    margin-top: 60px !important;
  }
  .mb-md-0 {
    margin-bottom: 0 !important;
  }
  .mb-md-30 {
    margin-bottom: 30px !important;
  }
  .mb-md-60 {
    margin-bottom: 60px !important;
  }
  .pt-md-0 {
    padding-top: 0 !important;
  }
  .pt-md-30 {
    padding-top: 30px !important;
  }
  .pt-md-60 {
    padding-top: 60px !important;
  }
  .pb-md-0 {
    padding-bottom: 0 !important;
  }
  .pb-md-30 {
    padding-bottom: 30px !important;
  }
  .pb-md-60 {
    padding-bottom: 60px !important;
  }
  /* Text Align */
  .text-md-center {
    text-align: center;
  }
  .text-md-left {
    text-align: left;
  }
  .text-md-right {
    text-align: right;
  }
}

@media all and (max-width: 576px) {
  .d-sm-none {
    display: none;
  }
  /* Offset */
  .mt-sm-0 {
    margin-top: 0 !important;
  }
  .mt-sm-30 {
    margin-top: 30px !important;
  }
  .mt-sm-60 {
    margin-top: 60px !important;
  }
  .mb-sm-0 {
    margin-bottom: 0 !important;
  }
  .mb-sm-30 {
    margin-bottom: 30px !important;
  }
  .mb-sm-60 {
    margin-bottom: 60px !important;
  }
  .pt-sm-0 {
    padding-top: 0 !important;
  }
  .pt-sm-30 {
    padding-top: 30px !important;
  }
  .pt-sm-60 {
    padding-top: 60px !important;
  }
  .pb-sm-0 {
    padding-bottom: 0 !important;
  }
  .pb-sm-30 {
    padding-bottom: 30px !important;
  }
  .pb-sm-60 {
    padding-bottom: 60px !important;
  }
  /* Text Align */
  .text-sm-center {
    text-align: center;
  }
  .text-sm-left {
    text-align: left;
  }
  .text-sm-right {
    text-align: right;
  }
}

/* Header */
.header__row {
  margin: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__logo {
  position: relative;
  z-index: 12;
  width: 215px;
  height: 175px;
  background: #384e59 url(../img/UCSP_logo_footer.svg) no-repeat 20px 15px/175px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  margin-bottom: -20px;
}

.header__offer {
  font-family: 'Open Sans Condensed',sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.6;
  color: #fff;
  text-align: center;
}

.header__content {
  width: calc(100% - 245px);
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px 0 15px;
  border-bottom: 2px solid #f2f5f6;
}

.header__top .header__navbar .header__item + .header__item {
  margin-left: 15px;
}

.header__top .header__navbar .header__link {
  font-size: 14px;
  font-weight: 300;
  color: #747779;
}

.header__top .header__navbar .header__link:hover {
  color: #3e83a4;
}

.header__top .header__contact .header__item + .header__item {
  margin-left: 30px;
}

.header__top .header__contact .header__link {
  font-size: 1rem;
  font-weight: 400;
}

.header__top .header__contact .header__link_phone {
  font-size: 1.25rem;
  font-weight: 700;
  color: #384e59;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px 0 0;
}

.header__main .header__navbar .header__item + .header__item {
  margin-left: 30px;
}

.header__main .header__navbar .header__link {
  position: relative;
  padding-bottom: 30px;
}

.header__main .header__navbar .header__link.active:after {
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background: #5b9dba;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 11;
}

.header__main .header__contact {
  padding-bottom: 30px;
}

.header__main .header__contact .header__link {
  font-size: 12px;
  line-height: 1.5;
  color: #747779;
}

.header__main .header__contact .header__link:hover {
  color: #3e83a4;
}

.header__main .header__contact .header__link_search {
  background: url("../img/icon/search-new.svg") no-repeat 0px center/15px;
  padding-left: 24px;
}

.header__main .header__contact .header__link_vk {
  background: url("../img/icon/vk-new.svg") no-repeat 0px center/14px;
  padding-left: 22px;
}

.header__main .header__contact .header__link_address {
  background: url("../img/icon/maps-new.svg") no-repeat -6px center/24px;
  padding-left: 20px;
}

.header__main .header__contact .header__item + .header__item {
  margin-left: 15px;
}

.header__nav .header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.header__nav .header__navbar_inner {
  display: none;
}

.header__nav .header__link {
  display: inline-block;
}

.header .header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.dropdown {
  background: #f2f5f6;
  -webkit-box-shadow: 0 7px 15px rgba(10, 30, 50, 0.1);
  box-shadow: 0 7px 15px rgba(10, 30, 50, 0.1);
  padding: 30px 0 15px;
  position: absolute;
  top: 150px;
  left: 0;
  z-index: 10;
  width: 100%;
  display: none;
}

.dropdown.active {
  display: block;
}

.dropdown__nav {
  padding-left: 245px;
  display: none;
}

.dropdown__nav.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333333%;
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
  margin-bottom: 15px;
}

.dropdown__link {
  font-size: 14px;
  line-height: 1.5;
}

.navbar-toggler {
  display: none;
}

/* Media */
@media all and (max-width: 1200px) {
  .header__top .header__navbar .header__link {
    font-size: 12px;
  }
  .header__top .header__navbar .header__item + .header__item {
    margin-left: 15px;
  }
  .header__top .header__contact .header__item + .header__item {
    margin-left: 15px;
  }
  .header__main .header__navbar .header__link {
    font-size: 1rem;
  }
  .header__main .header__navbar .header__item + .header__item {
    margin-left: 30px;
  }
  .header__main .header__contact .header__link {
    width: 24px;
    height: 18px;
  }
  .header__main .header__contact .header__link-inner {
    display: none;
  }
}

@media all and (max-width: 992px) {
  .header {
    position: relative;
    background: #384e59;
  }
  .header__logo {
    padding: 0;
    margin: 0;
    width: 150px;
    height: 60px;
    background: url(../img/UCSP_logo_compact.svg) no-repeat 0px 5px/150px;
  }
  .header__offer {
    display: none;
  }
  .header__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 12;
    display: none;
    background: #fff;
    -webkit-transform: translateY(60px);
    -ms-transform: translateY(60px);
    transform: translateY(60px);
  }
  .header__content.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .header__top {
    background: #ebeeef;
    padding: 20px 15px;
    display: block;
    min-width: 150px;
    width: 25%;
    height: calc(100vh - 60px);
    overflow-y: auto;
  }
  .header__top .header__navbar .header__item {
    width: 100%;
  }
  .header__top .header__navbar .header__item + .header__item {
    margin-top: 15px;
    margin-left: 0;
  }
  .header__top .header__contact {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #c7cdcf;
  }
  .header__main {
    padding: 20px 15px;
    display: block;
    width: 75%;
    height: calc(100vh - 60px);
    overflow-y: auto;
  }
  .header__main .header__navbar .header__item {
    width: 100%;
  }
  .header__main .header__navbar .header__item + .header__item {
    margin-left: 0;
  }
  .header__main .header__navbar .header__link {
    font-size: 1.15rem;
    font-weight: 700;
    padding-bottom: 15px;
  }
  .header__main .header__navbar_inner {
    display: block;
    padding-bottom: 10px;
  }
  .header__main .header__navbar_inner .header__link {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.2;
  }
  .header__main .header__contact .header__link {
    width: 100%;
    height: auto;
  }
  .header__main .header__contact .header__link-inner {
    display: block;
  }
  .header__nav .header__navbar {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .header .header__contact {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 0;
  }
  .header .header__contact .header__item {
    width: 100%;
  }
  .header .header__contact .header__item + .header__item {
    margin-top: 15px;
    margin-left: 0;
  }
  .header .header__contact .header__link_phone {
    font-size: 1rem;
  }
  .navbar-toggler {
    display: block;
    width: 30px;
    height: 60px;
    padding: 15px 0;
    cursor: pointer;
  }
  .navbar-toggler.active .navbar-path.first {
    display: none;
  }
  .navbar-toggler.active .navbar-path.second {
    -webkit-transform: rotate(45deg) translateX(110px) translateY(-100px);
    -ms-transform: rotate(45deg) translateX(110px) translateY(-100px);
    transform: rotate(45deg) translateX(110px) translateY(-100px);
  }
  .navbar-toggler.active .navbar-path.third {
    -webkit-transform: rotate(-45deg) translateX(-250px) translateY(-40px);
    -ms-transform: rotate(-45deg) translateX(-250px) translateY(-40px);
    transform: rotate(-45deg) translateX(-250px) translateY(-40px);
  }
  .navbar-path {
    fill: #fff;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
  }
}

/* Form */
/* Form */
.form__label, .poll__label {
  font-size: 12px;
  line-height: 14px;
  display: inline-block;
  margin-bottom: 10px;
}

.form__input {
  padding: 15px;
  width: 100%;
  max-width: 100%;
  font-size: 18px;
  line-height: 20px;
  background: #f2f3f4;
  border: none;
  border-bottom: 1px solid #796e52;
}

.form__input::-webkit-input-placeholder {
  opacity: .5;
}

.form__input::-moz-placeholder {
  opacity: .5;
}

.form__input:-ms-input-placeholder {
  opacity: .5;
}

.form__input::-ms-input-placeholder {
  opacity: .5;
}

.form__input::placeholder {
  opacity: .5;
}

.form__input:focus {
  outline: none;
}

.form__input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.form__input:focus::-moz-placeholder {
  opacity: 0;
}

.form__input:focus:-ms-input-placeholder {
  opacity: 0;
}

.form__input:focus::-ms-input-placeholder {
  opacity: 0;
}

.form__input:focus::placeholder {
  opacity: 0;
}

.form__input + .form__label, .form__input + .poll__label {
  margin-top: 20px;
}

.form__input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form__file-label {
  margin: 20px 0 10px;
  background: #a2926b;
  color: #fff;
  padding: 15px 20px;
  display: inline-block;
  font-size: 14px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.form__file-label:hover, .form__file-label:focus {
  background: #96855e;
}

.form__textarea {
  font-family: "Open Sans", sans-serif;
  padding: 15px;
  width: 100%;
  max-width: 100%;
  font-size: 18px;
  line-height: 20px;
  background: #f2f3f4;
  border: none;
  border-bottom: 1px solid #796e52;
  resize: none;
}

.form__textarea::-webkit-input-placeholder {
  opacity: .5;
}

.form__textarea::-moz-placeholder {
  opacity: .5;
}

.form__textarea:-ms-input-placeholder {
  opacity: .5;
}

.form__textarea::-ms-input-placeholder {
  opacity: .5;
}

.form__textarea::placeholder {
  opacity: .5;
}

.form__textarea:focus {
  outline: none;
}

.form__textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}

.form__textarea:focus::-moz-placeholder {
  opacity: 0;
}

.form__textarea:focus:-ms-input-placeholder {
  opacity: 0;
}

.form__textarea:focus::-ms-input-placeholder {
  opacity: 0;
}

.form__textarea:focus::placeholder {
  opacity: 0;
}

.form__agree {
  position: relative;
  margin-top: 10px;
}

.form .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form .checkbox__input {
  width: 30px;
  height: 30px;
  margin: 0;
  margin-right: 10px;
}

.form .checkbox__label {
  font-size: 14px;
}

.form .checkbox__link {
  text-decoration: underline;
}

.form .btn {
  margin-top: 10px;
}

/* Button */
.btn {
  position: relative;
  display: inline-block;
  max-width: 100%;
  height: 40px;
  font-size: 14px;
  line-height: 39px;
  text-align: center;
  white-space: nowrap;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  padding: 0 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.btn_large {
  height: 50px;
  font-size: 18px;
  line-height: 48px;
}

.btn_modal {
  margin-top: 30px;
  width: 100%;
}

.btn_primary {
  background-color: #477284;
  color: #fff;
}

.btn_primary:hover, .btn_primary:focus {
  background-color: #5797b8;
  color: #fff;
}

.btn_gold {
  background-color: #796e52;
  color: #fff;
}

.btn_gold:hover {
  background-color: #5b523d;
  color: #fff;
}

.btn_with-arrow {
  background-image: url(../img/icon/arrow.png);
  background-repeat: no-repeat;
  background-position-x: calc(100% - 20px);
  background-position-y: center;
  background-size: 18px;
  padding-right: 48px;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .form__file-label {
    font-size: 14px;
    padding: 10px 15px;
  }
}

/* Footer */
/* Footer */
.footer {
  background: url("../img/footer-wrap-bg.jpg") no-repeat center/cover;
}

.footer .footer__row {
  padding: 55px 65px 35px;
  background: inherit;
}

.footer .footer__row .footer__logo {
  width: 220px;
  height: 120px;
  background: url(../img/UCSP_logo_footer.svg) no-repeat center -20px;
  background-size: 200px 160px;
}

.footer .footer__row .footer__column {
  max-width: calc( (100% - 220px)/2);
}

.footer .footer__list {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  width: 260px;
  max-width: 100%;
  /* Footer Column Contact */
}

.footer .footer__list__item {
  display: inline-block;
  margin-bottom: 6px;
}

.footer .footer__list .footer__link {
  margin-bottom: 15px;
}

.footer .footer__list .footer__link_last {
  margin-bottom: 0;
}

.footer .footer__list + .policy {
  margin-top: 24px;
}

.footer .footer__list_contact {
  margin-left: auto;
}

.footer .footer__list_contact .footer__link {
  position: relative;
  font-size: 1rem;
  line-height: 1.15;
}

.footer .footer__list_contact .footer__link .icon {
  position: absolute;
  top: 0;
  left: -30px;
  width: 18px;
  height: 18px;
}

.footer .footer__list_contact .footer__tel {
  font-size: 1.4rem;
  line-height: 1;
}

.footer .footer__list_contact .footer__tel .icon {
  background: url(../img/icon/telephone-light.svg) no-repeat center;
}

.footer .footer__list_contact .footer__mail .icon {
  background: url(../img/icon/envelope-light.svg) no-repeat center;
}

.footer .footer__list_contact .footer__vk .icon {
  background: url(../img/icon/vk-light.svg) no-repeat center;
}

.footer .footer__list_contact .footer__address .icon {
  background: url(../img/icon/maps-light.svg) no-repeat center;
}

.footer__link {
  display: inline-block;
  color: #fff;
}

.footer__link:hover {
  color: #d9d9d9;
}

.footer .policy {
  display: inline-block;
  color: #fff;
  margin-top: 4px;
  font-size: 12px;
  line-height: 16px;
  border-bottom: 1px solid;
}

.footer .policy:hover {
  color: #d9d9d9;
}

/* Media */
@media all and (max-width: 992px) {
  .footer .footer__row .footer__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .footer .footer__row .footer__logo {
    display: none;
  }
}

@media all and (max-width: 768px) {
  .footer .footer__row {
    padding: 55px 30px 35px;
  }
  .footer .footer__list_contact .footer__link {
    font-size: 12px;
    line-height: 16px;
    padding-left: 30px;
    margin-bottom: 15px;
  }
  .footer .footer__list_contact .footer__link .icon {
    left: 0;
  }
  .footer .footer__list_contact .footer__tel {
    font-size: 1.25rem;
    line-height: 1.2;
  }
}

@media all and (max-width: 576px) {
  .footer .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding: 55px 0px 35px;
  }
  .footer .footer__row .footer__column {
    -webkit-box-flex: unset;
    -ms-flex: unset;
    flex: unset;
    max-width: 100%;
    text-align: center;
  }
  .footer .footer__list {
    margin: 0 auto;
  }
  .footer .footer__list.footer__list_contact {
    margin-bottom: 15px;
  }
  .footer .footer__list .footer__list__item {
    line-height: 1;
  }
}

/* Modal Window */
.modal {
  z-index: 999;
  display: none;
}

.modal .modal__close {
  position: absolute;
  top: 25px;
  right: 65px;
}

.modal .modal__close:after {
  position: absolute;
  right: -35px;
  top: -5px;
  display: block;
  content: '';
  width: 25px;
  height: 25px;
  background: url(../img/icon/close.png) no-repeat center/cover;
}

.modal .modal__img {
  margin-bottom: 30px;
}

.modal_info {
  background: #374c55 !important;
}

.modal_info .s-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

.modal_info .s-title + .title {
  margin-top: 10px;
}

.modal_info .s-title + .offer {
  margin-top: 10px;
}

.modal_info .title {
  font-size: 18px;
  line-height: 22px;
}

.modal_info .title + .s-title {
  margin-top: 20px;
}

.modal_info .offer {
  font-size: 14px;
  line-height: 18px;
}

.modal_info .modal__text {
  position: relative;
  background: #fff;
  margin: 0 auto;
  padding: 60px 30px 30px;
}

.modal_info .modal__footer {
  padding: 30px;
  color: #fff;
}

.modal_info .modal__footer .s-title {
  font-size: 18px;
  line-height: 24px;
  color: #98d1e9;
  max-width: 100%;
  width: 400px;
  margin: 0 auto;
}

.modal_info .modal__footer .info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 100%;
  width: 430px;
  margin: 20px auto;
}

.modal_info .modal__footer .info-block__item {
  font-size: 16px;
  line-height: 20px;
  padding: 0 15px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.modal_info .modal__footer .info-block__item p + p {
  margin-top: 5px;
}

.modal_info .modal__footer .btn {
  display: block;
  width: 400px;
  max-width: 100%;
}

.modal_info .modal__footer .btn.open-form {
  margin: 0 auto;
}

.modal_info .callback-form {
  display: none;
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(236, 241, 243, 0.15);
}

.modal_info .callback-form__title {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
}

.modal_info .callback-form .form__input + .form__label, .modal_info .callback-form .form__input + .poll__label {
  margin-top: 20px;
}

.modal_info .callback-form .checkbox {
  margin-top: 20px;
}

.modal_info .callback-form .checkbox__label {
  font-size: 12px;
}

.modal_info .callback-form .checkbox .policy {
  color: #fff;
}

.modal_info .callback-form .checkbox .checkbox__link {
  color: #fff;
}

.modal_default .modal__content {
  padding: 60px;
}

.modal_default .s-title {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
}

.modal_default .title {
  font-size: 32px;
  line-height: 34px;
  margin-bottom: 30px;
}

.modal_default .form .form__agree,
.modal_default .form .btn {
  margin-top: 20px;
}

.modal.modal-license .modal__img {
  width: 100%;
  height: 650px;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 30px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999;
}

.search-form__btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 20px;
  padding: 15px;
  max-width: 100%;
  background: 0 0;
  color: #aed0dc;
  border: none;
  cursor: pointer;
  padding-left: 45px;
  background: url("../img/icon/search-white.svg") no-repeat 15px center/16px;
}

.search-form__btn:hover {
  color: #fff;
}

.search-form .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.search-form .form .form__input {
  width: calc(100% - 115px);
}

.search-form .form .search-form__btn {
  width: 115px;
}

.search-form .close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2) url("../img/icon/close.png") no-repeat center/30px;
}

.search-form .sisea-search-form {
  width: 450px;
  max-width: 100%;
}

.search-form .search-block-list {
  width: 450px;
  max-width: 100%;
  padding: 15px 0;
  color: #fff;
}

.search-form .sisea-result + .sisea-result {
  margin-top: 10px;
}

@media all and (max-width: 768px) {
  .modal.modal-license .modal__img {
    height: 320px;
  }
}

/* CTA Block Form */
/* CTA Block */
.cta-wrap {
  margin: 40px auto 0;
  width: 100%;
  max-width: 100%;
  position: relative;
  background: #3f84af;
  color: #fff;
  border: 5px solid #ff2626;
  padding: 30px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cta-wrap::after {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background-color: rgba(69, 182, 214, 0.01);
  background-image: -o-radial-gradient(center -500%, circle farthest-corner, #4ae7fd 0%, rgba(63, 132, 175, 0) 85%);
  background-image: radial-gradient(center -500%, circle farthest-corner, #4ae7fd 0%, rgba(63, 132, 175, 0) 85%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff4ae7fd",endColorstr="#003f84af",GradientType=0);
  z-index: 1;
}

.cta-wrap__title {
  position: relative;
  z-index: 5;
  line-height: 22px;
}

.cta-wrap__form {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.cta-wrap__form .input {
  font-size: 18px;
  font-weight: 300;
  margin-left: 30px;
  background: #5baece;
  border: none;
  width: 250px;
  height: 40px;
  padding-left: 15px;
  padding-top: 0;
  padding-bottom: 0;
}

.cta-wrap__form .input:hover {
  color: #fff;
}

.cta-wrap__form .input:focus {
  background: #fff;
  color: #003f5d;
}

.cta-wrap__form .input::-webkit-input-placeholder {
  color: #fff;
}

.cta-wrap__form .input::-moz-placeholder {
  color: #fff;
}

.cta-wrap__form .input:-ms-input-placeholder {
  color: #fff;
}

.cta-wrap__form .input::-ms-input-placeholder {
  color: #fff;
}

.cta-wrap__form .input::placeholder {
  color: #fff;
}

.cta-wrap__form .btn {
  width: 140px;
  max-width: 100%;
  background: #003f5d;
  color: #fff;
}

.cta-wrap__form .btn:hover {
  background: #005077;
}

.cta-wrap.mt-0 {
  margin-top: 0;
}

/* Media */
@media all and (max-width: 992px) {
  .cta-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
  }
  .cta-wrap__title {
    margin-bottom: 15px;
  }
  .cta-wrap__form {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .cta-wrap__form input, .cta-wrap__form .input {
    margin-left: 0px;
  }
}

@media all and (max-width: 768px) {
  .cta-wrap__form input, .cta-wrap__form .input {
    width: 100%;
  }
  .cta-wrap__form button, .cta-wrap__form .btn {
    width: 100%;
  }
}

@media all and (max-width: 576px) {
  .cta-wrap {
    padding: 30px 20px;
  }
  .cta-wrap__form .input {
    margin: 0;
    width: 100%;
  }
  .cta-wrap__form .btn {
    width: 100%;
  }
}

/* Poll Form */
.poll {
  padding: 40px;
  width: 640px;
  max-width: 100%;
  background: #f3f1ea;
}

.poll__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  color: #a2926b;
  margin-bottom: 40px;
}

.poll__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
}

.poll__row + .poll__row {
  margin-top: 20px;
}

.poll__select {
  padding: 10px;
  margin-right: 20px;
}

.poll__input {
  padding: 10px;
  margin: 0 10px;
  width: 80px;
  max-width: 100%;
}

.poll__price {
  font-weight: 700;
}

.poll .poll__add {
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  text-decoration: underline;
  margin-top: 20px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

.poll .poll__add:hover {
  color: #36677f;
}

.poll .poll__delete {
  font-size: 10px;
  font-weight: 700;
  line-height: 19px;
  width: 20px;
  height: 20px;
  text-align: center;
  position: absolute;
  right: -20px;
  top: 10px;
  background: #bc2929;
  color: white;
  cursor: pointer;
}

.poll .poll__delete:hover {
  background: #c00000;
}

.poll__result {
  background: #3f84af;
  border: 5px solid #b7c4cc;
  color: #b7c4cc;
  padding: 20px;
  margin-top: 20px;
}

.poll__total-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}

.poll__total-sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.poll__sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-top: 20px;
  color: #fff;
}

.poll .poll__subtitle {
  margin-right: 10px;
}

.poll .poll__value,
.poll .poll__currency {
  font-weight: 700;
}

.poll .poll__btn {
  display: none;
  margin-top: 30px;
}

.poll .poll__btn.active {
  display: block;
}

.poll .poll__btn .btn {
  background: #cc0808;
}

.poll .poll__btn .btn span.hide {
  display: inline-block;
}

.poll .form-step {
  display: none;
}

.poll .form .form__input {
  background: #fff;
}

/* Media */
@media all and (max-width: 768px) {
  .poll {
    max-width: 100%;
  }
  .poll__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .poll__select {
    width: 100%;
  }
  .poll__count {
    margin-top: 10px;
  }
}

@media all and (max-width: 576px) {
  .poll__label {
    width: 100%;
  }
  .poll__input {
    margin-left: 0;
  }
  .poll .poll__btn .btn span.hide {
    display: none;
  }
}

/* Main Content*/
.content {
  padding: 60px 0;
}

.content .container_inside {
  width: 910px;
  max-width: 100%;
}

.content .content__subtitle {
  font-size: 14px;
  font-weight: 300;
}

.content .content__title {
  font-size: 32px;
  line-height: 1.25;
  color: #a2926b;
  margin-bottom: 30px;
}

.content .content__title + .content__offer {
  margin-top: -15px;
}

.content .content__offer {
  font-size: 14px;
}

.content .content__offer + .row, .content .content__offer + .dropdown__nav {
  margin-top: 60px;
}

.content .cta-wrap + .content__offer {
  margin-top: 15px;
}

.content * + ul, .content * + ol,
.content p + ul, .content p + ol,
.content ul + p, .content ol + p,
.content p + p {
  margin-top: 15px;
}

/* Media */
@media all and (max-width: 576px) {
  .content .content__title {
    font-size: 24px;
  }
  .content .content__offer + .row, .content .content__offer + .dropdown__nav {
    margin-top: 30px;
  }
}

/* Title Block */
/* Title Block */
.content_header {
  background: #f2f5f6;
  padding: 40px 0 60px;
}

/* Media */
@media all and (max-width: 576px) {
  .content_header .content__title {
    font-size: 28px;
    line-height: 32px;
  }
}

/* Breadcrumb Block */
/* Breadcrumb Block */
.content__breadcrumbs {
  margin-top: 0px !important;
  margin-bottom: 30px;
}

.content__breadcrumbs__item {
  position: relative;
  display: inline-block;
}

.content__breadcrumbs__item + .content__breadcrumbs__item {
  padding-left: 15px;
}

.content__breadcrumbs__item + .content__breadcrumbs__item:before {
  content: "";
  display: block;
  width: 10px;
  height: 18px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/icon/arrow-next.svg") no-repeat center/8px;
}

.content__breadcrumbs__link {
  font-size: 14px;
  line-height: 18px;
  color: #3e83a4;
}

.content__breadcrumbs__link:hover {
  color: #599fc1;
}

.content__breadcrumbs__span {
  font-size: 14px;
  line-height: 18px;
  color: #7c7c7c;
}

/* Sidebar Block */
/* Block With Information in Sidebar*/
.sidebar-info {
  background: #ebeeef;
  border: 8px solid #d1dee4;
  padding: 40px;
}

.sidebar-info_small {
  width: 400px;
  max-width: 100%;
  margin-left: auto;
}

.sidebar-info_small .btn {
  width: 100%;
}

.sidebar-info__title {
  font-size: 22px;
  color: #33454e;
  margin-bottom: 20px;
}

.sidebar-info__item {
  position: relative;
}

.sidebar-info__list {
  font-size: 14px;
  list-style: square;
  padding-left: 16px;
  color: #33454e;
}

.sidebar-info__list .info__item + .info__item {
  margin-top: 10px;
}

@media all and (max-width: 768px) {
  .sidebar-info_small {
    width: 100%;
  }
}

/* Contact Block */
/* Contact Form Block */
.content_contact {
  background: #ebeeef;
}

.content_contact .form.row .column, .content_contact .form.dropdown__nav .column, .content_contact .form.row .dropdown__item, .content_contact .form.dropdown__nav .dropdown__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.content_contact .form.row .btn, .content_contact .form.dropdown__nav .btn {
  display: block;
  width: 100%;
}

.content_contact .form__input {
  background: #fff;
}

.content_contact .form__textarea {
  background: #fff;
}

/* Media */
@media all and (max-width: 576px) {
  .content_contact .form.row .column, .content_contact .form.dropdown__nav .column, .content_contact .form.row .dropdown__item, .content_contact .form.dropdown__nav .dropdown__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .content_contact .form.row .column + .column, .content_contact .form.dropdown__nav .column + .column, .content_contact .form.row .dropdown__item + .column, .content_contact .form.dropdown__nav .dropdown__item + .column, .content_contact .form.row .column + .dropdown__item, .content_contact .form.dropdown__nav .column + .dropdown__item, .content_contact .form.row .dropdown__item + .dropdown__item, .content_contact .form.dropdown__nav .dropdown__item + .dropdown__item {
    margin-top: 30px;
  }
  .content_contact .form .checkbox__label {
    font-size: 12px;
  }
}

/* Sale Block */
/* Information About Sale */
.content_sale {
  background: #f2f5f6;
}

.content_sale .content__title {
  margin-bottom: 60px;
  text-align: center;
}

.content_sale .row, .content_sale .dropdown__nav {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.content_sale .item .item__icon {
  background-color: #fff;
  margin-bottom: 30px;
}

.content_sale .item .item__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #325564;
}

.content_sale .item .item__offer {
  color: #325564;
}

/* Media */
@media all and (max-width: 992px) {
  .content_sale .item .item__title {
    font-size: 16px;
  }
}

@media all and (max-width: 768px) {
  .content_sale {
    padding-bottom: 30px;
  }
  .content_sale .item {
    margin-bottom: 30px;
  }
  .content_sale .item .item__icon {
    margin-bottom: 15px;
  }
  .content_sale .item .item__line {
    width: 80px;
  }
}

@media all and (max-width: 576px) {
  .content_sale .content__title {
    margin-bottom: 30px;
  }
}

/* Section|Child Block */
/* Preview Child Page */
.content_section .content__title {
  margin-bottom: 60px;
}

.content_section .row + .row, .content_section .dropdown__nav + .row, .content_section .row + .dropdown__nav, .content_section .dropdown__nav + .dropdown__nav {
  position: relative;
  padding-top: 30px;
  margin-top: 30px;
}

.content_section .row + .row:before, .content_section .dropdown__nav + .row:before, .content_section .row + .dropdown__nav:before, .content_section .dropdown__nav + .dropdown__nav:before {
  position: absolute;
  top: 0;
  left: 15px;
  content: '';
  display: block;
  width: calc(100% - 30px);
  height: 1px;
  background-color: #1c2c34;
  border-bottom: 1px solid #49616d;
}

/* Media */
@media all and (max-width: 768px) {
  .content_section .vacancy + .vacancy {
    margin-top: 30px;
  }
}

@media all and (max-width: 576px) {
  .content_section .content__title {
    font-size: 24px;
    text-align: left;
    margin-bottom: 30px;
  }
  .content_section .preview-page + .preview-page {
    margin-top: 60px;
  }
}

/* Item with Icon */
/* Item with Icon */
.item {
  text-align: center;
}

.item__icon {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: #f2f5f6;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  margin: 0 auto 15px;
}

.item__icon.consulting {
  background: url("../img/icon/consulting.svg") no-repeat center 20px/35px;
}

.item__icon.store {
  background: url("../img/icon/online-shop.svg") no-repeat center 22px/35px;
}

.item__icon.insurance {
  background: url("../img/icon/insurance.svg") no-repeat 26px 22px/35px;
}

.item__icon.cv {
  background: url("../img/icon/cv.svg") no-repeat center 20px/35px;
}

.item__icon.delivery {
  background: url("../img/icon/icon_delivery.svg") no-repeat center 20px/35px;
}

.item__icon.clients {
  background: url("../img/icon/icon_clients.svg") no-repeat center/35px;
}

.item__icon.consultation {
  background: url("../img/icon/icon_consultation.svg") no-repeat center/35px;
}

.item__icon.certificate {
  background: url("../img/icon/icon_iso.svg") no-repeat center/60px;
}

.item__icon.format {
  background: url("../img/icon/icon_format.svg") no-repeat center/35px;
}

.item__icon.delivery-car {
  background: url("../img/icon/tracking.svg") no-repeat center 14px/44px;
}

.item__icon.question {
  background: url("../img/icon/question.svg") no-repeat 20px center/40px;
}

.item__icon.law {
  background: url("../img/icon/law.svg") no-repeat 25px center/30px;
}

.item__icon.money-light {
  background: url("../img/icon/icon_bank.svg") no-repeat 20px 16px/42px;
}

.item__icon.lecture {
  background: url("../img/icon/lecture.svg") no-repeat 22px 20px/36px;
}

.item__icon.united {
  background: url("../img/icon/united.svg") no-repeat center/40px;
}

.item__icon.free-delivery {
  background: url("../img/icon/tracking.svg") no-repeat center 14px/44px;
}

.item__icon.contract {
  background: url("../img/icon/contract.svg") no-repeat 25px center/35px;
}

.item__title {
  font-size: 16px;
  line-height: 22px;
}

.item__offer {
  font-size: 14px;
  line-height: 20px;
  width: 200px;
  max-width: 100%;
  margin: 0 auto;
}

.item__line {
  background: #a2926b;
  width: 180px;
  max-width: 100%;
  height: 2px;
  margin: 15px auto;
}

/* Media */
@media all and (max-width: 576px) {
  .item__title {
    font-size: 14px;
  }
}

/* Preview Item */
/* Child Page Preview */
.preview-page {
  /* Inline Style */
}

.preview-page__title {
  font-size: 20px;
  color: #a2926b;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 30px;
}

.preview-page__list, .preview-page__content ul {
  margin-bottom: 30px;
}

.preview-page__list.last, .preview-page__content ul.last {
  margin-bottom: 0px;
}

.preview-page__list .preview-page__item + .preview-page__item, .preview-page__content ul .preview-page__item + .preview-page__item, .preview-page__list .preview-page__content ul li + .preview-page__item, .preview-page__content ul .preview-page__list li + .preview-page__item, .preview-page__content ul li + .preview-page__item, .preview-page__list .preview-page__content ul .preview-page__item + li, .preview-page__content ul .preview-page__list .preview-page__item + li, .preview-page__content ul .preview-page__item + li, .preview-page__list .preview-page__content ul li + li, .preview-page__content ul .preview-page__list li + li, .preview-page__content ul li + li {
  margin-top: 15px;
}

.preview-page__item, .preview-page__content ul li {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  padding-left: 20px;
  background-image: url("../img/icon/arrow-light.svg");
  background-repeat: no-repeat;
  background-position: 0px center;
  background-size: 10px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.preview-page__item:hover, .preview-page__content ul li:hover {
  background-position: 4px center;
}

.preview-page__offer {
  font-size: 12px;
  color: #fff;
}

.preview-page__offer + .preview-page__color-number {
  margin-top: 6px;
}

.preview-page__color-number {
  font-size: 20px;
  font-weight: 700;
  color: #a3c6d8;
}

.preview-page__color-number + .btn {
  margin-top: 30px;
}

.preview-page__programm {
  border-top: 1px solid #a2926b;
}

.preview-page__programm .list-info {
  margin: 10px 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.preview-page__programm .list-info .list-item {
  margin: 10px 0;
}

.preview-page__programm .list-info .list-item .list-item__name {
  font-size: 12px;
  line-height: 1;
}

.preview-page__programm .list-info .list-item .list-item__content {
  font-size: 1.25rem;
}

.preview-page_inline {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.preview-page_inline .preview-page__list, .preview-page_inline .preview-page__content ul, .preview-page__content .preview-page_inline ul {
  margin-bottom: 0;
}

.preview-page_inline .preview-page__programm {
  border-top: 0;
}

.preview-page_inline .list-info,
.preview-page_inline .list-info .list-item {
  margin-top: 0;
}

.preview-page_inline + .preview-page_inline {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #a2926b;
}

/* Media */
@media all and (max-width: 768px) {
  .preview-page__title {
    font-size: 16px;
  }
  .preview-page .btn-group .btn {
    width: 100%;
  }
  .preview-page .btn-group .btn + .btn {
    margin-top: 10px;
  }
}

@media all and (max-width: 576px) {
  .preview-page__title {
    font-size: 20px;
  }
}

/* Work Item */
/* Vacancy */
.vacancy__title {
  display: block;
  font-size: 20px;
  line-height: 22px;
  color: #fff;
  margin-bottom: 20px;
}

.vacancy__salary {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.vacancy__offer {
  font-size: 14px;
  line-height: 20px;
  color: #89949b;
}

/* Media */
@media all and (max-width: 1200px) {
  .vacancy__title {
    font-size: 16px;
    line-height: 20px;
  }
  .vacancy__salary {
    font-size: 14px;
    line-height: 18px;
  }
}

@media all and (max-width: 992px) {
  .vacancy__title {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
  }
  .vacancy__salary {
    font-size: 14px;
    line-height: 18px;
  }
  .vacancy__offer {
    font-size: 12px;
    line-height: 16px;
    margin-top: 10px;
  }
}

@media all and (max-width: 768px) {
  .vacancy__title {
    font-size: 20px;
    line-height: 22px;
  }
  .vacancy__salary {
    font-size: 16px;
    line-height: 20px;
  }
  .vacancy__offer {
    font-size: 14px;
    line-height: 18px;
  }
}
