@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:300,400,600");
/*FRAMEWORK
	- GRID ROWS
	- RESET STYLES
	- CLEAR FIX with extend rule
	- OUTLINE FIX
*/
/* GRID ROWS */
.container {
  width: 1200px;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.row.flex-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.row.flex-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.row.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.row.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.row.justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col, .no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.column, .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.column, .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media all and (max-width: 1200px) {
  .col-xl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xl-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xl-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xl-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media all and (max-width: 992px) {
  .col-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media all and (max-width: 768px) {
  .col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media all and (max-width: 576px) {
  .col-sm-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-sm-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  display: inline-block;
  color: #222;
  text-decoration: none;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

a:hover {
  color: #5797b8;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-light {
  font-weight: 300;
}

.text-semibold {
  font-weight: 600;
}

.text-bold, b, strong {
  font-weight: 700;
}

.text-gold {
  color: #a2926b;
}

.text-blue {
  color: #3e83a4;
}

.bb-solid {
  border-bottom: 1px solid;
}

.bb-dotted {
  border-bottom: 1px dotted;
}

.word-break {
  white-space: nowrap;
}

.small, .text-small {
  font-size: .9rem;
}

.lead {
  font-size: 1.15rem;
}

.d-none,
.hidden {
  display: none !important;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* Main Style */
html {
  font-size: 14px;
  line-height: 1.5;
}

body {
  background: url("../img/bg-top.png") no-repeat top left/contain, url("../img/footer-bg.png") no-repeat bottom right/contain;
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  width: 100%;
}

.content-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.content-area .inside {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.content-area .footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

/* Background Style */
.bg-white {
  background: #fff;
}

.bg-light {
  background: #f2f5f6;
}

.bg-blue-gradient {
  background-color: #345463;
  background-image: -o-radial-gradient(center 0%, circle farthest-corner, #356277 0%, #33454e 30%);
  background-image: radial-gradient(circle farthest-corner at center 0%, #356277 0%, #33454e 30%);
}

.bg-blue-gradient.content .content__title {
  color: #7dbad8;
}

.bg-blue-gradient.content a.content__title:hover {
  color: #56a5cc;
}

p {
  font-size: 1rem;
}

p.lead {
  font-size: 1.15rem;
}

img {
  max-width: 100%;
}

/* Offset */
.mt-0 {
  margin-top: 0 !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pt-60 {
  padding-top: 60px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pb-60 {
  padding-bottom: 60px !important;
}

/* Media */
@media all and (max-width: 1200px) {
  .d-xl-none {
    display: none;
  }
  /* Offset */
  .mt-xl-0 {
    margin-top: 0 !important;
  }
  .mt-xl-30 {
    margin-top: 30px !important;
  }
  .mt-xl-60 {
    margin-top: 60px !important;
  }
  .mb-xl-0 {
    margin-bottom: 0 !important;
  }
  .mb-xl-30 {
    margin-bottom: 30px !important;
  }
  .mb-xl-60 {
    margin-bottom: 60px !important;
  }
  .pt-xl-0 {
    padding-top: 0 !important;
  }
  .pt-xl-30 {
    padding-top: 30px !important;
  }
  .pt-xl-60 {
    padding-top: 60px !important;
  }
  .pb-xl-0 {
    padding-bottom: 0 !important;
  }
  .pb-xl-30 {
    padding-bottom: 30px !important;
  }
  .pb-xl-60 {
    padding-bottom: 60px !important;
  }
  /* Text Align */
  .text-xl-center {
    text-align: center;
  }
  .text-xl-left {
    text-align: left;
  }
  .text-xl-right {
    text-align: right;
  }
}

@media all and (max-width: 992px) {
  .d-lg-none {
    display: none;
  }
  /* Offset */
  .mt-lg-0 {
    margin-top: 0 !important;
  }
  .mt-lg-30 {
    margin-top: 30px !important;
  }
  .mt-lg-60 {
    margin-top: 60px !important;
  }
  .mb-lg-0 {
    margin-bottom: 0 !important;
  }
  .mb-lg-30 {
    margin-bottom: 30px !important;
  }
  .mb-lg-60 {
    margin-bottom: 60px !important;
  }
  .pt-lg-0 {
    padding-top: 0 !important;
  }
  .pt-lg-30 {
    padding-top: 30px !important;
  }
  .pt-lg-60 {
    padding-top: 60px !important;
  }
  .pb-lg-0 {
    padding-bottom: 0 !important;
  }
  .pb-lg-30 {
    padding-bottom: 30px !important;
  }
  .pb-lg-60 {
    padding-bottom: 60px !important;
  }
  /* Text Align */
  .text-lg-center {
    text-align: center;
  }
  .text-lg-left {
    text-align: left;
  }
  .text-lg-right {
    text-align: right;
  }
}

@media all and (max-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .d-md-none {
    display: none;
  }
  /* Offset */
  .mt-md-0 {
    margin-top: 0 !important;
  }
  .mt-md-30 {
    margin-top: 30px !important;
  }
  .mt-md-60 {
    margin-top: 60px !important;
  }
  .mb-md-0 {
    margin-bottom: 0 !important;
  }
  .mb-md-30 {
    margin-bottom: 30px !important;
  }
  .mb-md-60 {
    margin-bottom: 60px !important;
  }
  .pt-md-0 {
    padding-top: 0 !important;
  }
  .pt-md-30 {
    padding-top: 30px !important;
  }
  .pt-md-60 {
    padding-top: 60px !important;
  }
  .pb-md-0 {
    padding-bottom: 0 !important;
  }
  .pb-md-30 {
    padding-bottom: 30px !important;
  }
  .pb-md-60 {
    padding-bottom: 60px !important;
  }
  /* Text Align */
  .text-md-center {
    text-align: center;
  }
  .text-md-left {
    text-align: left;
  }
  .text-md-right {
    text-align: right;
  }
}

@media all and (max-width: 576px) {
  .d-sm-none {
    display: none;
  }
  /* Offset */
  .mt-sm-0 {
    margin-top: 0 !important;
  }
  .mt-sm-30 {
    margin-top: 30px !important;
  }
  .mt-sm-60 {
    margin-top: 60px !important;
  }
  .mb-sm-0 {
    margin-bottom: 0 !important;
  }
  .mb-sm-30 {
    margin-bottom: 30px !important;
  }
  .mb-sm-60 {
    margin-bottom: 60px !important;
  }
  .pt-sm-0 {
    padding-top: 0 !important;
  }
  .pt-sm-30 {
    padding-top: 30px !important;
  }
  .pt-sm-60 {
    padding-top: 60px !important;
  }
  .pb-sm-0 {
    padding-bottom: 0 !important;
  }
  .pb-sm-30 {
    padding-bottom: 30px !important;
  }
  .pb-sm-60 {
    padding-bottom: 60px !important;
  }
  /* Text Align */
  .text-sm-center {
    text-align: center;
  }
  .text-sm-left {
    text-align: left;
  }
  .text-sm-right {
    text-align: right;
  }
}

.poll {
  padding: 40px;
  width: 640px;
  max-width: 100%;
  background: #f3f1ea;
}

.poll__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  color: #a2926b;
  margin-bottom: 40px;
}

.poll__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
}

.poll__row + .poll__row {
  margin-top: 20px;
}

.poll__label {
  font-size: 12px;
  line-height: 14px;
  display: inline-block;
  margin-bottom: 10px;
}

.poll__select {
  padding: 10px;
  margin-right: 20px;
}

.poll__input {
  padding: 10px;
  margin: 0 10px;
  width: 80px;
  max-width: 100%;
}

.poll__price {
  font-weight: 700;
}

.poll .poll__add {
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  text-decoration: underline;
  margin-top: 20px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

.poll .poll__add:hover {
  color: #36677f;
}

.poll .poll__delete {
  font-size: 10px;
  font-weight: 700;
  line-height: 19px;
  width: 20px;
  height: 20px;
  text-align: center;
  position: absolute;
  right: -20px;
  top: 10px;
  background: #bc2929;
  color: white;
  cursor: pointer;
}

.poll .poll__delete:hover {
  background: #c00000;
}

.poll__result {
  background: #3f84af;
  border: 5px solid #b7c4cc;
  color: #b7c4cc;
  padding: 20px;
  margin-top: 20px;
}

.poll__total-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}

.poll__total-sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.poll__sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-top: 20px;
  color: #fff;
}

.poll .poll__subtitle {
  margin-right: 10px;
}

.poll .poll__value,
.poll .poll__currency {
  font-weight: 700;
}

.poll .poll__btn {
  display: none;
  margin-top: 30px;
}

.poll .poll__btn.active {
  display: block;
}

.poll .poll__btn .btn {
  background: #cc0808;
}

.poll .poll__btn .btn span.hide {
  display: inline-block;
}

.poll .form-step {
  display: none;
}

.poll .form .form__input {
  background: #fff;
}

/* Media */
@media all and (max-width: 768px) {
  .poll {
    max-width: 100%;
  }
  .poll__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .poll__select {
    width: 100%;
  }
  .poll__count {
    margin-top: 10px;
  }
}

@media all and (max-width: 576px) {
  .poll__label {
    width: 100%;
  }
  .poll__input {
    margin-left: 0;
  }
  .poll .poll__btn .btn span.hide {
    display: none;
  }
}
