@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:300,400,600");
/*FRAMEWORK
	- GRID ROWS
	- RESET STYLES
	- CLEAR FIX with extend rule
	- OUTLINE FIX
*/
/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none;
  list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7); }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  display: inline-block;
  color: #222;
  text-decoration: none;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  a:hover {
    color: #5797b8;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    cursor: pointer; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.text-uppercase {
  text-transform: uppercase; }

.text-bold {
  font-weight: 600; }

.text-gold {
  color: #a2926b; }

.bb-solid {
  border-bottom: 1px solid; }

.bb-dotted {
  border-bottom: 1px dotted; }

.word-break {
  white-space: nowrap; }

.d-none,
.hidden {
  display: none !important; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

/* Grid */
.container {
  width: 1200px;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: block; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }
  .row.flex-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .row.flex-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .row .column {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px; }

/* Main Style */
body {
  background: url("../img/bg-top.png") no-repeat top left/contain, url("../img/footer-bg.png") no-repeat bottom right/contain;
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif; }

/* Background Style */
.bg_blue-gradient {
  background-color: #345463;
  background-image: -webkit-radial-gradient(circle farthest-corner at center 0%, #356277 0%, #33454e 30%);
  background-image: -o-radial-gradient(circle farthest-corner at center 0%, #356277 0%, #33454e 30%);
  background-image: radial-gradient(circle farthest-corner at center 0%, #356277 0%, #33454e 30%); }
  .bg_blue-gradient.content .content__title {
    color: #7dbad8; }

img {
  max-width: 100%; }

/* Header */
.header {
  padding: 20px 0; }
  .header__row {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .header__logo {
    width: 260px;
    height: 165px;
    background: url(../img/UCSP_logo.svg) no-repeat 6px -15px/236px;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-transition: 0;
    -o-transition: 0;
    transition: 0; }
  .header__offer {
    font-family: 'Open Sans Condensed',sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px; }
  .header__search {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/icon/search.svg) no-repeat center/contain;
    cursor: pointer; }
  .header__toggler {
    padding: 15px;
    width: 60px;
    height: 60px;
    cursor: pointer; }
  .header__mobile {
    display: none; }
    .header__mobile .header__search {
      padding: 15px;
      width: 60px;
      height: 60px;
      background-size: 24px; }
  .header__content {
    width: calc(100% - 310px); }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 15px;
    font-size: 16px;
    line-height: 18px;
    margin-top: 15px;
    margin-bottom: 15px; }
    .header__top .address {
      padding: 4px 30px;
      background: url("../img/icon/maps.svg") no-repeat left center/22px; }
    .header__top .mail {
      padding: 4px 30px;
      background: url("../img/icon/envelope.svg") no-repeat left center/22px; }
    .header__top .phone {
      font-weight: 700;
      padding: 4px 30px;
      padding-right: 0;
      background: url("../img/icon/telephone.svg") no-repeat left center/22px; }
    .header__top .vk {
      padding: 4px 30px;
      background: url("../img/icon/vk.svg") no-repeat left center/22px; }
  .header .separator {
    width: calc(100% - 30px);
    height: 40px;
    background: url(../img/separ.png) no-repeat center;
    margin: 0 auto; }
  .header__nav {
    margin-top: 15px; }
    .header__nav .header__navbar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      text-transform: uppercase; }
    .header__nav .header__item {
      padding: 0 15px; }
    .header__nav .header__link {
      font-size: 18px;
      line-height: 24px;
      display: inline-block; }

.sticky-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 15px 0;
  z-index: 999;
  background-image: -webkit-radial-gradient(circle farthest-corner at center 0%, rgba(66, 93, 107, 0.9) 0%, rgba(45, 62, 70, 0.9) 70%);
  background-image: -o-radial-gradient(circle farthest-corner at center 0%, rgba(66, 93, 107, 0.9) 0%, rgba(45, 62, 70, 0.9) 70%);
  background-image: radial-gradient(circle farthest-corner at center 0%, rgba(66, 93, 107, 0.9) 0%, rgba(45, 62, 70, 0.9) 70%); }
  .sticky-menu .header__row {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .sticky-menu .header__logo {
    width: 270px;
    height: 90px;
    background: url(../img/UCSP_logo_compact.svg) no-repeat 3px -6px/250px;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .sticky-menu .header__offer {
    font-size: 14px;
    color: #fff;
    margin-left: 40px; }
  .sticky-menu .header__content {
    width: auto; }
  .sticky-menu .separator {
    height: 1px;
    background: rgba(255, 255, 255, 0.2); }
  .sticky-menu .header__top {
    margin-top: 10px;
    margin-bottom: 10px; }
    .sticky-menu .header__top .header__link {
      font-size: 14px;
      line-height: 16px;
      color: #fff; }
    .sticky-menu .header__top .address {
      background: url("../img/icon/maps-light.svg") no-repeat left center/22px; }
    .sticky-menu .header__top .mail {
      background: url("../img/icon/envelope-light.svg") no-repeat left center/22px; }
    .sticky-menu .header__top .phone {
      background: url("../img/icon/telephone-light.svg") no-repeat left center/22px; }
    .sticky-menu .header__top .vk {
      background: url("../img/icon/vk-light.svg") no-repeat left center/22px; }
  .sticky-menu .header__nav .header__item .header__search {
    background: url(../img/icon/search-white.svg) no-repeat center/contain; }
  .sticky-menu .header__nav .header__link {
    font-size: 16px;
    line-height: 20px;
    color: #fff; }

.content.sticky {
  margin-top: 230px; }

/* Media */
@media all and (max-width: 1200px) {
  .header__logo {
    width: 260px;
    height: 130px;
    background: url(../img/UCSP_logo.svg) no-repeat 6px -15px/182px; }
  .header__offer {
    font-size: 12px;
    line-height: 16px; }
  .header__content {
    width: calc(100% - 260px); }
  .header__top {
    font-size: 14px; }
    .header__top .vk {
      display: none; }
  .header__nav .header__link {
    font-size: 16px;
    line-height: 22px; } }

@media all and (max-width: 992px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    height: 80px;
    width: 100%;
    background: #fff url(../img/bg-top.png) no-repeat top left/cover;
    padding: 8px 0 24px; }
    .header__top {
      display: none; }
    .header__logo {
      width: 200px;
      height: 50px;
      background: url(../img/UCSP_logo_compact_sm.svg) no-repeat 5px -8px/188px; }
    .header__offer {
      display: none; }
    .header__content {
      width: calc(100% - 200px); }
    .header .separator {
      display: none; }
    .header__nav {
      margin-top: 25px; }
      .header__nav .header__link {
        font-size: 14px;
        line-height: 20px; }
        .header__nav .header__link__desktop {
          display: none; }
    .header + .content.content_header {
      margin-top: 80px; } }

@media all and (max-width: 768px) {
  .header {
    height: auto;
    padding: 8px 0 0; }
    .header__mobile {
      display: block; }
    .header__content {
      display: none;
      width: 100%; }
    .header__nav {
      margin-top: 10px;
      margin-bottom: 25px; }
      .header__nav .header__navbar {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center; }
      .header__nav .header__item_search {
        display: none; }
      .header__nav .header__item + .header__item {
        margin-top: 10px; }
    .header + .content.content_header {
      margin-top: 70px; } }

@media all and (max-width: 576px) {
  .header__logo {
    width: 150px;
    background: url(../img/UCSP_logo_compact_sm.svg) no-repeat 5px 0px/148px; }
  .header__mobile {
    padding: 10px 0; }
    .header__mobile .header__search {
      padding: 5px;
      width: 40px;
      height: 40px;
      background-size: 20px; }
    .header__mobile .header__toggler {
      padding: 8px;
      width: 40px;
      height: 40px; } }

/* Form */
/* Form */
.form__label {
  font-size: 12px;
  line-height: 14px;
  display: inline-block;
  margin-bottom: 10px; }

.form__input {
  padding: 15px;
  width: 100%;
  max-width: 100%;
  font-size: 18px;
  line-height: 20px;
  background: #f2f3f4;
  border: none;
  border-bottom: 1px solid #796e52; }
  .form__input::-webkit-input-placeholder {
    opacity: .5; }
  .form__input::-moz-placeholder {
    opacity: .5; }
  .form__input::-ms-input-placeholder {
    opacity: .5; }
  .form__input::placeholder {
    opacity: .5; }
  .form__input:focus {
    outline: none; }
    .form__input:focus::-webkit-input-placeholder {
      opacity: 0; }
    .form__input:focus::-moz-placeholder {
      opacity: 0; }
    .form__input:focus::-ms-input-placeholder {
      opacity: 0; }
    .form__input:focus::placeholder {
      opacity: 0; }

.form__textarea {
  font-family: "Open Sans", sans-serif;
  padding: 15px;
  width: 100%;
  max-width: 100%;
  font-size: 18px;
  line-height: 20px;
  background: #f2f3f4;
  border: none;
  border-bottom: 1px solid #796e52;
  resize: none; }
  .form__textarea::-webkit-input-placeholder {
    opacity: .5; }
  .form__textarea::-moz-placeholder {
    opacity: .5; }
  .form__textarea::-ms-input-placeholder {
    opacity: .5; }
  .form__textarea::placeholder {
    opacity: .5; }
  .form__textarea:focus {
    outline: none; }
    .form__textarea:focus::-webkit-input-placeholder {
      opacity: 0; }
    .form__textarea:focus::-moz-placeholder {
      opacity: 0; }
    .form__textarea:focus::-ms-input-placeholder {
      opacity: 0; }
    .form__textarea:focus::placeholder {
      opacity: 0; }

.form__agree {
  position: relative;
  margin-top: 10px; }

.form .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .form .checkbox__input {
    width: 30px;
    height: 30px;
    margin: 0;
    margin-right: 10px; }
  .form .checkbox__label {
    font-size: 14px; }

.form .btn {
  margin-top: 10px; }

/* Button */
.btn {
  position: relative;
  display: inline-block;
  max-width: 100%;
  height: 40px;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  padding: 0 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .btn_primary {
    background: #477284;
    color: #fff; }
    .btn_primary:hover, .btn_primary:focus {
      background: #5797b8;
      color: #fff; }
  .btn_gold {
    background-color: #796e52;
    color: #fff; }
    .btn_gold:hover {
      background-color: #5b523d; }
  .btn_with-arrow {
    background-image: url(../img/icon/arrow.png);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 20px);
    background-position-y: center;
    background-size: 18px;
    padding-right: 48px; }

/* Footer */
/* Footer */
.footer {
  background: url("../img/footer-wrap-bg.jpg") no-repeat center/cover; }
  .footer .footer__row {
    padding: 55px 65px 35px;
    background: inherit; }
    .footer .footer__row .footer__logo {
      width: 220px;
      height: 120px;
      background: url(../img/UCSP_logo_footer.svg) no-repeat center -20px;
      background-size: 200px 160px; }
    .footer .footer__row .footer__column {
      max-width: calc( (100% - 220px)/2); }
  .footer .footer__list {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    width: 260px;
    max-width: 100%;
    /* Footer Column Contact */ }
    .footer .footer__list__item {
      display: inline-block;
      margin-bottom: 6px; }
    .footer .footer__list .footer__link {
      margin-bottom: 10px; }
      .footer .footer__list .footer__link_last {
        margin-bottom: 0; }
    .footer .footer__list + .policy {
      margin-top: 24px; }
    .footer .footer__list_contact {
      margin-left: auto; }
      .footer .footer__list_contact .footer__link {
        position: relative;
        font-size: 14px;
        line-height: 18px; }
        .footer .footer__list_contact .footer__link .icon {
          position: absolute;
          top: 0;
          left: -30px;
          width: 18px;
          height: 18px; }
      .footer .footer__list_contact .footer__tel {
        font-size: 20px;
        line-height: 20px; }
        .footer .footer__list_contact .footer__tel .icon {
          background: url(../img/icon/telephone-light.svg) no-repeat center; }
      .footer .footer__list_contact .footer__mail .icon {
        background: url(../img/icon/envelope-light.svg) no-repeat center; }
      .footer .footer__list_contact .footer__vk .icon {
        background: url(../img/icon/vk-light.svg) no-repeat center; }
      .footer .footer__list_contact .footer__address .icon {
        background: url(../img/icon/maps-light.svg) no-repeat center; }
  .footer__link {
    display: inline-block;
    color: #fff; }
    .footer__link:hover {
      color: #d9d9d9; }
  .footer .policy {
    display: inline-block;
    color: #fff;
    margin-top: 10px;
    font-size: 12px;
    border-bottom: 1px solid; }
    .footer .policy:hover {
      color: #d9d9d9; }

/* Media */
@media all and (max-width: 992px) {
  .footer .footer__row .footer__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .footer .footer__row .footer__logo {
    display: none; } }

@media all and (max-width: 768px) {
  .footer .footer__row {
    padding: 55px 30px 35px; }
  .footer .footer__list_contact .footer__link {
    font-size: 12px;
    line-height: 16px;
    padding-left: 30px;
    margin-bottom: 15px; }
    .footer .footer__list_contact .footer__link .icon {
      left: 0; }
  .footer .footer__list_contact .footer__tel {
    font-size: 16px;
    line-height: 18px; } }

@media all and (max-width: 576px) {
  .footer .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding: 55px 0px 35px; }
    .footer .footer__row .footer__column {
      -webkit-box-flex: unset;
      -ms-flex: unset;
      flex: unset;
      max-width: 100%;
      text-align: center; }
  .footer .footer__list {
    margin: 0 auto; }
    .footer .footer__list.footer__list_contact {
      margin-bottom: 20px; } }

/* Media */
@media all and (max-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px; } }

/* Main Content*/
.content {
  padding: 60px 0; }
  .content .container_inside {
    width: 910px; }
  .content .content__title {
    font-size: 32px;
    line-height: 40px;
    color: #a2926b;
    margin-bottom: 30px; }
    .content .content__title + .content__offer {
      margin-top: -15px; }
  .content .content__offer {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300; }
    .content .content__offer + .row {
      margin-top: 60px; }
  .content .btn {
    font-size: 16px;
    line-height: 48px;
    height: 50px; }
  .content ul, .content ol,
  .content p + ul, .content p + ol,
  .content ul + p, .content ol + p,
  .content p + p {
    margin-top: 15px; }

/* Media */
@media all and (max-width: 576px) {
  .content .content__offer + .row {
    margin-top: 30px; } }

/* Title Block */
/* Title Block */
.content_header {
  background: #f2f5f6;
  padding: 40px 0 60px; }
  .content_header p {
    font-size: 16px;
    line-height: 26px; }
    .content_header p + p {
      margin-top: 15px; }
  .content_header .row .column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%; }
    .content_header .row .column_sidebar {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
      flex: 0 0 40%;
      max-width: 40%; }

/* Media */
@media all and (max-width: 768px) {
  .content_header .row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .content_header .row .column {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; }
      .content_header .row .column_sidebar {
        margin-top: 30px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%; } }

@media all and (max-width: 576px) {
  .content_header .content__title {
    font-size: 28px;
    line-height: 32px; }
  .content_header .row .column_sidebar {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .content_header p {
    font-size: 14px;
    line-height: 22px; } }

/* Breadcrumb Block */
/* Breadcrumb Block */
.content__breadcrumbs {
  margin-bottom: 30px; }
  .content__breadcrumbs__item {
    position: relative;
    display: inline-block; }
    .content__breadcrumbs__item + .content__breadcrumbs__item {
      padding-left: 10px; }
      .content__breadcrumbs__item + .content__breadcrumbs__item:before {
        content: "";
        display: block;
        width: 10px;
        height: 18px;
        position: absolute;
        top: 0;
        left: 0;
        background: url("../img/icon/arrow-next.svg") no-repeat center/8px; }
  .content__breadcrumbs__link {
    font-size: 14px;
    line-height: 18px;
    color: #3e83a4; }
    .content__breadcrumbs__link:hover {
      color: #599fc1; }
  .content__breadcrumbs__span {
    font-size: 14px;
    line-height: 18px;
    color: #7c7c7c; }

/* News Category */
.news-title {
  padding-bottom: 0; }
  .news-title .content__title {
    margin-bottom: 0; }

.news {
  padding-top: 0;
  background: #f2f5f6; }
  .news .row .column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .news__item {
    padding: 50px 0;
    border-bottom: 1px solid #a2926b; }
    .news__item__info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      margin-bottom: 15px; }
    .news__item__theme {
      color: #a2926b;
      text-transform: uppercase;
      font-size: 14px;
      margin-right: 5px; }
    .news__item__date {
      color: #959595;
      text-transform: uppercase;
      font-size: 14px; }
    .news__item__img {
      margin-bottom: 15px; }
    .news__item__title {
      font-size: 22px;
      line-height: 26px;
      font-weight: 700;
      margin-bottom: 15px;
      display: block; }
    .news__item__offer {
      font-size: 14px;
      line-height: 20px; }
    .news__item__link {
      color: #959595; }
      .news__item__link:hover, .news__item__link:focus {
        text-decoration: underline; }
  .news .pagination {
    margin-top: 60px; }

.news-contact {
  background: #ebeeef; }
  .news-contact .row {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .news-contact .row .column {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%; }
      .news-contact .row .column_form {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%; }
  .news-contact__title {
    color: #a2926b;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px; }
    .news-contact__title + .form {
      margin-top: 22px; }
  .news-contact__line {
    display: block;
    height: 1px;
    width: 100%;
    background: #fff;
    margin: 20px auto; }
  .news-contact__offer {
    font-size: 12px;
    line-height: 16px;
    color: #959595; }
  .news-contact__item {
    margin-bottom: 30px; }
    .news-contact__item.row .column {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%; }
    .news-contact__item .item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: left; }
      .news-contact__item .item__icon {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
        margin: 15px 0; }
      .news-contact__item .item__offer {
        font-size: 14px;
        line-height: 20px;
        margin-left: 15px;
        width: 180px; }
  .news-contact .form__textarea {
    background: #fff;
    margin-bottom: 20px; }
  .news-contact .form__input {
    background: #fff; }
  .news-contact .form .btn {
    display: block;
    width: 100%; }

/* Media */
@media all and (max-width: 992px) {
  .news-contact__item.row .column {
    -webkit-box-flex: unset;
    -ms-flex: unset;
    flex: unset;
    max-width: 100%; }
  .news-contact__item .item__icon {
    width: 50px;
    height: 50px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px; }
    .news-contact__item .item__icon.consulting {
      background-size: 25px;
      background-position: center 10px; }
    .news-contact__item .item__icon.store {
      background-size: 25px;
      background-position: center 10px; }
    .news-contact__item .item__icon.insurance {
      background-size: 25px;
      background-position: 14px 12px; }
    .news-contact__item .item__icon.cv {
      background-size: 25px;
      background-position: center 12px; } }

@media all and (max-width: 768px) {
  .news__item {
    padding: 30px 0; }
    .news__item__title {
      font-size: 18px;
      line-height: 22px; }
  .news-contact .row .column {
    -webkit-box-flex: unset;
    -ms-flex: unset;
    flex: unset;
    max-width: 100%; }
  .news-contact__item.row .column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .news-contact__offer {
    margin-bottom: 50px; } }

@media all and (max-width: 576px) {
  .news .row .column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .news .pagination {
    margin-top: 30px; }
  .news-contact__item {
    margin-bottom: 10px; }
    .news-contact__item.row .column {
      -webkit-box-flex: unset;
      -ms-flex: unset;
      flex: unset;
      max-width: 100%; } }

.page {
  background: #fff; }
  .page .content {
    padding: 60px 0 40px; }
    .page .content.page__content {
      padding: 0 0 60px; }
    .page .content__breadcrumbs {
      margin: 0; }
    .page .content section.column {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
      flex: 0 0 60%;
      max-width: 60%; }
    .page .content aside.column {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
      flex: 0 0 40%;
      max-width: 40%; }
  .page__content {
    padding: 0 0 60px; }
    .page__content .content__title,
    .page__content h1, .page__content h2 {
      color: #a2926b;
      font-size: 26px;
      line-height: 34px; }
    .page__content h3 {
      color: #a2926b;
      font-size: 24px;
      line-height: 30px; }
    .page__content h4 {
      color: #a2926b;
      font-size: 20px;
      line-height: 26px; }
    .page__content h5 {
      color: #a2926b;
      font-size: 18px;
      line-height: 24px; }
    .page__content h6 {
      color: #a2926b;
      font-size: 16px;
      line-height: 22px; }
    .page__content p, .page__content ul, .page__content ol {
      font-size: 16px;
      line-height: 24px; }
    .page__content h2 + *, .page__content h3 + *, .page__content h4 + *, .page__content h5 + *, .page__content h6 + * {
      margin-top: 15px; }
    .page__content * + h2, .page__content * + h3, .page__content * + h4, .page__content * + h5, .page__content * + h6 {
      margin-top: 30px; }
    .page__content ul li {
      position: relative;
      padding-left: 15px; }
      .page__content ul li:before {
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        left: 0;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #a2926b; }
    .page__content ol {
      padding-left: 15px;
      list-style: decimal; }
  .page__sidebar {
    padding: 20px;
    border: 1px solid #ebeeef;
    border-top: 10px solid #326988; }
    .page__sidebar__title {
      text-transform: uppercase; }
    .page__sidebar__item {
      display: block;
      font-size: 14px;
      line-height: 18px;
      padding: 30px 0; }
      .page__sidebar__item + .page__sidebar__item {
        border-top: 1px solid #ebeeef; }
      .page__sidebar__item.last {
        padding-bottom: 10px; }
    .page__sidebar__date {
      color: #959595;
      padding-right: 10px; }
    .page__sidebar + .page__link {
      margin-top: 20px;
      font-size: 12px;
      font-weight: 700; }
  .page__link {
    color: #3e83a4; }

/* Pagination */
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px; }
  .pagination__item {
    padding: 10px; }
  .pagination__link {
    font-weight: 700;
    color: #3e83a4; }

/* Item with Icon */
/* Item with Icon */
.item {
  text-align: center; }
  .item__icon {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background: #f2f5f6;
    margin: 0 auto 15px; }
    .item__icon.consulting {
      background: #d9e4e8 url("../img/icon/consulting.svg") no-repeat center 20px/35px; }
    .item__icon.store {
      background: #d9e4e8 url("../img/icon/online-shop.svg") no-repeat center 22px/35px; }
    .item__icon.insurance {
      background: #d9e4e8 url("../img/icon/insurance.svg") no-repeat 26px 22px/35px; }
    .item__icon.cv {
      background: #d9e4e8 url("../img/icon/cv.svg") no-repeat center 20px/35px; }
    .item__icon.delivery {
      background: #f2f5f6 url("../img/icon/icon_delivery.svg") no-repeat center 20px/35px; }
    .item__icon.clients {
      background: #f2f5f6 url("../img/icon/icon_clients.svg") no-repeat center/35px; }
    .item__icon.consultation {
      background: #f2f5f6 url("../img/icon/icon_consultation.svg") no-repeat center/35px; }
    .item__icon.certificate {
      background: #f2f5f6 url("../img/icon/icon_iso.svg") no-repeat center/60px; }
    .item__icon.format {
      background: #f2f5f6 url("../img/icon/icon_format.svg") no-repeat center/35px; }
    .item__icon.united {
      background: #fff url("../img/icon/united.svg") no-repeat center/40px; }
    .item__icon.free-delivery {
      background: #fff url("../img/icon/tracking.svg") no-repeat center 14px/44px; }
    .item__icon.contract {
      background: #fff url("../img/icon/contract.svg") no-repeat 25px center/35px; }
  .item__title {
    font-size: 16px;
    line-height: 22px; }
  .item__offer {
    font-size: 16px;
    line-height: 22px;
    width: 200px;
    max-width: 100%;
    margin: 0 auto; }
  .item__line {
    background: #a2926b;
    width: 200px;
    max-width: 100%;
    height: 2px;
    margin: 15px auto; }

/* Media */
@media all and (max-width: 576px) {
  .item__title {
    font-size: 14px; } }
