/* Main Content*/
.content {
  padding: 60px 0;
}

.content .container_inside {
  width: 910px;
  max-width: 100%;
}

.content .content__subtitle {
  font-size: 14px;
  font-weight: 300;
}

.content .content__title {
  font-size: 32px;
  line-height: 1.25;
  color: #a2926b;
  margin-bottom: 30px;
}

.content .content__title + .content__offer {
  margin-top: -15px;
}

.content .content__offer {
  font-size: 14px;
}

.content .content__offer + .row {
  margin-top: 60px;
}

.content .cta-wrap + .content__offer {
  margin-top: 15px;
}

.content * + ul, .content * + ol,
.content p + ul, .content p + ol,
.content ul + p, .content ol + p,
.content p + p {
  margin-top: 15px;
}

/* Media */
@media all and (max-width: 576px) {
  .content .content__title {
    font-size: 24px;
  }
  .content .content__offer + .row {
    margin-top: 30px;
  }
}

/* Title Block */
/* Title Block */
.content_header {
  background: #f2f5f6;
  padding: 40px 0 60px;
}

/* Media */
@media all and (max-width: 576px) {
  .content_header .content__title {
    font-size: 28px;
    line-height: 32px;
  }
}

/* Breadcrumb Block */
/* Breadcrumb Block */
.content__breadcrumbs {
  margin-top: 0px !important;
  margin-bottom: 30px;
}

.content__breadcrumbs__item {
  position: relative;
  display: inline-block;
}

.content__breadcrumbs__item + .content__breadcrumbs__item {
  padding-left: 15px;
}

.content__breadcrumbs__item + .content__breadcrumbs__item:before {
  content: "";
  display: block;
  width: 10px;
  height: 18px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/icon/arrow-next.svg") no-repeat center/8px;
}

.content__breadcrumbs__link {
  font-size: 14px;
  line-height: 18px;
  color: #3e83a4;
}

.content__breadcrumbs__link:hover {
  color: #599fc1;
}

.content__breadcrumbs__span {
  font-size: 14px;
  line-height: 18px;
  color: #7c7c7c;
}

/* News Category */
.news {
  padding-top: 0;
  background: #f2f5f6;
}

.news__item {
  padding: 30px 0;
  border-bottom: 1px solid #a2926b;
}

.news__item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-bottom: 15px;
}

.news__item__theme {
  font-size: 14px;
  color: #a2926b;
  text-transform: uppercase;
  margin-right: 5px;
}

.news__item__date {
  font-size: 14px;
  color: #959595;
  text-transform: uppercase;
}

.news__item__img {
  margin-bottom: 15px;
}

.news__item__title {
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 15px;
  display: block;
}

.news__item__offer {
  font-size: 14px;
  line-height: 20px;
}

.news__item__link {
  color: #959595;
}

.news__item__link:hover, .news__item__link:focus {
  text-decoration: underline;
}

.news .pagination {
  margin-top: 30px;
}

.news-contact {
  background: #ebeeef;
}

.news-contact .row {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.news-contact__title {
  color: #a2926b;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
}

.news-contact__title + .form {
  margin-top: 22px;
}

.news-contact__line {
  display: block;
  height: 1px;
  width: 100%;
  background: #fff;
  margin: 20px auto;
}

.news-contact__offer {
  font-size: 12px;
  line-height: 16px;
  color: #959595;
}

.news-contact__item {
  margin-bottom: 30px;
}

.news-contact__item .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.news-contact__item .item__icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  margin: 15px 0;
}

.news-contact__item .item__offer {
  font-size: 14px;
  line-height: 20px;
  margin-left: 15px;
  width: 180px;
}

.news-contact .form__textarea {
  background: #fff;
  margin-bottom: 20px;
}

.news-contact .form__input {
  background: #fff;
}

.news-contact .form .btn {
  display: block;
  width: 100%;
}

.news-contact .item .item__icon {
  background-color: #d9e4e8;
}

/* Media */
@media all and (max-width: 992px) {
  .news-contact__item .item__icon {
    width: 50px;
    height: 50px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
  }
  .news-contact__item .item__icon.consulting {
    background-size: 25px;
    background-position: center 10px;
  }
  .news-contact__item .item__icon.store {
    background-size: 25px;
    background-position: center 10px;
  }
  .news-contact__item .item__icon.insurance {
    background-size: 25px;
    background-position: 14px 12px;
  }
  .news-contact__item .item__icon.cv {
    background-size: 25px;
    background-position: center 12px;
  }
}

@media all and (max-width: 768px) {
  .news__item {
    padding: 30px 0;
  }
  .news__item__title {
    font-size: 18px;
    line-height: 22px;
  }
  .news-contact__offer {
    margin-bottom: 50px;
  }
}

@media all and (max-width: 576px) {
  .news-contact__item {
    margin-bottom: 10px;
  }
}

.news-content {
  padding-right: 45px;
}

.news-content h2, .news-content .h2,
.news-content h3, .news-content .h3,
.news-content h4, .news-content .h4,
.news-content h5, .news-content .h5,
.news-content h6, .news-content .h6 {
  color: #a2926b;
}

.news-content h1, .news-content .h1, .news-content h2, .news-content .h2, .news-content .content__title {
  font-size: 28px;
  line-height: 34px;
}

.news-content h3, .news-content .h3 {
  font-size: 24px;
  line-height: 30px;
}

.news-content h4, .news-content .h4 {
  font-size: 20px;
  line-height: 26px;
}

.news-content h5, .news-content .h5 {
  font-size: 18px;
  line-height: 24px;
}

.news-content h6, .news-content .h6 {
  font-size: 16px;
  line-height: 22px;
}

.news-content p, .news-content ul, .news-content ol {
  font-size: 16px;
  line-height: 24px;
}

.news-content .lead {
  font-size: 1.15em;
}

.news-content h2 + *, .news-content h3 + *, .news-content h4 + *, .news-content h5 + *, .news-content h6 + *,
.news-content .h2 + *, .news-content .h3 + *, .news-content .h4 + *, .news-content .h5 + *, .news-content .h6 + * {
  margin-top: 15px;
}

.news-content * + h2, .news-content * + h3, .news-content * + h4, .news-content * + h5, .news-content * + h6,
.news-content * + .h2, .news-content * + .h3, .news-content * + .h4, .news-content * + .h5, .news-content * + .h6 {
  margin-top: 30px;
}

.news-content ul li {
  position: relative;
  padding-left: 15px;
}

.news-content ul li:before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background-color: #36677f;
  position: absolute;
  left: 0;
  top: 9px;
}

.news-content ul li + li {
  margin-top: 5px;
}

.news-sidebar {
  padding: 20px;
  border: 1px solid #ebeeef;
  border-top: 10px solid #326988;
}

.news-sidebar__title {
  text-transform: uppercase;
}

.news-sidebar__item {
  display: block;
  font-size: 14px;
  line-height: 18px;
  padding: 30px 0;
  border-top: 1px solid #ebeeef;
}

.news-sidebar__item.first {
  border-top: none;
}

.news-sidebar__item.last {
  padding-bottom: 10px;
}

.news-sidebar__date {
  color: #959595;
  padding-right: 10px;
}

.news-sidebar.bg-white {
  border-color: #e3e3e3;
  border-top-color: #326988;
}

.news-sidebar.bg-white .news-sidebar__item {
  border-color: #e3e3e3;
}

.news-sidebar + .news-link {
  margin-top: 15px;
  text-decoration: underline;
}

@media all and (max-width: 992px) {
  .news-content {
    padding-right: 15px;
  }
  .news-sidebar .news-sidebar__item {
    border: none;
  }
}

@media all and (max-width: 576px) {
  .news-sidebar .news-sidebar__item:not(.first) {
    border-top: 1px solid #ebeeef;
  }
  .news-sidebar.bg-white .news-sidebar__item {
    border-color: #e3e3e3;
  }
}

/* Pagination */
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.pagination__item {
  padding: 10px;
}

.pagination__link {
  font-weight: 700;
  color: #3e83a4;
}

/* Item with Icon */
/* Item with Icon */
.item {
  text-align: center;
}

.item__icon {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: #f2f5f6;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  margin: 0 auto 15px;
}

.item__icon.consulting {
  background: url("../img/icon/consulting.svg") no-repeat center 20px/35px;
}

.item__icon.store {
  background: url("../img/icon/online-shop.svg") no-repeat center 22px/35px;
}

.item__icon.insurance {
  background: url("../img/icon/insurance.svg") no-repeat 26px 22px/35px;
}

.item__icon.cv {
  background: url("../img/icon/cv.svg") no-repeat center 20px/35px;
}

.item__icon.delivery {
  background: url("../img/icon/icon_delivery.svg") no-repeat center 20px/35px;
}

.item__icon.clients {
  background: url("../img/icon/icon_clients.svg") no-repeat center/35px;
}

.item__icon.consultation {
  background: url("../img/icon/icon_consultation.svg") no-repeat center/35px;
}

.item__icon.certificate {
  background: url("../img/icon/icon_iso.svg") no-repeat center/60px;
}

.item__icon.format {
  background: url("../img/icon/icon_format.svg") no-repeat center/35px;
}

.item__icon.delivery-car {
  background: url("../img/icon/tracking.svg") no-repeat center 14px/44px;
}

.item__icon.question {
  background: url("../img/icon/question.svg") no-repeat 20px center/40px;
}

.item__icon.law {
  background: url("../img/icon/law.svg") no-repeat 25px center/30px;
}

.item__icon.money-light {
  background: url("../img/icon/icon_bank.svg") no-repeat 20px 16px/42px;
}

.item__icon.lecture {
  background: url("../img/icon/lecture.svg") no-repeat 22px 20px/36px;
}

.item__icon.united {
  background: url("../img/icon/united.svg") no-repeat center/40px;
}

.item__icon.free-delivery {
  background: url("../img/icon/tracking.svg") no-repeat center 14px/44px;
}

.item__icon.contract {
  background: url("../img/icon/contract.svg") no-repeat 25px center/35px;
}

.item__title {
  font-size: 16px;
  line-height: 22px;
}

.item__offer {
  font-size: 14px;
  line-height: 20px;
  width: 200px;
  max-width: 100%;
  margin: 0 auto;
}

.item__line {
  background: #a2926b;
  width: 180px;
  max-width: 100%;
  height: 2px;
  margin: 15px auto;
}

/* Media */
@media all and (max-width: 576px) {
  .item__title {
    font-size: 14px;
  }
}
