@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:300,400,600");
/*FRAMEWORK
	- GRID ROWS
	- RESET STYLES
	- CLEAR FIX with extend rule
	- OUTLINE FIX
*/
/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none;
  list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7); }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  display: inline-block;
  color: #222;
  text-decoration: none;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  a:hover {
    color: #5797b8;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    cursor: pointer; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.text-uppercase {
  text-transform: uppercase; }

.text-bold {
  font-weight: 600; }

.text-gold {
  color: #a2926b; }

.bb-solid {
  border-bottom: 1px solid; }

.bb-dotted {
  border-bottom: 1px dotted; }

.word-break {
  white-space: nowrap; }

.d-none,
.hidden {
  display: none !important; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

/* Grid */
.container {
  width: 1200px;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: block; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.row, .dropdown__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }
  .row.flex-end, .flex-end.dropdown__nav {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .row.flex-start, .flex-start.dropdown__nav {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .row .column, .dropdown__nav .column, .row .dropdown__item, .dropdown__nav .dropdown__item {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px; }

/* Main Style */
body {
  background: url("../img/bg-top.png") no-repeat top left/contain, url("../img/footer-bg.png") no-repeat bottom right/contain;
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif;
  width: 100%; }

/* Background Style */
.bg_blue-gradient {
  background-color: #345463;
  background-image: -webkit-radial-gradient(circle farthest-corner at center 0%, #356277 0%, #33454e 30%);
  background-image: -o-radial-gradient(circle farthest-corner at center 0%, #356277 0%, #33454e 30%);
  background-image: radial-gradient(circle farthest-corner at center 0%, #356277 0%, #33454e 30%); }
  .bg_blue-gradient.content .content__title {
    color: #7dbad8; }

img {
  max-width: 100%; }

/* Header */
.header__row {
  margin: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header__logo {
  position: relative;
  z-index: 12;
  width: 215px;
  height: 175px;
  background: #384e59 url(../img/UCSP_logo_footer.svg) no-repeat 20px 15px/175px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  margin-bottom: -20px; }

.header__offer {
  font-family: 'Open Sans Condensed',sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center; }

.header__content {
  width: calc(100% - 245px); }

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 40px 0 20px;
  border-bottom: 2px solid #f2f5f6; }
  .header__top .header__navbar .header__item + .header__item {
    margin-left: 20px; }
  .header__top .header__navbar .header__link {
    font-size: 14px;
    font-weight: 300;
    color: #747779; }
    .header__top .header__navbar .header__link:hover {
      color: #3e83a4; }
  .header__top .header__contact .header__item + .header__item {
    margin-left: 30px; }
  .header__top .header__contact .header__link {
    font-size: 14px;
    font-weight: 400; }
    .header__top .header__contact .header__link_phone {
      font-size: 18px;
      font-weight: 700;
      color: #384e59; }

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 0 0; }
  .header__main .header__navbar .header__item + .header__item {
    margin-left: 40px; }
  .header__main .header__navbar .header__link {
    position: relative;
    padding-bottom: 40px; }
    .header__main .header__navbar .header__link.active:after {
      display: block;
      content: '';
      width: 100%;
      height: 4px;
      background: #5b9dba;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 11; }
  .header__main .header__contact {
    padding-bottom: 40px; }
    .header__main .header__contact .header__link {
      font-size: 12px;
      line-height: 18px;
      color: #747779; }
      .header__main .header__contact .header__link:hover {
        color: #3e83a4; }
      .header__main .header__contact .header__link_search {
        background: url("../img/icon/search-new.svg") no-repeat 0px center/15px;
        padding-left: 24px; }
      .header__main .header__contact .header__link_vk {
        background: url("../img/icon/vk-new.svg") no-repeat 0px center/14px;
        padding-left: 22px; }
      .header__main .header__contact .header__link_address {
        background: url("../img/icon/maps-new.svg") no-repeat -6px center/24px;
        padding-left: 20px; }
    .header__main .header__contact .header__item + .header__item {
      margin-left: 20px; }

.header__nav .header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  .header__nav .header__navbar_inner {
    display: none; }

.header__nav .header__link {
  display: inline-block; }

.header .header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.dropdown {
  background: #f2f5f6;
  -webkit-box-shadow: 0 7px 15px rgba(10, 30, 50, 0.1);
  box-shadow: 0 7px 15px rgba(10, 30, 50, 0.1);
  padding: 40px 0 20px;
  position: absolute;
  top: 150px;
  left: 0;
  z-index: 10;
  width: 100%;
  display: none; }
  .dropdown.active {
    display: block; }
  .dropdown__nav {
    padding-left: 245px;
    display: none; }
    .dropdown__nav.active {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .dropdown__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
    margin-bottom: 20px; }
  .dropdown__link {
    font-size: 14px;
    line-height: 18px; }

/* Media */
@media all and (max-width: 1200px) {
  .header__top .header__navbar .header__link {
    font-size: 12px; }
  .header__top .header__navbar .header__item + .header__item {
    margin-left: 15px; }
  .header__top .header__contact .header__item + .header__item {
    margin-left: 15px; }
  .header__main .header__navbar .header__link {
    font-size: 14px; }
  .header__main .header__navbar .header__item + .header__item {
    margin-left: 30px; }
  .header__main .header__contact .header__link {
    width: 24px;
    height: 18px; }
  .header__main .header__contact .header__link-inner {
    display: none; } }

@media all and (max-width: 992px) {
  .header {
    position: relative;
    background: #384e59; }
    .header__logo {
      padding: 0;
      margin: 0;
      width: 150px;
      height: 60px;
      background: url(../img/UCSP_logo_compact.svg) no-repeat 0px 5px/150px; }
    .header__offer {
      display: none; }
    .header__content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 12;
      display: none;
      background: #fff;
      -webkit-transform: translateY(60px);
      -ms-transform: translateY(60px);
      transform: translateY(60px); }
      .header__content.active {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
    .header__top {
      background: #ebeeef;
      padding: 20px 15px;
      display: block;
      min-width: 150px;
      width: 25%;
      height: calc(100vh - 60px);
      overflow-y: auto; }
      .header__top .header__navbar .header__item {
        width: 100%; }
        .header__top .header__navbar .header__item + .header__item {
          margin-top: 20px;
          margin-left: 0; }
      .header__top .header__contact {
        margin-top: 40px;
        padding-top: 40px;
        border-top: 1px solid #c7cdcf; }
    .header__main {
      padding: 20px 15px;
      display: block;
      width: 75%;
      height: calc(100vh - 60px);
      overflow-y: auto; }
      .header__main .header__navbar .header__item {
        width: 100%; }
        .header__main .header__navbar .header__item + .header__item {
          margin-left: 0; }
      .header__main .header__navbar .header__link {
        font-size: 16px;
        font-weight: 700;
        padding-bottom: 20px; }
      .header__main .header__navbar_inner {
        display: block;
        padding-bottom: 10px; }
        .header__main .header__navbar_inner .header__link {
          font-size: 13px;
          font-weight: 300;
          line-height: 16px; }
      .header__main .header__contact .header__link {
        width: 100%;
        height: auto; }
      .header__main .header__contact .header__link-inner {
        display: block; }
    .header__nav .header__navbar {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .header .header__contact {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-bottom: 0; }
      .header .header__contact .header__item {
        width: 100%; }
        .header .header__contact .header__item + .header__item {
          margin-top: 20px;
          margin-left: 0; }
      .header .header__contact .header__link_phone {
        font-size: 14px; }
  .navbar-toggler {
    width: 30px;
    height: 60px;
    padding: 15px 0;
    cursor: pointer; }
    .navbar-toggler.active .navbar-path.first {
      display: none; }
    .navbar-toggler.active .navbar-path.second {
      -webkit-transform: rotate(45deg) translateX(110px) translateY(-100px);
      -ms-transform: rotate(45deg) translateX(110px) translateY(-100px);
      transform: rotate(45deg) translateX(110px) translateY(-100px); }
    .navbar-toggler.active .navbar-path.third {
      -webkit-transform: rotate(-45deg) translateX(-250px) translateY(-40px);
      -ms-transform: rotate(-45deg) translateX(-250px) translateY(-40px);
      transform: rotate(-45deg) translateX(-250px) translateY(-40px); }
  .navbar-path {
    fill: #fff;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; } }

/* Form */
/* Form */
.form__label {
  font-size: 12px;
  line-height: 14px;
  display: inline-block;
  margin-bottom: 10px; }

.form__input {
  padding: 15px;
  width: 100%;
  max-width: 100%;
  font-size: 18px;
  line-height: 20px;
  background: #f2f3f4;
  border: none;
  border-bottom: 1px solid #796e52; }
  .form__input::-webkit-input-placeholder {
    opacity: .5; }
  .form__input::-moz-placeholder {
    opacity: .5; }
  .form__input::-ms-input-placeholder {
    opacity: .5; }
  .form__input::placeholder {
    opacity: .5; }
  .form__input:focus {
    outline: none; }
    .form__input:focus::-webkit-input-placeholder {
      opacity: 0; }
    .form__input:focus::-moz-placeholder {
      opacity: 0; }
    .form__input:focus::-ms-input-placeholder {
      opacity: 0; }
    .form__input:focus::placeholder {
      opacity: 0; }

.form__textarea {
  font-family: "Open Sans", sans-serif;
  padding: 15px;
  width: 100%;
  max-width: 100%;
  font-size: 18px;
  line-height: 20px;
  background: #f2f3f4;
  border: none;
  border-bottom: 1px solid #796e52;
  resize: none; }
  .form__textarea::-webkit-input-placeholder {
    opacity: .5; }
  .form__textarea::-moz-placeholder {
    opacity: .5; }
  .form__textarea::-ms-input-placeholder {
    opacity: .5; }
  .form__textarea::placeholder {
    opacity: .5; }
  .form__textarea:focus {
    outline: none; }
    .form__textarea:focus::-webkit-input-placeholder {
      opacity: 0; }
    .form__textarea:focus::-moz-placeholder {
      opacity: 0; }
    .form__textarea:focus::-ms-input-placeholder {
      opacity: 0; }
    .form__textarea:focus::placeholder {
      opacity: 0; }

.form__agree {
  position: relative;
  margin-top: 10px; }

.form .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .form .checkbox__input {
    width: 30px;
    height: 30px;
    margin: 0;
    margin-right: 10px; }
  .form .checkbox__label {
    font-size: 14px; }

.form .btn {
  margin-top: 10px; }

/* Button */
.btn {
  position: relative;
  display: inline-block;
  max-width: 100%;
  height: 40px;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  padding: 0 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .btn_primary {
    background: #477284;
    color: #fff; }
    .btn_primary:hover, .btn_primary:focus {
      background: #5797b8;
      color: #fff; }
  .btn_gold {
    background-color: #796e52;
    color: #fff; }
    .btn_gold:hover {
      background-color: #5b523d; }
  .btn_with-arrow {
    background-image: url(../img/icon/arrow.png);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 20px);
    background-position-y: center;
    background-size: 18px;
    padding-right: 48px; }

/* Footer */
/* Footer */
.footer {
  background: url("../img/footer-wrap-bg.jpg") no-repeat center/cover; }
  .footer .footer__row {
    padding: 55px 65px 35px;
    background: inherit; }
    .footer .footer__row .footer__logo {
      width: 220px;
      height: 120px;
      background: url(../img/UCSP_logo_footer.svg) no-repeat center -20px;
      background-size: 200px 160px; }
    .footer .footer__row .footer__column {
      max-width: calc( (100% - 220px)/2); }
  .footer .footer__list {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    width: 260px;
    max-width: 100%;
    /* Footer Column Contact */ }
    .footer .footer__list__item {
      display: inline-block;
      margin-bottom: 6px; }
    .footer .footer__list .footer__link {
      margin-bottom: 10px; }
      .footer .footer__list .footer__link_last {
        margin-bottom: 0; }
    .footer .footer__list + .policy {
      margin-top: 24px; }
    .footer .footer__list_contact {
      margin-left: auto; }
      .footer .footer__list_contact .footer__link {
        position: relative;
        font-size: 14px;
        line-height: 18px; }
        .footer .footer__list_contact .footer__link .icon {
          position: absolute;
          top: 0;
          left: -30px;
          width: 18px;
          height: 18px; }
      .footer .footer__list_contact .footer__tel {
        font-size: 20px;
        line-height: 20px; }
        .footer .footer__list_contact .footer__tel .icon {
          background: url(../img/icon/telephone-light.svg) no-repeat center; }
      .footer .footer__list_contact .footer__mail .icon {
        background: url(../img/icon/envelope-light.svg) no-repeat center; }
      .footer .footer__list_contact .footer__vk .icon {
        background: url(../img/icon/vk-light.svg) no-repeat center; }
      .footer .footer__list_contact .footer__address .icon {
        background: url(../img/icon/maps-light.svg) no-repeat center; }
  .footer__link {
    display: inline-block;
    color: #fff; }
    .footer__link:hover {
      color: #d9d9d9; }
  .footer .policy {
    display: inline-block;
    color: #fff;
    margin-top: 10px;
    font-size: 12px;
    border-bottom: 1px solid; }
    .footer .policy:hover {
      color: #d9d9d9; }

/* Media */
@media all and (max-width: 992px) {
  .footer .footer__row .footer__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .footer .footer__row .footer__logo {
    display: none; } }

@media all and (max-width: 768px) {
  .footer .footer__row {
    padding: 55px 30px 35px; }
  .footer .footer__list_contact .footer__link {
    font-size: 12px;
    line-height: 16px;
    padding-left: 30px;
    margin-bottom: 15px; }
    .footer .footer__list_contact .footer__link .icon {
      left: 0; }
  .footer .footer__list_contact .footer__tel {
    font-size: 16px;
    line-height: 18px; } }

@media all and (max-width: 576px) {
  .footer .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding: 55px 0px 35px; }
    .footer .footer__row .footer__column {
      -webkit-box-flex: unset;
      -ms-flex: unset;
      flex: unset;
      max-width: 100%;
      text-align: center; }
  .footer .footer__list {
    margin: 0 auto; }
    .footer .footer__list.footer__list_contact {
      margin-bottom: 20px; } }

/* Media */
@media all and (max-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px; } }

/* Main Content*/
.content {
  padding: 60px 0; }
  .content .container_inside {
    width: 910px; }
  .content .content__title {
    font-size: 32px;
    line-height: 40px;
    color: #a2926b;
    margin-bottom: 30px; }
    .content .content__title + .content__offer {
      margin-top: -15px; }
  .content .content__offer {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300; }
    .content .content__offer + .row, .content .content__offer + .dropdown__nav {
      margin-top: 60px; }
  .content .btn {
    font-size: 16px;
    line-height: 48px;
    height: 48px; }
  .content ul, .content ol,
  .content p + ul, .content p + ol,
  .content ul + p, .content ol + p,
  .content p + p {
    margin-top: 15px; }

/* Media */
@media all and (max-width: 576px) {
  .content .content__offer + .row, .content .content__offer + .dropdown__nav {
    margin-top: 30px; } }

/* Title Block */
/* Title Block */
.content_header {
  background: #f2f5f6;
  padding: 40px 0 60px; }
  .content_header p {
    font-size: 16px;
    line-height: 26px; }
    .content_header p + p {
      margin-top: 15px; }
  .content_header .row .column, .content_header .dropdown__nav .column, .content_header .row .dropdown__item, .content_header .dropdown__nav .dropdown__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%; }
    .content_header .row .column_sidebar, .content_header .dropdown__nav .column_sidebar {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
      flex: 0 0 40%;
      max-width: 40%; }

/* Media */
@media all and (max-width: 768px) {
  .content_header .row, .content_header .dropdown__nav {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .content_header .row .column, .content_header .dropdown__nav .column, .content_header .row .dropdown__item, .content_header .dropdown__nav .dropdown__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; }
      .content_header .row .column_sidebar, .content_header .dropdown__nav .column_sidebar {
        margin-top: 30px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%; } }

@media all and (max-width: 576px) {
  .content_header .content__title {
    font-size: 28px;
    line-height: 32px; }
  .content_header .row .column_sidebar, .content_header .dropdown__nav .column_sidebar {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .content_header p {
    font-size: 14px;
    line-height: 22px; } }

/* Breadcrumb Block */
/* Breadcrumb Block */
.content__breadcrumbs {
  margin-bottom: 30px; }
  .content__breadcrumbs__item {
    position: relative;
    display: inline-block; }
    .content__breadcrumbs__item + .content__breadcrumbs__item {
      padding-left: 10px; }
      .content__breadcrumbs__item + .content__breadcrumbs__item:before {
        content: "";
        display: block;
        width: 10px;
        height: 18px;
        position: absolute;
        top: 0;
        left: 0;
        background: url("../img/icon/arrow-next.svg") no-repeat center/8px; }
  .content__breadcrumbs__link {
    font-size: 14px;
    line-height: 18px;
    color: #3e83a4; }
    .content__breadcrumbs__link:hover {
      color: #599fc1; }
  .content__breadcrumbs__span {
    font-size: 14px;
    line-height: 18px;
    color: #7c7c7c; }

/* Product Block */
.content_product {
  background: #ebeeef; }
  .content_product .content__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px; }
  .content_product .row .column, .content_product .dropdown__nav .column, .content_product .row .dropdown__item, .content_product .dropdown__nav .dropdown__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .content_product.content_inside {
    padding-bottom: 30px; }
    .content_product.content_inside .row .column, .content_product.content_inside .dropdown__nav .column, .content_product.content_inside .row .dropdown__item, .content_product.content_inside .dropdown__nav .dropdown__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
      margin-bottom: 30px; }
      .content_product.content_inside .row .column .product, .content_product.content_inside .dropdown__nav .column .product, .content_product.content_inside .row .dropdown__item .product, .content_product.content_inside .dropdown__nav .dropdown__item .product {
        height: 300px; }
    .content_product.content_inside .product .product__title {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .content_product.content_inside .product .product__title .product__name,
      .content_product.content_inside .product .product__title .product__price {
        width: 100%; }
      .content_product.content_inside .product .product__title .product__name + .product__price {
        margin-top: 10px; }

/* Media */
@media all and (max-width: 1200px) {
  .content_product {
    padding-bottom: 30px; }
    .content_product .row .column, .content_product .dropdown__nav .column, .content_product .row .dropdown__item, .content_product .dropdown__nav .dropdown__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
      margin-bottom: 30px; } }

@media all and (max-width: 992px) {
  .content_product .row .column, .content_product .dropdown__nav .column, .content_product .row .dropdown__item, .content_product .dropdown__nav .dropdown__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; } }

@media all and (max-width: 768px) {
  .content_product.content_inside {
    padding-bottom: 30px; }
    .content_product.content_inside .content__title {
      text-align: center; }
    .content_product.content_inside .row, .content_product.content_inside .dropdown__nav {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .content_product.content_inside .row .column, .content_product.content_inside .dropdown__nav .column, .content_product.content_inside .row .dropdown__item, .content_product.content_inside .dropdown__nav .dropdown__item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%; }
        .content_product.content_inside .row .column .product, .content_product.content_inside .dropdown__nav .column .product, .content_product.content_inside .row .dropdown__item .product, .content_product.content_inside .dropdown__nav .dropdown__item .product {
          height: 240px; } }

@media all and (max-width: 576px) {
  .content_product .row .column, .content_product .dropdown__nav .column, .content_product .row .dropdown__item, .content_product .dropdown__nav .dropdown__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .content_product.content_inside .row .column, .content_product.content_inside .dropdown__nav .column, .content_product.content_inside .row .dropdown__item, .content_product.content_inside .dropdown__nav .dropdown__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
    .content_product.content_inside .row .column .product, .content_product.content_inside .dropdown__nav .column .product, .content_product.content_inside .row .dropdown__item .product, .content_product.content_inside .dropdown__nav .dropdown__item .product {
      height: 200px; } }

/* Popular Block */
/* Popular Сourses */
.content_popular {
  background: #003f5d; }
  .content_popular .content__title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    color: #ceb780; }
  .content_popular .row, .content_popular .dropdown__nav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .content_popular .row .column, .content_popular .dropdown__nav .column, .content_popular .row .dropdown__item, .content_popular .dropdown__nav .dropdown__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
      flex: 0 0 33%;
      max-width: 33%; }
  .content_popular .product .product__title {
    font-weight: 700; }

/* Media */
@media all and (max-width: 1200px) {
  .content_popular {
    padding-bottom: 30px; }
    .content_popular .row, .content_popular .dropdown__nav {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .content_popular .row .column, .content_popular .dropdown__nav .column, .content_popular .row .dropdown__item, .content_popular .dropdown__nav .dropdown__item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 30px; } }

@media all and (max-width: 992px) {
  .content_popular {
    padding-bottom: 60px; }
    .content_popular .row, .content_popular .dropdown__nav {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .content_popular .row .column, .content_popular .dropdown__nav .column, .content_popular .row .dropdown__item, .content_popular .dropdown__nav .dropdown__item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%;
        margin-bottom: 0px; }
        .content_popular .row .column + .column, .content_popular .dropdown__nav .column + .column, .content_popular .row .dropdown__item + .column, .content_popular .dropdown__nav .dropdown__item + .column, .content_popular .row .column + .dropdown__item, .content_popular .dropdown__nav .column + .dropdown__item, .content_popular .row .dropdown__item + .dropdown__item, .content_popular .dropdown__nav .dropdown__item + .dropdown__item {
          margin-top: 30px; } }

@media all and (max-width: 768px) {
  .content_popular .row .column, .content_popular .dropdown__nav .column, .content_popular .row .dropdown__item, .content_popular .dropdown__nav .dropdown__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%; } }

@media all and (max-width: 576px) {
  .content_popular .row .column, .content_popular .dropdown__nav .column, .content_popular .row .dropdown__item, .content_popular .dropdown__nav .dropdown__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }

/* Advantage Block */
/* Advantage Block */
.content_advantage {
  background: #ffffff; }
  .content_advantage .content__title {
    margin-bottom: 60px;
    text-align: center; }
  .content_advantage .row .column, .content_advantage .dropdown__nav .column, .content_advantage .row .dropdown__item, .content_advantage .dropdown__nav .dropdown__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }
  .content_advantage .cta-wrap {
    margin: 60px auto 0;
    width: 100%;
    max-width: 100%;
    position: relative;
    background: #3f84af;
    color: #fff;
    border: 5px solid #b7c4cc;
    padding: 30px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .content_advantage .cta-wrap::after {
      content: '';
      display: block;
      position: absolute;
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
      background-color: rgba(69, 182, 214, 0.01);
      background-image: -webkit-radial-gradient(center -500%, circle farthest-corner, #4ae7fd 0%, rgba(63, 132, 175, 0) 85%);
      background-image: -o-radial-gradient(center -500%, circle farthest-corner, #4ae7fd 0%, rgba(63, 132, 175, 0) 85%);
      background-image: radial-gradient(center -500%, circle farthest-corner, #4ae7fd 0%, rgba(63, 132, 175, 0) 85%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff4ae7fd",endColorstr="#003f84af",GradientType=0);
      z-index: 1; }
    .content_advantage .cta-wrap__title {
      position: relative;
      z-index: 5;
      line-height: 22px; }
    .content_advantage .cta-wrap__form {
      position: relative;
      z-index: 5;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
      .content_advantage .cta-wrap__form .input {
        font-size: 18px;
        font-weight: 300;
        margin-left: 30px;
        background: #5baece;
        border: none;
        width: 250px;
        height: 40px;
        padding-left: 15px;
        padding-top: 0;
        padding-bottom: 0; }
        .content_advantage .cta-wrap__form .input:hover {
          color: #fff; }
        .content_advantage .cta-wrap__form .input:focus {
          background: #fff;
          color: #003f5d; }
        .content_advantage .cta-wrap__form .input::-webkit-input-placeholder {
          color: #fff; }
        .content_advantage .cta-wrap__form .input::-moz-placeholder {
          color: #fff; }
        .content_advantage .cta-wrap__form .input::-ms-input-placeholder {
          color: #fff; }
        .content_advantage .cta-wrap__form .input::placeholder {
          color: #fff; }
      .content_advantage .cta-wrap__form .btn {
        width: 140px;
        max-width: 100%;
        background: #003f5d;
        color: #fff; }
        .content_advantage .cta-wrap__form .btn:hover {
          background: #005077; }

/* Media */
@media all and (max-width: 992px) {
  .content_advantage .row, .content_advantage .dropdown__nav {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .content_advantage .row .column, .content_advantage .dropdown__nav .column, .content_advantage .row .dropdown__item, .content_advantage .dropdown__nav .dropdown__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
      flex: 0 0 33%;
      max-width: 33%;
      margin-bottom: 30px; }
  .content_advantage .cta-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px; }
    .content_advantage .cta-wrap__title {
      margin-bottom: 15px; }
    .content_advantage .cta-wrap__form {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 0 auto; }
      .content_advantage .cta-wrap__form input {
        margin-left: 0px;
        width: 100%; }
      .content_advantage .cta-wrap__form button {
        width: 100%; } }

@media all and (max-width: 768px) {
  .content_advantage .row, .content_advantage .dropdown__nav {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .content_advantage .row .column, .content_advantage .dropdown__nav .column, .content_advantage .row .dropdown__item, .content_advantage .dropdown__nav .dropdown__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
      flex: 0 0 40%;
      max-width: 40%;
      margin-bottom: 30px; } }

@media all and (max-width: 576px) {
  .content_advantage .row, .content_advantage .dropdown__nav {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .content_advantage .row .column, .content_advantage .dropdown__nav .column, .content_advantage .row .dropdown__item, .content_advantage .dropdown__nav .dropdown__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%; }
  .content_advantage .item__title {
    font-size: 12px;
    line-height: 16px; }
  .content_advantage .cta-wrap {
    padding: 30px 20px; }
    .content_advantage .cta-wrap__form .input {
      margin: 0;
      width: 100%; }
    .content_advantage .cta-wrap__form .btn {
      width: 100%; } }

/* Sale Block */
/* Information About Sale */
.content_sale {
  background: #f2f5f6; }
  .content_sale .content__title {
    margin-bottom: 60px;
    text-align: center; }
  .content_sale .row, .content_sale .dropdown__nav {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .content_sale .row .column, .content_sale .dropdown__nav .column, .content_sale .row .dropdown__item, .content_sale .dropdown__nav .dropdown__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
      flex: 0 0 30%;
      max-width: 30%; }
  .content_sale .item .item__icon {
    background-color: #fff;
    margin-bottom: 30px; }
  .content_sale .item .item__title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #325564; }
  .content_sale .item .item__offer {
    color: #325564; }

/* Media */
@media all and (max-width: 992px) {
  .content_sale .item .item__title {
    font-size: 16px; } }

@media all and (max-width: 768px) {
  .content_sale {
    padding-bottom: 30px; }
    .content_sale .row .column, .content_sale .dropdown__nav .column, .content_sale .row .dropdown__item, .content_sale .dropdown__nav .dropdown__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
      margin-bottom: 30px; }
    .content_sale .item .item__title {
      font-size: 20px; } }

@media all and (max-width: 576px) {
  .content_sale .row .column, .content_sale .dropdown__nav .column, .content_sale .row .dropdown__item, .content_sale .dropdown__nav .dropdown__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }

/* SEO Block */
/* Block with text content */
.content_seo .container {
  padding: 0 80px; }

.content_seo h2 {
  color: #a2926b;
  font-size: 32px;
  line-height: 40px; }

.content_seo h3 {
  color: #a2926b;
  font-size: 28px;
  line-height: 34px; }

.content_seo h4 {
  color: #a2926b;
  font-size: 24px;
  line-height: 30px; }

.content_seo h5 {
  color: #a2926b;
  font-size: 18px;
  line-height: 24px; }

.content_seo h6 {
  color: #a2926b;
  font-size: 16px;
  line-height: 22px; }

.content_seo p, .content_seo ul, .content_seo ol {
  font-size: 16px;
  line-height: 24px; }

.content_seo h2 + *, .content_seo h3 + *, .content_seo h4 + *, .content_seo h5 + *, .content_seo h6 + * {
  margin-top: 15px; }

.content_seo * + h2, .content_seo * + h3, .content_seo * + h4, .content_seo * + h5, .content_seo * + h6 {
  margin-top: 30px; }

.content_seo ul li {
  position: relative;
  padding-left: 15px; }
  .content_seo ul li:before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #a2926b; }

.content_seo ol {
  padding-left: 15px;
  list-style: decimal; }

/* Media */
@media all and (max-width: 768px) {
  .content_seo .container {
    padding: 0 60px; } }

@media all and (max-width: 576px) {
  .content_seo .container {
    padding: 0 30px; } }

/* Item with Icon */
/* Item with Icon */
.item {
  text-align: center; }
  .item__icon {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background: #f2f5f6;
    margin: 0 auto 15px; }
    .item__icon.consulting {
      background: #d9e4e8 url("../img/icon/consulting.svg") no-repeat center 20px/35px; }
    .item__icon.store {
      background: #d9e4e8 url("../img/icon/online-shop.svg") no-repeat center 22px/35px; }
    .item__icon.insurance {
      background: #d9e4e8 url("../img/icon/insurance.svg") no-repeat 26px 22px/35px; }
    .item__icon.cv {
      background: #d9e4e8 url("../img/icon/cv.svg") no-repeat center 20px/35px; }
    .item__icon.delivery {
      background: #f2f5f6 url("../img/icon/icon_delivery.svg") no-repeat center 20px/35px; }
    .item__icon.clients {
      background: #f2f5f6 url("../img/icon/icon_clients.svg") no-repeat center/35px; }
    .item__icon.consultation {
      background: #f2f5f6 url("../img/icon/icon_consultation.svg") no-repeat center/35px; }
    .item__icon.certificate {
      background: #f2f5f6 url("../img/icon/icon_iso.svg") no-repeat center/60px; }
    .item__icon.format {
      background: #f2f5f6 url("../img/icon/icon_format.svg") no-repeat center/35px; }
    .item__icon.united {
      background: #fff url("../img/icon/united.svg") no-repeat center/40px; }
    .item__icon.free-delivery {
      background: #fff url("../img/icon/tracking.svg") no-repeat center 14px/44px; }
    .item__icon.contract {
      background: #fff url("../img/icon/contract.svg") no-repeat 25px center/35px; }
  .item__title {
    font-size: 16px;
    line-height: 22px; }
  .item__offer {
    font-size: 16px;
    line-height: 22px;
    width: 200px;
    max-width: 100%;
    margin: 0 auto; }
  .item__line {
    background: #a2926b;
    width: 200px;
    max-width: 100%;
    height: 2px;
    margin: 15px auto; }

/* Media */
@media all and (max-width: 576px) {
  .item__title {
    font-size: 14px; } }

/* Item product */
/* Product Item */
.product {
  position: relative;
  display: block;
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover; }
  .product:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 200px solid rgba(25, 112, 174, 0.15);
    border-right: 200px solid transparent;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .product .product__title {
    position: absolute;
    left: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    min-height: 60px;
    padding: 18px 15px 12px;
    background: url(../img/program/background.svg) no-repeat right top/cover;
    color: #448aa7;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .product .product__title:after {
      display: block;
      content: '';
      width: 100%;
      height: 30%;
      background: #fff;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1; }
  .product .product__name {
    position: relative;
    z-index: 2; }
  .product .product__price {
    position: relative;
    z-index: 2;
    font-size: 14px;
    font-weight: 600;
    color: #222; }
  .product:hover:before {
    border-top-color: rgba(25, 112, 174, 0.05); }
  .product:hover .product__title {
    color: #2e5d71; }

/* Media */
@media all and (max-width: 768px) {
  .product .product__title {
    padding-bottom: 10px; } }

.modal {
  z-index: 999;
  display: none; }
  .modal .modal__close {
    position: absolute;
    top: 25px;
    right: 65px; }
    .modal .modal__close:after {
      position: absolute;
      right: -35px;
      top: -5px;
      display: block;
      content: '';
      width: 25px;
      height: 25px;
      background: url(../img/icon/close.png) no-repeat center/cover; }
  .modal_info {
    background: #374c55; }
    .modal_info .s-title {
      font-size: 14px;
      font-weight: 600;
      line-height: 18px; }
      .modal_info .s-title + .title {
        margin-top: 10px; }
      .modal_info .s-title + .offer {
        margin-top: 10px; }
    .modal_info .title {
      font-size: 18px;
      line-height: 22px; }
      .modal_info .title + .s-title {
        margin-top: 20px; }
    .modal_info .offer {
      font-size: 14px;
      line-height: 18px; }
    .modal_info .modal__text {
      position: relative;
      background: #fff;
      margin: 0 auto;
      padding: 60px 30px 30px; }
    .modal_info .modal__footer {
      padding: 30px;
      color: #fff; }
      .modal_info .modal__footer .s-title {
        font-size: 18px;
        line-height: 24px;
        color: #98d1e9;
        max-width: 100%;
        width: 400px;
        margin: 0 auto; }
      .modal_info .modal__footer .info-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        max-width: 100%;
        width: 430px;
        margin: 20px auto; }
        .modal_info .modal__footer .info-block__item {
          font-size: 16px;
          line-height: 20px;
          padding: 0 15px;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
          flex: 0 0 50%;
          max-width: 50%; }
          .modal_info .modal__footer .info-block__item p + p {
            margin-top: 5px; }
      .modal_info .modal__footer .btn {
        display: block;
        width: 400px;
        max-width: 100%; }
        .modal_info .modal__footer .btn.open-form {
          margin: 0 auto; }
    .modal_info .callback-form {
      display: none;
      width: 400px;
      max-width: 100%;
      margin: 0 auto;
      padding: 20px;
      background-color: rgba(236, 241, 243, 0.15); }
      .modal_info .callback-form__title {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 20px; }
      .modal_info .callback-form .form__input + .form__label {
        margin-top: 20px; }
      .modal_info .callback-form .checkbox {
        margin-top: 20px; }
        .modal_info .callback-form .checkbox__label {
          font-size: 12px; }
        .modal_info .callback-form .checkbox .policy {
          color: #fff; }

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 30px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999; }
  .search-form__btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 20px;
    padding: 15px;
    max-width: 100%;
    background: 0 0;
    color: #aed0dc;
    border: none;
    cursor: pointer;
    padding-left: 45px;
    background: url("../img/icon/search-white.svg") no-repeat 15px center/16px; }
    .search-form__btn:hover {
      color: #fff; }
  .search-form .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .search-form .form .form__input {
      width: calc(100% - 115px); }
    .search-form .form .search-form__btn {
      width: 115px; }
  .search-form .close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2) url("../img/icon/close.png") no-repeat center/30px; }
  .search-form .sisea-search-form {
    width: 450px;
    max-width: 100%; }
  .search-form .search-block-list {
    width: 450px;
    max-width: 100%;
    padding: 15px 0;
    color: #fff; }
  .search-form .sisea-result + .sisea-result {
    margin-top: 10px; }
