/* Product Item */
.product{
    position: relative;

    display: block;

    width: 100%;
    height: 200px;

    background-position: center;
    background-size: cover;

    .product__title{
        position: absolute;
        left: 0;
        bottom: 0;
        
        display: flex;
        align-items: center;
        width: 100%;
        
        min-height: 60px;
        padding: 30px 15px 18px;
        
        background: url(../img/program/background.svg) no-repeat right top / cover;

        color: #448aa7;
        transition: .3s;
        
    }
    .product__name{
        font-size: 16px;
        line-height: 20px;
        position: relative;
        z-index: 2;
    }
    .product__price{
        position: relative;
        z-index: 2;

        font-size: 14px;
        font-weight: 600;
        color: $text;
    }


    &:before{
        content: '';
        display: block;     

        width: 0; 
        height: 0;
        border-top: 200px solid rgba(25,112,174,.15);
        border-right: 200px solid transparent;

        transition: .3s;
    }
    &:hover{
        &:before{
            border-top-color: rgba(25,112,174,.05);
        }
        .product__title{
            color: darken($color: #448aa7, $amount: 15%);
        }
    }
}

/* Media */
@media all and (max-width: $tablet){
    .product{
        .product__title{
            padding-bottom: 10px;
        }
        .product__name{
            font-size: 14px;
            line-height: 18px;
        }
    }
}