/* Product Item */
.product{
    position: relative;

    display: block;

    width: 100%;
    height: 200px;

    background-position: center;
    background-size: cover;

    &:before{
        content: '';
        display: block;     

        width: 0; 
        height: 0;
        border-top: 200px solid rgba(25,112,174,.15);
        border-right: 200px solid transparent;

        transition: .3s;
    }
    .product__title{
        position: absolute;
        left: 0;
        bottom: 0;
        
        display: flex;
        align-items: center;
        width: 100%;
        
        min-height: 60px;
        padding: 18px 15px 12px;
        
        background: url(../img/program/background.svg) no-repeat right top / cover;

        color: #448aa7;
        transition: .3s;
        
        &:after{
            display: block;
            content: '';
            width: 100%;
            height: 30%;

            background: $white;

            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1;
        }
    }
    .product__name{
        position: relative;
        z-index: 2;
    }
    &:hover{
        &:before{
            border-top-color: rgba(25,112,174,.05);
        }
        .product__title{
            color: darken($color: #448aa7, $amount: 15%);
        }
    }
}

/* Media */
@media all and (max-width: $desktop){}
@media all and (max-width: $desktop_m){}
@media all and (max-width: $tablet){
    .product{
        .product__title{
            padding-bottom: 10px;
        }
    }
}
@media all and (max-width: $mobile_l){}