.service{
    position: relative;
    display: flex;
    align-items: center;

    padding: 26px 40px;
    padding-left: 220px;
    margin-bottom: 2*$padding;

    min-height: 120px;

    width: 100%;


    &__image{
        position: absolute;
        left: 0;
        top: 0;

        width: 180px;
        height: 100%;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__title{
        font-size: 1.15rem;
        transition: .3s;
    }
}

a.service{
    cursor: pointer;
    &:hover{
        .service__title{
            color: $text-blue5;
        }
    }
}

/* Media */
@media all and (max-width: $desktop){
    .service{
        padding: 16px 30px;
        padding-left: 200px;
        &__title {
            font-size: 14px;
        }
    }
}
@media all and (max-width: $desktop_m){
    .service{
        padding-left: 150px;
        min-height: 80px;
        &__image{
            width: 120px;
        }
    }
}
@media all and (max-width: $tablet){
    .content_service.content_column{
        .row{
            .column{
                flex: 0 0 100%;
                max-width: 100%;
                & + .column{
                    margin-top: 0;
                }
            }
        }
    }
    .service{
        &__image{
            width: 120px;
        }
    }
}
@media all and (max-width: 490px){
    .service{
        padding: 16px 20px;
        padding-left: 140px;
        &__title {
            font-size: 12px;
        }
    }
}