/* Advantage Block */
.content_advantage{
    background: #ffffff;
    .content__title{
        margin-bottom: 60px;
        text-align: center;
    }
    .item{
        .item__icon{
            background-color: #f2f5f6;
        }
    }
}
.content_advantage-index{
    padding: 60px 0 40px;
    .item{
        margin-bottom: 30px;
        .item__line{
            height: 1px;
            width: 120px;
            max-width: 100%;
        }
        .item__title {
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;

            color: $blue;
        }
        .item__offer{
            color: $blue;
            width: 100%;
        }
    }
}

/* Media */
@media all and (max-width: $mobile_l){
    .content_advantage{
        .content__title{
            margin-bottom: 2*$padding;
        }
        .item{
            &__title {
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
    .content_advantage-index{
        .item{
            .item__offer{
                width: 240px;
            }
        }
    }
}