/* Breadcrumb Block */
.content__breadcrumbs{
    margin-top: 0px!important;
    margin-bottom: 30px;
    &__item{
        position: relative;
        display: inline-block;
    
        & + .content__breadcrumbs__item{
            padding-left: 10px;
            &:before{
                content: "";
                display: block;
                width: 10px;
                height: 18px;

                position: absolute;
                top: 0;
                left: 0;

                background: url('../img/icon/arrow-next.svg') no-repeat center / 8px;
            }
        }
    }
    &__link{
        font-size: 14px;
        line-height: 18px;
        color: #3e83a4;
        &:hover{
            color: #599fc1;
        }
    }
    &__span{
        font-size: 14px;
        line-height: 18px;
        color: #7c7c7c;
    }
}