/* Preview Child Page */
.content_section{
    .content__title{
        margin-bottom: 4*$padding;
    }
    .row + .row{
        position: relative;
        padding-top: 2*$padding;
        margin-top: 2*$padding;

        &:before{
            position: absolute;
            top: 0;
            left: 15px;

            content: '';
            display: block;
            width: calc(100% - 30px);
            height: 1px;
            
            background-color: #1c2c34;
            border-bottom: 1px solid #49616d;
        }
    }
}

/* Media */
@media all and (max-width: $tablet){
    .content_section{
        .vacancy + .vacancy{
            margin-top: 2*$padding;
        }
    }
}
@media all and (max-width: $mobile_l){
    .content_section{
        .content__title {
            font-size: 24px;
            text-align: left;
            margin-bottom: 2*$padding;
        }
        .preview-page + .preview-page{
            margin-top: 4*$padding;
        }
    }
}