.content_column{
    background: #ebeeef;
    &.bg-white{
        background: $white;
    }
    .row{
        justify-content: space-between;
        .column {
            flex: 0 0 50%;
            max-width: 50%;

            &_form{
                flex: 0 0 41.666667%;
                max-width: 41.666667%;
            }
        }
    }

    .content_column__title{
        color: $text-gold;
        text-transform: uppercase;

        font-size: 24px;
        line-height: 28px;

        & + .form{
            margin-top: 22px;
        }

        & + .content_column__offer{
            margin-top: 20px;
        }
    }
    .content_column__line{
        display: block;
        height: 1px;
        width: 100%;
        background: $white;

        margin: 20px auto;
    }
    .content_column__offer{
        font-size: 12px;
        line-height: 16px;
        color: #959595;

        & + * {
            margin-top: 20px;
        }
    }

    .form{
        &__textarea{
            background: $white;
            margin-bottom: 20px;
        }
        &__input{
            background: $white;
        }
        .btn {
            display: block;
            width: 100%;
            font-size: 16px;
            height: 50px;
            line-height: 48px;
        }
    }
}

/* Media */
@media all and (max-width: $tablet){
    .content_column{
        .row{
            justify-content: center;
            .column {
                flex: 0 0 80%;
                max-width: 80%;

                &_form{
                    flex: 0 0 80%;
                    max-width: 80%;
                }

                & + .column{
                    margin-top: 40px;
                }
            }
        }
    }
}
@media all and (max-width: $mobile_l){
    .content_column{
        .row{
            .column {
                flex: 0 0 100%;
                max-width: 100%;

                &_form{
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
    }
}