.content{
    padding: 60px 0;
    
    .container_inside{
        width: 910px;
    }
    .content__title{
        font-size: 32px;
        line-height: 40px;

        color: #a2926b;
        margin-bottom: 30px;
        & + .content__offer{
            margin-top: -15px;
        }
    }
    .content__offer{
        font-size: 14px;
        line-height: 18px;
        font-weight: 300;

        & + .row{
            margin-top: 60px;
        }
    }
    .btn{
        font-size: 16px;
        line-height: 48px;
        height: 48px;
    }
    ul, ol, 
    p + ul, p + ol, 
    ul + p, ol + p, 
    p + p{
        margin-top: 15px;
    }
}

/* Media */
@media all and (max-width: $desktop){}
@media all and (max-width: $desktop_m){}
@media all and (max-width: $tablet){}
@media all and (max-width: $mobile_l){
    .content{
        .content__offer{
            & + .row{
                margin-top: 30px;
            }
        }
    }
}