.content{
    padding: 60px 0;
    
    .container_inside{
        width: 910px;
        max-width: 100%;
    }
    .content__subtitle{
        font-size: 14px;
        font-weight: 300;
    }
    .content__title{
        font-size: 32px;
        line-height: 1.25;

        color: $text-gold;
        margin-bottom: 30px;
        
        & + .content__offer{
            margin-top: -15px;
        }
    }
    .content__offer{
        font-size: 14px;
        & + .row{
            margin-top: 4*$padding;
        }
    }
    .cta-wrap + .content__offer{
        margin-top: $padding;
    }

    * + ul, * + ol, 
    p + ul, p + ol, 
    ul + p, ol + p, 
    p + p{
        margin-top: $padding;
    }
}

/* Media */
@media all and (max-width: $mobile_l){
    .content{
        .content__title{
            font-size: 24px;
        }
        .content__offer{
            & + .row{
                margin-top: 2*$padding;
            }
        }
    }
}