/* Title Block */
.content_header{
    background: #f2f5f6;
    padding: 40px 0 60px;
}

/* Media */
@media all and (max-width: $mobile_l){
    .content_header{
        .content__title {
            font-size: 28px;
            line-height: 32px;
        }
    }
}