/* Popular Сourses */
.content_popular{
    background: #003f5d;
    .content__title{
        font-weight: 700;
        text-align: center;
        margin-bottom: 40px;
        color: #ceb780;
    }
    .row{
        justify-content: space-between;
        .column{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 33%;
            flex: 0 0 33%;
            max-width: 33%;
        }
    }
    .product{
        .product__title{
            font-weight: 700;
        }
    }
}

/* Media */
@media all and (max-width: $desktop){
    .content_popular{
        padding-bottom: 30px;
        .row{
            justify-content: center;
            .column {
                flex: 0 0 50%;
                max-width: 50%;

                margin-bottom: 30px;
            }
        }
    }
}
@media all and (max-width: $desktop_m){
    .content_popular{
        padding-bottom: 60px;
        .row{
            justify-content: center;
            .column {
                flex: 0 0 60%;
                max-width: 60%;
                margin-bottom: 0px;

                & + .column{
                    margin-top: 30px;
                }
            }
        }
    }
}
@media all and (max-width: $tablet){
    .content_popular{
        .row{
            .column {
                flex: 0 0 80%;
                max-width: 80%;
            }
        }
    }
}
@media all and (max-width: $mobile_l){
    .content_popular{
        .row{
            .column {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}