.content_product {
    background: #ebeeef;
    .content__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px
    }

    .row{
        .column {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 25%;
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%
        }
    }

    .content_inside {
        padding-bottom: 30px;
        .row{
            .column {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 50%;
                -webkit-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
                margin-bottom: 30px;
                .product {
                    height: 300px
                }
            }
        }
    }
}

/* Media */
@media all and (max-width: $desktop){
    .content_product{
        padding-bottom: 30px;
        .row{
            .column {
                flex: 0 0 40%;
                max-width: 40%;
                margin-bottom: 30px;
            }
        }
    }
}
@media all and (max-width: $desktop_m){
    .content_product{
        .row{
            .column {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
    }
}
@media all and (max-width: $tablet){}
@media all and (max-width: $mobile_l){
    .content_product{
        .row{
            .column {
                flex: 0 0 100%;
                max-width: 100%;

                & + .column{
                    margin-top: 30px;
                }
            }
        }
        &.content_inside{
            .row{
                .column{
                    flex: 0 0 100%;
                    max-width: 100%;
                    .product{
                        height: 200px;
                    }
                }
            }
        }
    }
}