/* Information About Sale */
.content_sale{
    background: #f2f5f6;
    .content__title{
        margin-bottom: 60px;
        text-align: center;
    }
    .row{
        justify-content: center;
    }
    .item{
        .item__icon{
            background-color: #fff;
            margin-bottom: 30px;
        }
        .item__title{
            font-size: 20px;
            line-height: 24px;
            font-weight: 700;

            color: $blue;
        }
        .item__offer{
            color: $blue;
        }
    }
}
/* Media */
@media all and (max-width: $desktop_m){
    .content_sale{
        .item{
            .item__title {
                font-size: 16px;
            }
        }
    }
}
@media all and (max-width: $tablet){
    .content_sale{
        padding-bottom: 30px;
        .row{
            .column {
                margin-bottom: 30px;
            }
        }
        .item{
            .item__title {
                font-size: 20px;
            }
        }
    }
}