/* Information About Sale */
.content_sale{
    background: #f2f5f6;
    .content__title{
        margin-bottom: 60px;
        text-align: center;
    }
    .row{
        justify-content: center;
        .column{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 30%;
            flex: 0 0 30%;
            max-width: 30%;
        }
    }
    .item{
        .item__icon{
            background-color: #fff;
            margin-bottom: 30px;
        }
        .item__title{
            font-size: 20px;
            line-height: 24px;
            font-weight: 700;

            color: #325564;
        }
        .item__offer{
            color: #325564;
        }
    }
}
/* Media */
@media all and (max-width: $desktop){}
@media all and (max-width: $desktop_m){
    .content_sale{
        .item{
            .item__title {
                font-size: 16px;
            }
        }
    }
}
@media all and (max-width: $tablet){
    .content_sale{
        padding-bottom: 30px;
        .row{
            .column {
                flex: 0 0 50%;
                max-width: 50%;

                margin-bottom: 30px;
            }
        }
        .item{
            .item__title {
                font-size: 20px;
            }
        }
    }
}
@media all and (max-width: $mobile_l){
    .content_sale{
        .row{
            .column {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}