/* CTA Block */
.cta-wrap {
    margin: 40px auto 0;
    width: 100%;
    max-width: 100%;

    position: relative;
    background: #3f84af;
    color: $white;
    // border:  5px solid #b7c4cc;
    border:  5px solid $red;
    padding: 30px 40px;

    display: flex;
    flex-wrap: nowrap;

    justify-content: space-between;
    align-items: center;

    
    &::after{
        content: '';
        display: block;
        position: absolute;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        background-color: rgba(69, 182, 214, 0.01);
        background-image: radial-gradient(center -500%, circle farthest-corner,rgb(74, 231, 253) 0%,rgba(63, 132, 175, 0) 85%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff4ae7fd",endColorstr="#003f84af",GradientType=0);
        z-index: 1;
    }

    &__title {
        position: relative;
        z-index: 5;
        line-height: 22px;
    }
    &__form {
        position: relative;
        z-index: 5;

        display: flex;
        flex-wrap: nowrap;

        .input {
            font-size: 18px;
            font-weight: 300;

            margin-left: 30px;
            
            background: #5baece;
            border: none;
            
            width: 250px;
            height: 40px;

            padding-left: 15px;
            padding-top: 0;
            padding-bottom: 0;
            &:hover {
                color: #fff;
            }
            &:focus {
                background: #fff;
                color: #003f5d;
            }
            &::placeholder {
                color: #fff;
            }
        }
        .btn {
            width: 140px;
            max-width: 100%;
            background: #003f5d;
            color: $white;
            &:hover {
                background: lighten( #003f5d , 5%);
            }
        }
    }
}

/* Media */
@media all and (max-width: $desktop){}
@media all and (max-width: $desktop_m){
    .cta-wrap{
        flex-wrap: wrap;
        justify-content: center;
        
        text-align: center;
        margin-top: 30px;
        &__title{
            margin-bottom: 15px;
        }
        &__form{
            flex-wrap: wrap;
            margin: 0 auto;
            input{
                margin-left: 0px;
                width: 100%;
            }
            button{
                width: 100%;
            }
        }
    }
}
@media all and (max-width: $tablet){}
@media all and (max-width: $mobile_l){
    .cta-wrap{
        padding: 30px 20px;
        &__form{
            .input{
                margin: 0;
                width: 100%;
            }
            .btn{
                width: 100%;
            }
        }
    }
}