/* Form */
.form{
    &__label{
        font-size: 12px;
        line-height: 14px;

        display: inline-block;
        margin-bottom: 10px;
    }
    &__input{
        padding: 15px;

        width: 100%;
        max-width: 100%;
        
        font-size: 18px;
        line-height: 20px;

        background: #f2f3f4;
        border: none;
        border-bottom: 1px solid #796e52;

        &::placeholder{
            opacity: .5;
        }
        &:focus{
            outline: none;

            &::placeholder{
                opacity: 0;
            }
        }

        & + .form__label{
            margin-top: 20px;
        }
    }
    &__input-file{
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    &__file-label{
        margin: 20px 0 10px;
        background: #a2926b;   
        color: #fff;
        padding: 15px 20px;
        
        display: inline-block;
        font-size: 14px;

        transition: .3s;
        cursor: pointer;

        &:hover, &:focus{
            background: darken($color: #a2926b, $amount: 5%);
        }
    }
    &__textarea{
        font-family: "Open Sans", sans-serif;
        
        padding: 15px;

        width: 100%;
        max-width: 100%;

        font-size: 18px;
        line-height: 20px;
        
        background: #f2f3f4;
        border: none;
        border-bottom: 1px solid #796e52;

        resize: none;

        &::placeholder{
            opacity: .5;
        }
        &:focus{
            outline: none;

            &::placeholder{
                opacity: 0;
            }
        }
    }
    &__agree{
        position: relative;
        margin-top: 10px;
    }
    .checkbox{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        &__input{
            width: 30px;
            height: 30px;
            margin: 0;
            margin-right: 10px;
        }
        &__label{
            font-size: 14px;
        }
        &__link{
            text-decoration: underline;
        }
    }
    .btn{
        margin-top: 10px;
    }
}

/* Button */
.btn{
    position: relative;
    
    display: inline-block;
    
    max-width: 100%;
    height: 40px;
    
    font-size: 14px;
    line-height: 39px;
    text-align: center;
    white-space: nowrap;
    
    box-shadow: none;
    border: none;
    padding: 0 20px;

    cursor: pointer;
    transition: all 0.2s;

    &_large{
        height: 50px;
        font-size: 18px;
        line-height: 48px;
    }
    &_modal{
        margin-top: 30px;
        width: 100%;
    }

    &_primary{
        background-color: #477284;
        color: #fff;
        &:hover, &:focus{
            background-color: #5797b8;
            color: #fff;
        }
    }
    &_gold{
        background-color: #796e52;
        color: #fff;
        &:hover{
            background-color: #5b523d;
            color: #fff;
        }
    }
    &_with-arrow{
        background-image: url(../img/icon/arrow.png);
        background-repeat: no-repeat;
        background-position-x: calc(100% - 20px);
        background-position-y: center;
        background-size: 18px;

        padding-right: 48px;
    }
}
.btn-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media(max-width: $tablet){
    .form{
        &__file-label{
            font-size: 14px;
            padding: 10px 15px;
        }
    }
}