/* Form */
.form{
    &__label{
        font-size: 12px;
        line-height: 14px;

        display: inline-block;
        margin-bottom: 10px;
    }
    &__input{
        padding: 15px;

        width: 100%;
        max-width: 100%;
        
        font-size: 18px;
        line-height: 20px;

        background: #f2f3f4;
        border: none;
        border-bottom: 1px solid #796e52;

        &::placeholder{
            opacity: .5;
        }
        &:focus{
            outline: none;

            &::placeholder{
                opacity: 0;
            }
        }
    }
    &__textarea{
        font-family: "Open Sans", sans-serif;
        
        padding: 15px;

        width: 100%;
        max-width: 100%;

        font-size: 18px;
        line-height: 20px;
        
        background: #f2f3f4;
        border: none;
        border-bottom: 1px solid #796e52;

        resize: none;

        &::placeholder{
            opacity: .5;
        }
        &:focus{
            outline: none;

            &::placeholder{
                opacity: 0;
            }
        }
    }
    &__agree{
        position: relative;
        margin-top: 10px;
    }
    .checkbox{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        &__input{
            width: 30px;
            height: 30px;
            margin: 0;
            margin-right: 10px;
        }
        &__label{
            font-size: 14px;
        }
    }
    .btn{
        margin-top: 10px;
    }
}


/* Button */
.btn{
    position: relative;
    
    display: inline-block;
    
    max-width: 100%;
    height: 40px;
    
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    
    box-shadow: none;
    border: none;
    padding: 0 20px;

    cursor: pointer;
    transition: all 0.2s;

    &_primary{
        background: #477284;
        color: #fff;
        &:hover, &:focus{
            background: #5797b8;
            color: #fff;
        }
    }
    &_gold{
        background-color: #796e52;
        color: #fff;
        &:hover{
            background-color: #5b523d;
        }
    }
    &_with-arrow{
        background-image: url(../img/icon/arrow.png);
        background-repeat: no-repeat;
        background-position-x: calc(100% - 20px);
        background-position-y: center;
        background-size: 18px;

        padding-right: 48px;
    }
}