.header{
    padding: 20px 0;

    &__row{
        justify-content: space-between;
    }
    // Logo
    &__logo{
        width: 260px;
        height: 165px;
        background: url(../img/UCSP_logo.svg) no-repeat 6px -15px / 236px;

        padding: 0 15px;

        display: flex;
        align-items: flex-end;

        transition: 0;
    }
    // Logo Offer
    &__offer{
        font-family: 'Open Sans Condensed',sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
    }
    // Search Icon
    &__search{
        display: inline-block;

        width: 20px;
        height: 20px;
        background: url(../img/icon/search.svg) no-repeat center / contain;

        cursor: pointer;
    }
    // Open Navbar In Mobile
    &__toggler{
        padding: 15px;
        width: 60px;
        height: 60px;

        cursor: pointer;
    }
    // Navbar Mobile
    &__mobile{
        display: none;
        .header__search{
            padding: 15px;
            width: 60px;
            height: 60px;
            background-size: 24px;
        }
    }
    // Navbar Desktop Content
    &__content{
        width: calc(100% - 310px);
    }
    // Line With Contact Info
    &__top{
        display: flex;
        justify-content: space-between;

        padding: 0 15px;

        font-size: 16px;
        line-height: 18px;

        margin-top: 15px;
        margin-bottom: 15px;

        .address{
            padding: 4px 30px;
            background: url("../img/icon/maps.svg") no-repeat left center / 22px;
        }
        .mail{
            padding: 4px 30px;
            background: url("../img/icon/envelope.svg") no-repeat left center / 22px;
        }
        .phone{
            font-weight: 700;
            padding: 4px 30px;
            padding-right: 0;
            background: url("../img/icon/telephone.svg") no-repeat left center / 22px;
        }
        .vk{
            padding: 4px 30px;
            background: url("../img/icon/vk.svg") no-repeat left center / 22px;
        }
    }
    .separator{
        width: calc(100% - 30px);
        height: 40px;
        background: url(../img/separ.png) no-repeat center;
        margin: 0 auto;
    }
    // Navbar
    &__nav{
        margin-top: 15px;
        .header__navbar{
            display: flex;
            justify-content: space-between;

            text-transform: uppercase;
        }
        .header__item{
            padding: 0 15px;
        }
        .header__link{
            font-size: 18px;
            line-height: 24px;

            display: inline-block;
        }
    }
}

.sticky-menu{
    position: fixed;
    top: 0;
    left: 0;

    display: none;

    width: 100%;

    padding: 15px 0;
    z-index: 999;

    background-image: radial-gradient(circle farthest-corner at center 0%,rgba(66, 93, 107, 0.9) 0%,rgba(45, 62, 70, 0.9) 70%);

    .header__row{
        justify-content: space-around;
    }
    .header__logo{
        width: 270px;
        height: 90px;
        background: url(../img/UCSP_logo_compact.svg) no-repeat 3px -6px/250px;

        padding: 0 15px;

        display: flex;
        align-items: flex-end;
    }
    .header__offer{
        font-size: 14px;
        color: $white;
        margin-left: 40px;
    }
    .header__content{
        width: auto;
    }
    .separator{
        height: 1px;
        background: rgba($color: $white, $alpha: 0.2);
    }
    .header__top{
        margin-top: 10px;
        margin-bottom: 10px;
        .header__link{
            font-size: 14px;
            line-height: 16px;
            color: $white;
        }
        .address{
            background: url("../img/icon/maps-light.svg") no-repeat left center / 22px;
        }
        .mail{
            background: url("../img/icon/envelope-light.svg") no-repeat left center / 22px;
        }
        .phone{
            background: url("../img/icon/telephone-light.svg") no-repeat left center / 22px;
        }
        .vk{
            background: url("../img/icon/vk-light.svg") no-repeat left center / 22px;
        }
    }
    .header__nav{
        .header__item{
            .header__search {
                background: url(../img/icon/search-white.svg) no-repeat center/contain;
            }
        }
        .header__link{
            font-size: 16px;
            line-height: 20px;
            color: $white;   
        }
    }
}
.content.sticky{
    margin-top: 230px;
}

/* Media */
@media all and (max-width: $desktop){
    .header{
        &__logo{
            width: 260px;
            height: 130px;
            background: url(../img/UCSP_logo.svg) no-repeat 6px -15px / 182px;
        }
        &__offer {
            font-size: 12px;
            line-height: 16px;
        }
        &__content {
            width: calc(100% - 260px);
        }
        &__top{
            font-size: 14px;
            .vk{
                display: none;
            }
        }
        &__nav{
            .header__link {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
}
@media all and (max-width: $desktop_m){
    .header{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 101;

        height: 80px;
        width: 100%;

        background: $white url(../img/bg-top.png) no-repeat top left / cover;

        padding: 8px 0 24px;
        &__top{
            display: none;
        }
        &__logo{
            width: 200px;
            height: 50px;
            background: url(../img/UCSP_logo_compact_sm.svg) no-repeat 5px -8px / 188px;
        }
        &__offer{
            display: none;
        }
        &__content {
            width: calc(100% - 200px);
        }
        .separator{
            display: none;
        }
        &__nav{
            margin-top: 25px;
            .header__link {
                font-size: 14px;
                line-height: 20px;
                &__desktop{
                    display: none;
                }
            }
        }

        & + .content.content_header{
            margin-top: 80px;
        }
    }
}
@media all and (max-width: $tablet){
    .header{
        height: auto;
        padding: 8px 0 0;

        &__mobile{
            display: block;
        }
        &__content{
            display: none;
            width: 100%;
        }
        &__nav{
            margin-top: 10px;
            margin-bottom: 25px;
            .header__navbar{
                flex-wrap: wrap;
                flex-direction: column;

                text-align: center;
            }
            .header__item{
                &_search{
                    display: none;
                }
                & + .header__item{
                    margin-top: 10px;
                }
            }
        }
        & + .content.content_header{
            margin-top: 70px;
        }
    }
}
@media all and (max-width: $mobile_l){
   .header{
        &__logo {
            width: 150px;
            background: url(../img/UCSP_logo_compact_sm.svg) no-repeat 5px 0px/148px;
        }
        &__mobile{
            padding: 10px 0;
            .header__search {
                padding: 5px;
                width: 40px;
                height: 40px;
                background-size: 20px;
            }
            .header__toggler{
                padding: 8px;
                width: 40px;
                height: 40px;
            }
        }
   } 
}