.news{
    padding-top: 0;
    background: #f2f5f6;

    &__item{
        padding: 2*$padding 0;
        border-bottom: 1px solid $text-gold;
        &__info{
            display: flex;
            flex-wrap: nowrap;

            margin-bottom: $padding;
        }
        &__theme{
            font-size: 14px;

            color: $text-gold;
            text-transform: uppercase;

            margin-right: 5px;
        }
        &__date{
            font-size: 14px;
            color: #959595;
            text-transform: uppercase;
        }
        &__img{
            margin-bottom: $padding;
        }
        &__title{
            font-size: 22px;
            line-height: 26px;
            font-weight: 700;
            margin-bottom: 15px;

            display: block;
        }
        &__offer{
            font-size: 14px;
            line-height: 20px;
        }
        &__link{
            color: #959595;
            &:hover, &:focus{
                text-decoration: underline;
            }
        }
    }
    .pagination{
        margin-top: 2*$padding;
    }
}
.news-contact{
    background: #ebeeef;
    .row{
        justify-content: space-between;
    }

    &__title{
        color: $text-gold;
        text-transform: uppercase;

        font-size: 24px;
        line-height: 28px;

        & + .form{
            margin-top: 22px;
        }
    }
    &__line{
        display: block;
        height: 1px;
        width: 100%;
        background: $white;

        margin: 20px auto;
    }
    &__offer{
        font-size: 12px;
        line-height: 16px;
        color: #959595;
    }

    &__item{
        margin-bottom: 30px;
        .item{
            display: flex;
            align-items: center;
            
            text-align: left;
            &__icon{
                flex: 0 0 80px;
                margin: 15px 0;
            }
            &__offer{
                font-size: 14px;
                line-height: 20px;
                margin-left: 15px;

                width: 180px;
            }
        }
    }
    .form{
        &__textarea{
            background: $white;
            margin-bottom: 20px;
        }
        &__input{
            background: $white;
        }
        .btn {
            display: block;
            width: 100%;
        }
    }
    .item{
        .item__icon{
            background-color: #d9e4e8;
        }
    }
}

/* Media */
@media all and (max-width: $desktop_m){
    .news-contact{
        &__item{
            .item{
                &__icon{
                    width: 50px;
                    height: 50px;
                    flex: 0 0 50px;
                    &.consulting{
                        background-size: 25px;
                        background-position: center 10px;
                    }
                    &.store{
                        background-size: 25px;
                        background-position: center 10px;
                    }
                    &.insurance{
                        background-size: 25px;
                        background-position: 14px 12px;
                    }
                    &.cv{
                        background-size: 25px;
                        background-position: center 12px;
                    }
                }
            }
        }
    }
}
@media all and (max-width: $tablet){
    .news{
        &__item{
            padding: 30px 0;
            &__title{
                font-size: 18px;
                line-height: 22px;
            }
        }
    }
    .news-contact{
        &__offer{
            margin-bottom: 50px;
        }
    }
}
@media all and (max-width: $mobile_l){
    .news-contact{
        &__item{
            margin-bottom: 10px;
        }
    }
}