@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:300,400,600');
@import "variable.scss";

/*FRAMEWORK
	- GRID ROWS
	- RESET STYLES
	- CLEAR FIX with extend rule
	- OUTLINE FIX
*/

/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; 
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block; 
}

body {
	line-height: 1; 
}

ol, ul {
	list-style: none; 
	list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}

blockquote, q {
	quotes: none; 
}

blockquote {
	&:before, &:after {
		content: '';
		content: none; } 
}

q {
	&:before, &:after {
		content: '';
		content: none; } 
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	outline: none;
	box-sizing: border-box;
}

a {
	display: inline-block;
	color: $text;
	text-decoration: none;
	transition: all .3s;
	&:hover {
		color: #5797b8;
		transition: all .3s;
		cursor: pointer;
	}
}
.clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.text-uppercase {text-transform: uppercase;}
.text-semibold{font-weight: 600;}
b, strong, .text-bold{font-weight: 700;}

.text-gold{color: $text-gold;}
.text-blue{color: $text-blue3;}

.bb-solid {border-bottom: 1px solid;}
.bb-dotted {border-bottom: 1px dotted;}

.word-break {white-space: nowrap;}

.lead {font-size: 1.2rem;}

.d-none,
.hidden {display: none !important;}
.d-flex{display: flex;}

.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right{text-align: right;}

/* Grid */
.container {
    width: $desktop;
    max-width: 100%;
    padding-left: $padding;
    padding-right: $padding;
    margin: 0 auto;
    display: block;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -$padding;
    margin-left: -$padding;
    
    &.flex-end{align-items: flex-end;}
    &.flex-start{align-items: flex-start;}

    .column{
        position: relative;
        width: 100%;
        padding-right: $padding;
        padding-left: $padding;
    }
}
/* Main Style */
body {
    background: url('../img/bg-top.png') no-repeat top left / contain, url('../img/footer-bg.png') no-repeat bottom right / contain;
    background-color: #fafafa;
	
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	
	width: 100%;
}
/* Background Style */
.bg{
	&-white{
		background: $white;
	}
    &_blue-gradient{
        background-color: #345463;
        background-image: radial-gradient(circle farthest-corner at center 0%,#356277 0%,#33454e 30%);
        &.content{
            .content__title{
				color: #7dbad8;
			}
			a.content__title:hover{
				color: darken($color: #7dbad8, $amount: 10);
			}
        }
	}
}

img{
	max-width: 100%;
}

/* Padding and Margin*/
.mt-30{margin-top: 2*$padding;}
.mt-60{margin-top: 4*$padding;}
.mb-30{margin-bottom: 2*$padding;}
.mb-60{margin-bottom: 4*$padding;}

/* Header */
@import "other/header.scss";
/* Form */
@import "other/form.scss";
/* Footer */
@import "other/footer.scss";

/* Media */
@media all and (max-width: $desktop){
	.d-xl-none{display: none;}
}
@media all and (max-width: $desktop_m){
	.d-lg-none{display: none;}
}
@media all and (max-width: $tablet){
	.container{
		padding-left: 2*$padding;
		padding-right: 2*$padding;
	}
	.d-md-none{display: none;}
}
@media all and (max-width: $mobile-l){
	.d-sm-none{display: none;}
}