//VARIABLES FOR FRAMEWORK

//FONT SIZE
$h1size: 36px;
$h2size: 30px;
$h3size: 24px;
$h4size: 18px;
$h5size: 14px;
$h6size: 12px;
$psize: 14px;

//COLOUR
$background:    #fff;
$text:          #222;
$white:         #fff;
$text-blue:     #36677f;
$text-gold:     #a2926b;
$text-gold2:    #796e52;
$text-blue2:    #97d7f6;
$text-blue3:    #3e83a4;
$text-blue4:    #8cd1f2;
$text-blue5:    #3f687b;
$text-blue6:    #5e798a;
$text-gray:     #afa489;
$text-gray2:    #a3a3a3;
$red:           #ff2626;
$border-color:  #d3e7d1;

//SIZE OF MAIN SCTRUCTURE
$container: 1180px;
$padding: 15px;

