html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Новости УЦ СП

        link(href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:300,400,600,700', rel='stylesheet')
        link(href='./css/iziModal.min.css', rel='stylesheet')
        link(href='./css/news.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/header.pug
        main
            section
                header.content.content_header.news-title
                    .container
                        ul.content__breadcrumbs
                            li.content__breadcrumbs__item
                                a.content__breadcrumbs__link(href="#") Главная
                            li.content__breadcrumbs__item
                                span.content__breadcrumbs__span Новости
                        h1.content__title Актуальные новости
                .content.news
                    .container
                        .row.news__grid
                            .column
                                article.news__item
                                    .news__item__info
                                        .news__item__theme Проект постановления
                                        .news__item__date  — 14.06.2019
                                    .news__item__offer
                                        p Интеллект естественно понимает под собой интеллигибельный закон внешнего мира, открывая новые горизонты. Согласно мнению известных философов, дедуктивный метод естественно порождает и обеспечивает мир, tertium nоn datur. Сомнение рефле...
                                            a.news__item__link читать дальше
                            .column
                                article.news__item
                                    .news__item__info
                                        .news__item__theme Проект постановления
                                        .news__item__date  — 14.06.2019
                                    a(href="#").news__item__title Интеллект естественно понимает под собой интеллигибельный закон
                                    .news__item__offer
                                        p Интеллект естественно понимает под собой интеллигибельный закон внешнего мира, открывая новые горизонты. Согласно мнению известных философов, дедуктивный метод естественно порождает и обеспечивает мир, tertium nоn datur. Сомнение рефле...
                                            a(href="#").news__item__link читать дальше
                            .column
                                article.news__item.news__item_image
                                    .news__item__info
                                        .news__item__date 14.06.2019
                                    img.news__item__img(src="../img/program/2.jpg" alt="" title="")
                                    a(href="#").news__item__title Интеллект естественно понимает под собой интеллигибельный закон
                                    .news__item__offer
                                        p Интеллект естественно понимает под собой интеллигибельный закон внешнего мира, открывая новые горизонты. Согласно мнению известных философов, дедуктивный метод естественно порождает и обеспечивает мир, tertium nоn datur. Сомнение рефле...
                                            a.news__item__link читать дальше
                            .column
                                article.news__item
                                    .news__item__info
                                        .news__item__theme Проект постановления
                                        .news__item__date  — 14.06.2019
                                    .news__item__offer
                                        p Интеллект естественно понимает под собой интеллигибельный закон внешнего мира, открывая новые горизонты. Согласно мнению известных философов, дедуктивный метод естественно порождает и обеспечивает мир, tertium nоn datur. Сомнение рефле...
                                            a.news__item__link читать дальше
                    .container
                        ul.pagination
                            li.pagination__item
                                span.active 1
                            li.pagination__item
                                a(href="#").pagination__link 2
                            li.pagination__item
                                a(href="#").pagination__link 3
                            li.pagination__item
                                a(href="#").pagination__link 4
            section
                .content.news-contact
                    .container
                        .row
                            .column
                                h2.news-contact__title Аккредитованный учебный Центр
                                .news-contact__line
                                .row.news-contact__item
                                    .column
                                        .item
                                            .item__icon.consulting
                                            .item__offer Аутсорсинг по&nbsp;охране&nbsp;труда
                                    .column
                                        .item
                                            .item__icon.store
                                            .item__offer Онлайн-магазин сопутствующих товаров
                                    .column
                                        .item
                                            .item__icon.insurance
                                            .item__offer Служба охраны труда
                                    .column
                                        .item
                                            .item__icon.cv
                                            .item__offer Собственная биржа&nbsp;труда
                                p.news-contact__offer Постановление Правительства Ленинградской области от 14.05.2019 № 208 "О внесении изменений в постановление Правительства Ленинградской области от 27 мая 2014 года N 192 "О Комите Постановление Правительства Ленинградской области от 14.05.2019 № 208 "О внесении изменений в постановление Правительства Ленинградской области от 27 мая 2014
                            .column.column_form
                                .news-contact__title Остались вопросы?
                                form.form()
                                    textarea.form__textarea(rows="5" placeholder="")
                                    p.form__label Телефон для связи
                                    input.form__input.phone(placeholder="8 ( ___ ) ___ - __ - __")
                                    .form__agree.checkbox
                                        input.checkbox__input(type="checkbox" name="agree" checked="checked" required="required")
                                        label.checkbox__label(for="agree") Я согласен с 
                                            a.checkbox__link(href="/assets/files/documents/policy.pdf" target="_blank") правилами использования сайта</a></label>
                                    button.btn.btn_primary Отправить сообщение

        footer.footer
            .container
                .row.footer__row
                    .column.footer__column
                        ul.footer__list
                            li.footer__list__item Обучение персонала.
                            li.footer__list__item Лицензирование.
                            li.footer__list__item Консалтинг.
                        a(href="#").policy Версия для слабовидящих
                        br
                        a(href="#").policy Политика конфиденциальности
                    a.column.footer__logo(href="/")
                    .column.footer__column
                        ul.footer__list.footer__list_contact
                            li
                                a(href="tel:88124696068").footer__link.footer__tel 8 (812) 469-60-68
                                    span.icon
                            li
                                a(href="mailto:info@uc-sp.ru").footer__link.footer__mail info@uc-sp.ru
                                    span.icon
                            li
                                a(href="https://vk.com/ucnorthway" target='_blank').footer__link.footer__vk Присоединяйтесь к группе ВК
                                    span.icon
                            li
                                a(href='' target='_blank').footer__link.footer__link_last.footer__address Санкт-Петербург, ул. Оборонная, 10 лит. А офис 310А
                                    span.icon
        script(src="./js/jquery.inputmask.js")
        script(src="./js/iziModal.js")
        script(src="./js/masonry.pkgd.min.js")
        script(src="./js/app.min.js")