html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Контакты

        link(href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:300,400,600,700', rel='stylesheet')
        link(href='./css/style.css', rel='stylesheet')
        link(href='./css/ancillary-page.css', rel='stylesheet')
    body
        script(src="./js/jquery.min.js")
        include chunks/header.pug
        main.inside
            section.content.content_header
                .container
                    ul.content__breadcrumbs
                        li.content__breadcrumbs__item
                            a.content__breadcrumbs__link(href="#") Главная
                        li.content__breadcrumbs__item
                            a.content__breadcrumbs__link(href="#") Контакты
                    h1.content__title Контакты учебного центра
                    .row
                        .col-4.col-md-12
                            p.content__offer.text-semibold Полное наименование организации
                            p.lead.mt-0 Общество с ограниченной ответственностью «Северный Путь»
                            p.content__offer.text-semibold График работы:
                            p.lead.mt-0 Понедельник - пятница с 10:00 до 18:00
                        .col-4.col-md-12.mt-md-30
                            ul.list-contact
                                li.list-item.list-item_phone 
                                    span.text-semibold Наш телефон: <br/>
                                    a.lead(href="tel:8 (812) 770-67-12") 8 (812) 770-67-12
                                li.list-item.list-item_address 
                                    span.text-semibold Наш адрес: <br/>
                                    span.lead 198095, Россия, г. Cанкт-Петербург, ул. Оборонная, 10 лит. А, офис 310А
                        .col-4.col-md-12.mt-md-30
                            ul.list-contact
                                li.list-item.list-item_email 
                                    span.text-semibold Электронная почта: <br/>
                                    a.lead(href="mailto:info@uc-sp.ru") info@uc-sp.ru
                                li.list-item.list-item_vk 
                                    span.text-semibold Наша группа вКонтакте: <br/>
                                    a.lead(href="https://vk.com/ucnorthway") https://vk.com/ucnorthway
                    .map.mt-60#map
                    .map-info#map_info
                        .map-content
                            img.map-logo(src="/img/UCSP_logo.svg" alt="logo")
                            p.lead.text-gold.text-center Оборонная улица, 10
                            p.lead.text-gold.text-center понедельник - пятница <br/>
                                span.text-bold с 10:00 до 18:00
        include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        link(href='./css/iziModal.min.css', rel='stylesheet')
        script(src="./js/iziModal.min.js")
        script(src="./js/app.min.js")
        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")