html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document2

        link(href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:300,400,600,700', rel='stylesheet')
        link(href='./css/iziModal.min.css', rel='stylesheet')
        link(href='./css/store.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/header.pug

        section.content.content_header
            .container
                ul.content__breadcrumbs
                    li.content__breadcrumbs__item
                        a.content__breadcrumbs__link(href="#") Главная
                    li.content__breadcrumbs__item
                        span.content__breadcrumbs__span Магазин
                h1.content__title Магазин учебного центра
                p Центр профессионального обучения «Северный Путь» является аккредитованной организацией, 
                    | оказывающей услуги в области охраны труда и предоставляет максимально выгодные и надёжные 
                    | условия взаимодействия в направлении аутсорсинга по охране труда. Работая по принципу 
                    | единого окна, Вы сможете получить в нашем лице надёжного партнера в направлении охраны труда, 
                    | обучения персонала, а также помощь в организации процессов медосмотров сотрудников и 
                    | аттестации рабочих мест.    
        section.content.content_product
            .container
                .content__title Перечень товаров
                .row
                    .column
                        a.product(href="#" style="background-image: url('./img/program/1.jpg');")
                            .product__title 
                                .product__name Журналы
                    .column
                        a.product(href="#" style="background-image: url('./img/program/2.jpg');")
                            .product__title 
                                .product__name Огнетушители
                    .column
                        a.product(href="#" style="background-image: url('./img/program/3.jpg');")
                            .product__title 
                                .product__name Наглядные пособия
                    .column
                        a.product(href="#" style="background-image: url('./img/program/4.jpg');")
                            .product__title 
                                .product__name Другое
        section.content.content_advantage
            .container
                .content__title Наши преимущества
                .row
                    .column
                        .item
                            .item__icon.delivery
                            .item__title Доставка прямо к&nbsp;Вам в&nbsp;руки
                    .column
                        .item
                            .item__icon.clients
                            .item__title Индивидуальный подход к&nbsp;каждому клиенту
                    .column
                        .item
                            .item__icon.consultation
                            .item__title Консультационная поддержка
                    .column
                        .item
                            .item__icon.certificate
                            .item__title Сертифицированные товары
                    .column
                        .item
                            .item__icon.format
                            .item__title Работаем в&nbsp;формате единого окна
                .cta-wrap
                    .cta-wrap__title.white Оставьте заявку, и наши специалисты оперативно ответят на любые вопросы
                    form.cta-wrap__form(action="#", method="POST")
                        input.input(type="text", placeholder="8 ( ___ ) ___ - __ - __ ")#phone.white.l18
                        button.btn(type="submit") Перезвонить
        section.content.content_product.content_inside
            .container
                .content__title Товары
                .row
                    .column
                        a.product(data-title="Журнал учёта огнетушителей" href="#info1" data-izimodal-open="#info1" style="background-image: url('./img/program/1.jpg');")
                            .product__title 
                                .product__name Журналы
                    .column
                        a.product(data-title="Журнал учёта огнетушителей" href="#info1" data-izimodal-open="#info1" style="background-image: url('./img/program/2.jpg');")
                            .product__title 
                                .product__name Огнетушители
                    .column
                        a.product(data-title="Журнал учёта огнетушителей" href="#info1" data-izimodal-open="#info1" style="background-image: url('./img/program/3.jpg');")
                            .product__title 
                                .product__name Наглядные пособия
                    .column
                        a.product(data-title="Журнал учёта проведения вводного инструктажа по пожарной безопасности" href="#info1" data-izimodal-open="#info1" style="background-image: url('./img/program/4.jpg');")
                            .product__title 
                                .product__name Журнал учёта проведения вводного инструктажа по пожарной безопасности
        section.content.content_sale
            .container
                .content__title Акции учебного центра
                .row
                    .column
                        .item
                            .item__icon.united
                            .item__title Приведи друга
                            .item__line
                            .item__offer Скидка 10% на&nbsp;следующие&nbsp;заказы
                    .column
                        .item
                            .item__icon.free-delivery
                            .item__title Бесплатная доставка
                            .item__line
                            .item__offer Доставка документов по&nbsp;Санкт-Петербургу
                    .column
                        .item
                            .item__icon.contract
                            .item__title Договор на год
                            .item__line
                            .item__offer При заключении договора на&nbsp;год — скидка&nbsp;10%
        section.content.content_popular
            .container
                .content__title Популярные направления
                .row
                    .column
                        a.product(href="#" style="background-image: url('./img/program/1.jpg');")
                            .product__title 
                                .product__name Сосуды, работающие под давлением
                    .column
                        a.product(href="#" style="background-image: url('./img/program/2.jpg');")
                            .product__title 
                                .product__name Отраслевые правила по охране труда
                    .column
                        a.product(href="#" style="background-image: url('./img/program/3.jpg');")
                            .product__title 
                                .product__name Курсы повышения квалификации по Реставрационным работам
        section.content.content_seo
            .container
                h2 Заголовок h2
                p «Северный Путь» является аккредитованной организацией, оказывающей услуги в области охраны труда и предоставляет максимально выгодные и надёжные условия взаимодействия в направлении аутсорсинга по охране труда. Работая по принципу единого окна, Вы сможете получить в нашем лице надёжного партнера в направлении охраны труда, обучения персонала, а также помощь в организации процессов медосмотров сотрудников и аттестации рабочих мест.
                p Центр профессионального обучения «Северный Путь» является аккредитованной организацией, оказывающей услуги в области охраны труда и предоставляет максимально выгодные и надёжные условия взаимодействия в направлении аутсорсинга по охране труда. Работая по принципу единого окна, Вы сможете получить в нашем лице надёжного партнера в направлении охраны труда, обучения персонала, а также помощь в организации процессов медосмотров сотрудников и аттестации рабочих мест.
                h3 Заголовок h3
                p Центр профессионального обучения «Северный Путь» является аккредитованной организацией, оказывающей услуги в области охраны труда и предоставляет максимально выгодные и надёжные условия взаимодействия в направлении аутсорсинга по охране труда. Работая по принципу единого окна, Вы сможете получить в нашем лице надёжного партнера в направлении охраны труда, обучения персонала, а также помощь в организации процессов медосмотров сотрудников и аттестации рабочих мест.
                ol
                    li аккредитованной организацией
                    li аккредитованной организацией
                    li аккредитованной организацией
                    li аккредитованной организацией
                h4 Заголовок h4
                p Центр профессионального обучения «Северный Путь» является аккредитованной организацией, оказывающей услуги в области охраны труда и предоставляет максимально выгодные и надёжные условия взаимодействия в направлении аутсорсинга по охране труда. Работая по принципу единого окна, Вы сможете получить в нашем лице надёжного партнера в направлении охраны труда, обучения персонала, а также помощь в организации процессов медосмотров сотрудников и аттестации рабочих мест. Центр профессионального обучения «Северный Путь» является аккредитованной организацией, оказывающей услуги в области охраны труда и предоставляет максимально выгодные и надёжные условия взаимодействия в направлении аутсорсинга по охране труда. Работая по принципу единого окна, Вы сможете получить в нашем лице надёжного партнера в направлении охраны труда, обучения персонала, а также помощь в организации процессов медосмотров сотрудников и аттестации рабочих мест.
                h5 Заголовок h5
                p Центр профессионального обучения «Северный Путь» является аккредитованной организацией, оказывающей 
                    | услуги в области охраны труда и предоставляет максимально выгодные и надёжные условия 
                    | взаимодействия в направлении аутсорсинга по охране труда. Работая по принципу единого окна, 
                    | Вы сможете получить в нашем лице надёжного партнера в направлении охраны труда, обучения персонала, 
                    | a также помощь в организации процессов медосмотров сотрудников и аттестации рабочих мест. 
                h6 Заголовок h6
                ul 
                    li Центр профессионального обучения «Северный Путь» является аккредитованной организацией, 
                    li оказывающей услуги в области охраны труда и предоставляет максимально выгодные 
                    li и надёжные условия взаимодействия в направлении аутсорсинга по охране труда. 
                    li Работая по принципу единого окна, Вы сможете получить в нашем лице надёжного партнера 
        footer.footer
            .container
                .row.footer__row
                    .column.footer__column
                        ul.footer__list
                            li.footer__list__item Обучение персонала.
                            li.footer__list__item Лицензирование.
                            li.footer__list__item Консалтинг.
                        a(href="#").policy Версия для слабовидящих
                        br
                        a(href="#").policy Политика конфиденциальности
                    a.column.footer__logo(href="/")
                    .column.footer__column
                        ul.footer__list.footer__list_contact
                            li
                                a(href="tel:88124696068").footer__link.footer__tel 8 (812) 469-60-68
                                    span.icon
                            li
                                a(href="mailto:info@uc-sp.ru").footer__link.footer__mail info@uc-sp.ru
                                    span.icon
                            li
                                a(href="https://vk.com/ucnorthway" target='_blank').footer__link.footer__vk Присоединяйтесь к группе ВК
                                    span.icon
                            li
                                a(href='' target='_blank').footer__link.footer__link_last.footer__address Санкт-Петербург, ул. Оборонная, 10 лит. А офис 310А
                                    span.icon
        script(src="./js/jquery.inputmask.js")
        script(src="./js/iziModal.js")
        script(src="./js/app.min.js")
        .modal.modal_info#info1
            .modal__text
                .s-title Товар категории "Журналы"
                .title.text-gold Журнал учёта огнетушителей
                .s-title Стоимость 300 руб.
                .offer Журнал учёта огнетушителей с примером заполнения. 
                a(href="" data-izimodal-close="data-izimodal-close")
                    span.modal__close.text-gold Закрыть
            .modal__footer
                .s-title Выберите способ заказа:
                .info-block
                    .info-block__item 
                        p Отправить заявку&nbsp;на 
                        p 
                            a.text-gold.word-break.bb-dotted(href="mailto:info@uc-sp.ru") info@uc-sp.ru
                    .info-block__item 
                        p Позвонить по&nbsp;номеру
                        p 
                            a(href="tel:8 (812) 468-60-68").phone.text-gold.word-break.bb-dotted 8 (812) 468-60-68
                a.btn.btn_primary.open-form Заказать обратный звонок
                .callback-form
                    form.form(method="post")
                        input(type="hidden" name="name" value="Журнал учёта огнетушителей" class="hidden h-title")
                        .callback-form__title Укажите способ связи с Вами, и наши сотрудники оформят заявку на программу обучения.
                        label.form__label(for="email1") Электронная почта
                        input.form__input.email(id="email1" type="email" name="email" placeholder=" Введите ваш e-mail " value="")
                        label.form__label(for="phone1") Телефон
                        input.form__input.phone(id="phone1" type="phone" name="phone" placeholder="8 ( ___ ) ___ - __ - __"  value="")
                        .checkbox
                            input(class="checkbox__input" type="checkbox" name="agree" checked="checked" required="required")
                            label(class="checkbox__label" for="agree") Я согласен с 
                                a(class="policy bb-dotted" href="/assets/files/documents/policy.pdf" target="_blank") правилами использования сайта   
                        button.btn.btn_primary Оставить заявку