html(lang="ru")
    include chunks/head.pug
    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/header.pug
        section.real-main
            div.real-slider
                div.real-slider__item.first
                    div.bg
                    div.title-wrap
                        div.title.sb36.text-blue.text-center Доверие и профессионализм
                        div.line
                        div.subtitle.l24.black.text-center Качественно обученные кадры – на вес золота
                div.real-slider__item.second
                    div.bg
                    div.title-wrap
                        div.title.sb36.text-blue.text-center Гарантированный результат
                        div.line
                        div.subtitle.l24.black.text-center Преимущество профессиональной подготовки
                div.real-slider__item.third
                    div.bg
                    div.title-wrap
                        div.title.sb36.text-blue.text-center Стимул сложных задач
                        div.line
                        div.subtitle.l24.black.text-center Новое понимание инструментов консалтинга
            div.container
                div.real-text-wrap
                    h2.title.sb32.text-gold Квалифицированная реальность
                    p.r18.black Amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum. Sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore.
                    p.r18.black Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        |  Culpa qui officia deserunt mollit nde omnis iste natus error sit voluptatem accusantium dolore.
        section.plan
            div.container
                h2.l32.text-blue2.text-center Наши программы
                div.plan-wrap.clearfix
                    div.plan__item
                        div.name.sb21.text-gold Охрана труда
                        ul.r14.white
                            li Охрана труда для руководителей и специалистов
                            li Охрана труда для работников организаций
                            li Охрана труда для рабочих профессий
                        div.line
                        div.adv-wrap.clearfix
                            div.adv__item
                                span.icon.calendar
                                div.text-wrap
                                    div.title.l14.white Срок действия документов
                                    div.desc.l20.text-blue4 3 года
                                div.clearfix
                            div.adv__item
                                span.icon.price
                                div.text-wrap
                                    div.title.l14.white Стоимость
                                    div.desc.l20.text-blue4 2500 р.
                                div.clearfix
                        div.button-wrap.clearfix
                            a(href="#").more.r14.white.text-center Подробнее
                                span.arrow
                            a(href="#",data-izimodal-open="#callback1",data-izimodal-transitionin="fadeInDown").sublead.r14.white.text-center Оставить заявку

        
                    div.plan__item
                        div.name.sb21.text-gold Охрана труда
                        ul.r14.white
                            li Охрана труда для руководителей и специалистов
                            li Охрана труда для работников организаций
                            li Охрана труда для рабочих профессий
                        div.line
                        div.adv-wrap.clearfix
                            div.adv__item
                                span.icon.calendar
                                div.text-wrap
                                    div.title.l14.white Срок действия документов
                                    div.desc.l20.text-blue4 3 года
                                div.clearfix
                            div.adv__item
                                span.icon.price
                                div.text-wrap
                                    div.title.l14.white Стоимость
                                    div.desc.l20.text-blue4 2500 р.
                                div.clearfix
                        div.button-wrap.clearfix
                            a(href="#").more.r14.white.text-center Подробнее
                                span.arrow
                            a(href="#",data-izimodal-open="#callback1",data-izimodal-transitionin="fadeInDown").sublead.r14.white.text-center Оставить заявку

                    div.plan__item
                        div.name.sb21.text-gold Охрана труда
                        ul.r14.white
                            li Охрана труда для руководителей и специалистов
                            li Охрана труда для работников организаций
                            li Охрана труда для рабочих профессий
                        div.line
                        div.adv-wrap.clearfix
                            div.adv__item
                                span.icon.calendar
                                div.text-wrap
                                    div.title.l14.white Срок действия документов
                                    div.desc.l20.text-blue4 3 года
                                div.clearfix
                            div.adv__item
                                span.icon.price
                                div.text-wrap
                                    div.title.l14.white Стоимость
                                    div.desc.l20.text-blue4 2500 р.
                                div.clearfix
                        div.button-wrap.clearfix
                            a(href="#").more.r14.white.text-center Подробнее
                                span.arrow
                            a(href="#",data-izimodal-open="#callback1",data-izimodal-transitionin="fadeInDown").sublead.r14.white.text-center Оставить заявку
        
                    div.plan__item
                        div.name.sb21.text-gold Охрана труда
                        ul.r14.white
                            li Охрана труда для руководителей и специалистов
                            li Охрана труда для работников организаций
                            li Охрана труда для рабочих профессий
                        div.line
                        div.adv-wrap.clearfix
                            div.adv__item
                                span.icon.calendar
                                div.text-wrap
                                    div.title.l14.white Срок действия документов
                                    div.desc.l20.text-blue4 3 года
                                div.clearfix
                            div.adv__item
                                span.icon.price
                                div.text-wrap
                                    div.title.l14.white Стоимость
                                    div.desc.l20.text-blue4 2500 р.
                                div.clearfix
                        div.button-wrap.clearfix
                            a(href="#").more.r14.white.text-center Подробнее
                                span.arrow
                            a(href="#",data-izimodal-open="#callback1",data-izimodal-transitionin="fadeInDown").sublead.r14.white.text-center Оставить заявку
            div.separator
            button.r18.white.text-center#all_plan Все образовательные программы
        
        section.excellence
            .container
                h2.title.sb32.text-gold Приемущества
                .excellence-item
                    .icon(style="background: url('img/excellence/icon_remote_study.png') no-repeat center;")
                    .title.sb18.black Без отрыва
                    .desc.r14.lh20.black Очное и дистанционное обучение без отрыва от рабочего процесса.
                .excellence-item
                    .icon(style="background: url('img/excellence/icon_diploma.png') no-repeat center;")
                    .title.sb18.black Аккредитованный УЦ
                    .desc.r14.lh20.black Получайте удостоверения и документы в соответствии с Законодательством РФ.
                .excellence-item
                    .icon(style="background: url('img/excellence/icon_result.png') no-repeat center;")
                    .title.sb18.black 100% положительный результат
                    .desc.r14.lh20.black Гарантия быстрого получения документов, необходимых для ведения деятельности. 
                .excellence-item
                    .icon(style="background: url('img/excellence/icon_documents.png') no-repeat center;")
                    .title.sb18.black Доставка документов
                    .desc.r14.lh20.black Получайте документы на руки на следующий день.
                .excellence-item
                    .icon(style="background: url('img/excellence/icon_jobs.png') no-repeat center;")
                    .title.sb18.black Работа без штрафов
                    .desc.r14.lh20.black Сэкономьте в среднем до 250 000 руб. на штрафах и санкциях. 
                .excellence-item
                    .icon(style="background: url('img/excellence/icon_student.png') no-repeat center;")
                    .title.sb18.black > 500 программ
                    .desc.r14.lh20.black Обучение для руководителей, специалистов и рабочих с разным уровнем подготовки.
                .excellence-item
                    .icon(style="background: url('img/excellence/icon_teacers.png') no-repeat center;")
                    .title.sb18.black Преподаватели практики
                    .desc.r14.lh20.black Практический подход в решении вопросов, связанных с законностью деятельности.
                .excellence-item
                    .icon(style="background: url('img/excellence/icon_consulting.png') no-repeat center;")
                    .title.sb18.black Консультации
                    .desc.r14.lh20.black Специалисты-практики помогут разобраться в сложных рабочих ситуациях.

        section.news
            div.container
                h2.l32.black.text-center Новости

                div.news__item
                    div.date.l14.text-gray 23 июня
                    div.title.r14.black В учебном центре Северный Путь проходит день открытых дверей
                    a(href="#",data-izimodal-open=".modal-news",data-izimodal-transitionin="fadeInDown").more.r14.white.text-center Подробнее
                        span.icon
                div.news__item
                    div.date.l14.text-gray 22 июня
                    div.title.r14.black Открывается набор слушателей по программе “Пожарно-технический минимум для электрогазосварщиков”
                    a(href="#",data-izimodal-open=".modal-news",data-izimodal-transitionin="fadeInDown").more.r14.white.text-center Подробнее
                        span.icon
                div.news__item
                    div.date.l14.text-gray 22 июня
                    div.title.r14.black Открывается набор слушателей по программе “Пожарно-технический минимум для электрогазосварщиков”
                    a(href="#",data-izimodal-open=".modal-news",data-izimodal-transitionin="fadeInDown").more.r14.white.text-center Подробнее
                        span.icon
                div.news__item
                    div.date.l14.text-gray 21 июня
                    div.title.r14.black Объявлена акция “Приведи друга”, с возможностью получения 10% скидки на следующий заказ
                    a(href="#",data-izimodal-open=".modal-news",data-izimodal-transitionin="fadeInDown").more.r14.white.text-center Подробнее
                        span.icon
                div.clearfix
        section.reviews
            div.container
                h3.l32.white.text-center   Отзывы наших клиентов
                div.reviews-slider
                    div.reviews-slider__item
                        div.wrap
                            div.avatar
                                img(src="img/icon/icon_person.png", alt="")
                            div.text-wrap
                                div.name.l12.text-gray2    Сергей Воробей    
                                div.date.r12.text-gray2 19 июня 1963
                                div.clearfix
                                div.comment.r14.lh22.white О, ну это просто что-то восхитительное!
                                    |  Купил себе две квартиры после обучения. Спасибо огромное!
                                
                    div.reviews-slider__item
                        div.wrap
                            div.avatar
                            div.text-wrap
                                div.name.l12.text-gray2    Адель Аткинс     
                                div.date.r12.text-gray2 12 февраля 2017
                                div.clearfix
                                div.comment.r14.lh21.white Как только повысила квалификацию
                                    |  в Северном Пути, сразу написала лучший свой хит и взяла Гремми.
                                    |  Благодарствую!
                                
                    div.reviews-slider__item
                        div.wrap
                            div.avatar
                            div.text-wrap
                                div.name.l12.text-gray2    Сергей Семак     
                                div.date.r12.text-gray2 29 мая 2018
                                div.clearfix
                                div.comment.r14.lh21.white Судите сами – только за порог учебного класса, и сразу на пост главного тренера. Отличный результат!

                    div.reviews-slider__item
                        div.wrap
                            div.avatar
                            div.text-wrap
                                div.name.l12.text-gray2    Адель Аткинс     
                                div.date.r12.text-gray2 12 февраля 2017
                                div.clearfix
                                div.comment.r14.lh21.white Как только повысила квалификацию
                                    |  в Северном Пути, сраз унаписала лучший свой хит и взяла Гремми.
                                    |  Благодарствую!
                    
                    div.reviews-slider__item
                        div.wrap
                            div.avatar
                            div.text-wrap
                                div.name.l12.text-gray2    Сергей Семак     
                                div.date.r12.text-gray2 29 мая 2018
                                div.clearfix
                                div.comment.r14.lh21.white Судите сами – только за порог учебного класса, и сразу на пост главного тренера. Отличный результат!

        div.modal-news#modal1(data-izimodal-group="news")
            div.text-wrap
                div.title.r22.text-gold В учебном центре Северный Путь проходит день открытых дверей
                div.date.l14.text-gray 23 июня
                div.desc.l16.lh24 В учебном центре Северный Путь проходит день открытых дверей В учебном центре Северный Путь проходит день открытых дверей В учебном центре Северный Путь проходит день открытых дверей В учебном центре Северный Путь проходит день открытых дверей
                a(href="",data-izimodal-close)
                    span.close.l14.text-gold Закрыть
                //- button(data-izimodal-prev="").prev 
                //- button(data-izimodal-next="").next 
        div.modal-news#modal2(data-izimodal-group="news")
            div.text-wrap
                div.title.r22.text-gold В учебном центре Северный Путь проходит день открытых дверей
                div.date.l14.text-gray 23 июня
                div.desc.l16.lh24 В учебном центре Северный Путь проходит день открытых дверей В учебном центре Северный Путь проходит день открытых дверей В учебном центре Северный Путь проходит день открытых дверей В учебном центре Северный Путь проходит день открытых дверей
                a(href="",data-izimodal-close)
                    span.close.l14.text-gold Закрыть
                //- button(data-izimodal-prev="").prev 
                //- button(data-izimodal-next="").next 
        div.modal-news#modal3(data-izimodal-group="news")
            div.text-wrap
                div.title.r22.text-gold В учебном центре Северный Путь проходит день открытых дверей
                div.date.l14.text-gray 23 июня
                div.desc.l16.lh24 В учебном центре Северный Путь проходит день открытых дверей В учебном центре Северный Путь проходит день открытых дверей В учебном центре Северный Путь проходит день открытых дверей В учебном центре Северный Путь проходит день открытых дверей
                a(href="",data-izimodal-close)
                    span.close.l14.text-gold Закрыть
                //- button(data-izimodal-prev="").prev 
                //- button(data-izimodal-next="").next 
        div.modal-news#modal4(data-izimodal-group="news")
            div.text-wrap
                div.title.r22.text-gold В учебном центре Северный Путь проходит день открытых дверей
                div.date.l14.text-gray 23 июня
                div.desc.l16.lh24 В учебном центре Северный Путь проходит день открытых дверей В учебном центре Северный Путь проходит день открытых дверей В учебном центре Северный Путь проходит день открытых дверей В учебном центре Северный Путь проходит день открытых дверей
                a(href="",data-izimodal-close)
                    span.close.l14.text-gold Закрыть
                //- button(data-izimodal-prev="").prev 
                //- button(data-izimodal-next="").next 
        include chunks/footer.pug
