html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Обновление главной страницы

        link(href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:300,400,600,700', rel='stylesheet')
        link(href='./css/index_update.css', rel='stylesheet')

    body
        script(src="./js/jquery.min.js")
        include chunks/header.pug
        main
            section.bg_light-blue.slider.slider_info
                .container
                    .row.align-items-center
                        .col-5.col-md-12.col-xl-6
                            #sliderIndex
                                .slider__item
                                    p.slider__title Вместе выгодно: приведи друга и&nbsp;получи скидку
                                    p.slider__subtitle 10% при следующем заказе
                                .slider__item
                                    p.slider__title Доставка готовых документов бесплатно
                                    p.slider__subtitle на&nbsp;дом или в&nbsp;офис компании
                                .slider__item
                                    p.slider__title Команда экспертов для разбора сложных ситуаций
                                    p.slider__subtitle полная консультационная поддержка
                        .col-7.col-md-12.col-xl-6.text-right.text-md-left
                            img(src="../img/2020/pic-demo.png" style="margin-left:auto;")
            section.content.pt-80.pb-80.pt-md-40.pb-md-40
                .container
                    h1.h4.text-bold Центр обучения Северный Путь
                    p.content__information Центр обучения «Северный Путь» приветствует Вас! Что для Вас важно при выборе партнера по обучению? Надёжность? Скорость? Легитимность? Цена? Персональный подход? Всё это Вы найдёте в нашей компании! Центр обучения «Северный Путь» – это команда профессионалов, которая решит все задачи в области охраны труда, разрешительной документации, а также лицензирования. В это время Вы сможете сосредоточиться на самом главном – Вашей деятельности!
                    p.content__information С помощью нашего центра обучения Вы в максимально короткие сроки сможете решить любые вопросы, начиная от обучения по пожарно-техническому минимуму, заканчивая экспертизой с последующей разработкой и внедрением системы охраны труда.
                    .row.advantage.pt-20.pt-md-0
                        .advantage__item.mt-40.col-3.col-sm-12.col-md-6.col-lg-6
                            .advantage__icon(style="background-image: url('../img/icon/law.svg');")
                            .advantage__title Аккредитованный УЦ
                            .advantage__content Получайте удостоверения и документы в соответствии с Законодательством РФ.
                        .advantage__item.mt-40.col-3.col-sm-12.col-md-6.col-lg-6
                            .advantage__icon(style="background-image: url('../img/icon/icon_delivery.svg');")
                            .advantage__title Доставка документов
                            .advantage__content Получайте документы на руки на следующий день. Доставка по СПб бесплатно.
                        .advantage__item.mt-40.col-3.col-sm-12.col-md-6.col-lg-6
                            .advantage__icon(style="background-image: url('../img/icon/icon_format.svg');")
                            .advantage__title Без отрыва от процесса
                            .advantage__content Очное и дистанционное обучение без отрыва от рабочего процесса.
                        .advantage__item.mt-40.col-3.col-sm-12.col-md-6.col-lg-6
                            .advantage__icon(style="background-image: url('../img/icon/icon_bank.svg');")
                            .advantage__title Работа без штрафов
                            .advantage__content Сэкономьте в среднем до 250 000 р. на штрафах и санкциях.
                        .advantage__item.mt-40.col-3.col-sm-12.col-md-6.col-lg-6
                            .advantage__icon(style="background-image: url('../img/icon/insurance.svg');")
                            .advantage__title 100% результат
                            .advantage__content Гарантия быстрого получения документов, необходимых для ведения деятельности.
                        .advantage__item.mt-40.col-3.col-sm-12.col-md-6.col-lg-6
                            .advantage__icon(style="background-image: url('../img/icon/icon_clients.svg');")
                            .advantage__title >500 программ
                            .advantage__content Обучение для руководителей, специалистов и рабочих с разным уровнем подготовки.
                        .advantage__item.mt-40.col-3.col-sm-12.col-md-6.col-lg-6
                            .advantage__icon(style="background-image: url('../img/icon/lecture.svg');")
                            .advantage__title Специалисты-практики
                            .advantage__content Практический подход в решении вопросов, связанных с законностью деятельности
                        .advantage__item.mt-40.col-3.col-sm-12.col-md-6.col-lg-6
                            .advantage__icon(style="background-image: url('../img/icon/icon_consultation.svg');")
                            .advantage__title Консультации
                            .advantage__content Специалист учебного центра помогут разобраться в сложных рабочих ситуациях.
            section.bg_light-blue.pt-40.pb-40
                .container
                    .row.align-items-center
                        .col-5.col-md-12.col-lg-7
                            p.h2.text-bold Лицензии и&nbsp;аккредитации
                            p Северный Путь является аккредитованным учебным центром и&nbsp;имеет всю&nbsp;необходимую 
                                | документацию для&nbsp;ведения образовательной деятельности. Здесь вы можете ознакомиться 
                                | с&nbsp;лицензиями и&nbsp;разрешениями компании.
                        .col-7.col-md-12.mt-md-40.col-lg-5
                            .slider.slider_license
                                .slider__item
                                    img.img-fluid(src="../img/2020/license-demo.png")
                                .slider__item
                                    img.img-fluid(src="../img/2020/license-demo.png")
                                .slider__item
                                    img.img-fluid(src="../img/2020/license-demo.png")
                                .slider__item
                                    img.img-fluid(src="../img/2020/license-demo.png")
                                .slider__item
                                    img.img-fluid(src="../img/2020/license-demo.png")
                                .slider__item
                                    img.img-fluid(src="../img/2020/license-demo.png")
            section.pt-80.pb-80.pt-lg-40.pb-lg-40
                .container
                    p.h4.text-bold.mb-0 Услуги центра обучения
                    .row.mt-0
                        .col-4.mt-40.col-sm-12.mt-sm-20.col-md-6.col-lg-6
                            a.item.item_link(href="#") Аутсорсинг по охране труда
                        .col-4.mt-40.col-sm-12.mt-sm-20.col-md-6.col-lg-6
                            a.item.item_link(href="#") Расследование несчастных случаев
                        .col-4.mt-40.col-sm-12.mt-sm-20.col-md-6.col-lg-6
                            a.item.item_link(href="#") Лицензирование и сертификация
                        .col-4.mt-40.col-sm-12.mt-sm-20.col-md-6.col-lg-6
                            a.item.item_link(href="#") Судебное представительство и правовой анализ документов
                        .col-4.mt-40.col-sm-12.mt-sm-20.col-md-6.col-lg-6
                            a.item.item_link(href="#") Помощь при вступлении в СРО  и подготовке специалистов
                        .col-4.mt-40.col-sm-12.mt-sm-20.col-md-6.col-lg-6
                            a.item.item_link(href="#") Разработка документов по охране труда (СУОТ)
                        .col-4.mt-40.col-sm-12.mt-sm-20.col-md-6.col-lg-6
                            a.item.item_link(href="#") Специальная оценка условий труда (СОУТ)
                        .col-4.mt-40.col-sm-12.mt-sm-20.col-md-6.col-lg-6
                            a.item.item_link(href="#") Помощь при проверках надзорных органов 
            section.bg_light-blue.pt-60.pb-60
                .container
                    h2.h4.text-bold.text-center.text-sm-left Программы центра обучения
                    .row.mt-0.justify-content-center
                        .col-6.mt-40.col-sm-12.col-md-11
                            .item.item_programm
                                .item_programm__content
                                    p.item__title Курсы первой помощи для руководителей и&nbsp;сотрудников
                                    ul.list.list_square
                                        li.list__item Строительство
                                        li.list__item Проектирование
                                        li.list__item Инженерные изыскания
                                .item_programm__footer
                                    .info-group
                                        .info
                                            .info__label Действие документов
                                            .info__content 5 лет
                                        .info
                                            .info__label Стоимость обучения
                                            .info__content.info__content_rub 2 990
                                    .btn-group
                                        a.btn.btn_default(href="#") Узнать больше
                                        a.btn.btn_primary(href="#") Оставить заявку
                        .col-6.mt-40.col-sm-12.mt-sm-20.col-md-11
                            .item.item_programm
                                .item_programm__content
                                    p.item__title Курсы повышения квалификации
                                    ul.list.list_square
                                        li.list__item Строительство
                                        li.list__item Проектирование
                                        li.list__item Инженерные изыскания
                                .item_programm__footer
                                    .info-group
                                        .info
                                            .info__label Действие документов
                                            .info__content 5 лет
                                        .info
                                            .info__label Стоимость обучения
                                            .info__content.info__content_rub 2 990
                                    .btn-group
                                        a.btn.btn_default(href="#") Узнать больше
                                        a.btn.btn_primary(href="#") Оставить заявку
                        .col-6.mt-40.col-sm-12.mt-sm-20.col-md-11
                            .item.item_programm
                                .item_programm__content
                                    p.item__title Курсы повышения квалификации
                                    ul.list.list_square
                                        li.list__item Строительство
                                        li.list__item Проектирование
                                        li.list__item Инженерные изыскания
                                .item_programm__footer
                                    .info-group
                                        .info
                                            .info__label Действие документов
                                            .info__content 5 лет
                                        .info
                                            .info__label Стоимость обучения
                                            .info__content.info__content_rub 2 990
                                    .btn-group
                                        a.btn.btn_default(href="#") Узнать больше
                                        a.btn.btn_primary(href="#") Оставить заявку
                        .col-6.mt-40.col-sm-12.mt-sm-20.col-md-11
                            .item.item_programm
                                .item_programm__content
                                    p.item__title Пожарно-технический минимум
                                    ul.list.list_square
                                        li.list__item Пожарно-технический минимум для руководителей лиц, ответственных за пожарную безопасность пожароопасных производств
                                        li.list__item Пожарно-технический минимум для электрогазосварщиков
                                .item_programm__footer
                                    .info-group
                                        .info
                                            .info__label Действие документов
                                            .info__content 5 лет
                                        .info
                                            .info__label Стоимость обучения
                                            .info__content.info__content_rub 2 990
                                    .btn-group
                                        a.btn.btn_default(href="#") Узнать больше
                                        a.btn.btn_primary(href="#") Оставить заявку
                        .col-12.mt-20.text-center
                            a.text-bold(href="#") Все образовательные программы
            section.pt-60.pb-60.pt-md-40.pb-md-40
                .container
                    .row.justify-content-center
                        .col-4.col-md-12.mb-sm-20.mb-lg-40.col-lg-8.col-xl-5
                            .item.item_work
                                p.h3.text-bold.item__title Порядок работы
                                ul.list.list_work
                                    li.list__item Оставьте заявку
                                    li.list__item Выберите удобный формат изучения
                                    li.list__item Получите документы и&nbsp;обучающие материалы не&nbsp;выходя из&nbsp;офиса
                        .col-8.col-md-12.col-lg-8.col-xl-7
                            .row
                                .col-6.mb-40.col-sm-12.mb-sm-20.col-md-6.col-lg-12
                                    .item.item_sale.item_sale-1.bg_blue1
                                        p.item__title Акция «Приведи&nbsp;друга»
                                        p.item__offer Скидка 10% на следующие заказы
                                .col-6.mb-40.col-sm-12.mb-sm-20.col-md-6.col-lg-12
                                    .item.item_sale.item_sale-2.bg_blue2
                                        p.item__title Бесплатная доставка
                                        p.item__offer Доставка документов по СПб
                                .col-12.col-sm-12.col-md-12.col-lg-12
                                    .item.item_sale.item_sale-3.bg_blue3
                                        p.item__title.item__title_lead Акция «Договор на&nbsp;год»
                                        p.item__offer Скидка 10% при заключении договора на год
                        .col-12.mt-40
                            .item.item_logo
                                .item__image(style="background-image:url('../img/2020/demo-logo-1.jpg');")
                                .item__image(style="background-image:url('../img/2020/demo-logo-2.jpg');")
                                .item__image(style="background-image:url('../img/2020/demo-logo-3.jpg');")
                                .item__image(style="background-image:url('../img/2020/demo-logo-1.jpg');")
                                .item__image(style="background-image:url('../img/2020/demo-logo-2.jpg');")
                                .item__image(style="background-image:url('../img/2020/demo-logo-3.jpg');")
                                .item__image(style="background-image:url('../img/2020/demo-logo-1.jpg');")
                                .item__image(style="background-image:url('../img/2020/demo-logo-2.jpg');")
                                .item__image(style="background-image:url('../img/2020/demo-logo-3.jpg');")
                                .item__image(style="background-image:url('../img/2020/demo-logo-1.jpg');")
            section.bg_light-blue.pt-60.pb-60
                .container
                    .slider.slider_reviews
                        .slider__item
                            .item.item_review
                                .item_review__title(style="background-image:url('../img/2020/demo-logo.png');") Трест СЗЭМ | 18 июля
                                p.item__content Компания ЗАО "ТРЕСТ СЗЭМ" благодарит учебный центр "Северный Путь" за организацию обучения персонала.
                        .slider__item
                            .item.item_review
                                .item_review__title(style="background-image:url('../img/2020/demo-logo.png');") Трест СЗЭМ | 18 июля
                                p.item__content Компания ЗАО "ТРЕСТ СЗЭМ" благодарит учебный центр "Северный Путь" за организацию обучения персонала.
                        .slider__item
                            .item.item_review
                                .item_review__title(style="background-image:url('../img/2020/demo-logo.png');") Трест СЗЭМ | 18 июля
                                p.item__content Компания ЗАО "ТРЕСТ СЗЭМ" благодарит учебный центр "Северный Путь" за организацию обучения персонала.
                        .slider__item
                            .item.item_review
                                .item_review__title(style="background-image:url('../img/2020/demo-logo.png');") Трест СЗЭМ | 18 июля
                                p.item__content Компания ЗАО "ТРЕСТ СЗЭМ" благодарит учебный центр "Северный Путь" за организацию обучения персонала.
                        .slider__item
                            .item.item_review
                                .item_review__title(style="background-image:url('../img/2020/demo-logo.png');") Трест СЗЭМ | 18 июля
                                p.item__content Компания ЗАО "ТРЕСТ СЗЭМ" благодарит учебный центр "Северный Путь" за организацию обучения персонала.
            aside.pt-80.pb-80.pt-md-40.pb-md-40
                .container
                    p.h4.text-bold.mb-0 Новости центра обучения
                    .row.mt-0
                        .col-4.mt-40.news.col-sm-12
                            p.news__date 29.12.2019
                            a.news__title.news__title_link(href="#") Минтруд разработал правила охраны труда для&nbsp;охранников
                        .col-4.mt-40.news.col-sm-12.mt-sm-20
                            p.news__date 29.12.2019
                            a.news__title.news__title_link(href="#") Новые разъяснения судебной практики по&nbsp;уголовным делам о&nbsp;нарушениях требований охраны труда: 
                                | на&nbsp;что обращать внимание судам?
                        .col-4.mt-40.news.col-sm-12.mt-sm-20
                            p.news__date 29.12.2019
                            a.news__title.news__title_link(href="#") В&nbsp;ТК&nbsp;РФ хотят уточнить, куда могут беспрепятственно приходить инспекторы 
                                | по&nbsp;охране труда
                        .col-12.mt-80.mt-lg-40
                            .cta-block
                                .cta-block__content
                                    p.cta-block__title Свяжитесь с&nbsp;нами
                                    p.cta-block__offer Специалисты учебного центра оперативно ответят на&nbsp;любые ваши вопросы
                                .cta-block__form
                                    form.form.form_cta(action="")
                                        .form__group
                                            input.form-input(type="text" placeholder="Мобильный телефон *")
                                            button.btn.btn_primary Оставить заявку
                                        .form__agree.checkbox
                                            input.checkbox__input(type="checkbox" name="agree" checked="checked" required="required")
                                            label.checkbox__label(for="agree") Я согласен с 
                                                a.checkbox__link(href="/assets/files/documents/policy.pdf" target="_blank") правилами использования сайта
        include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        
        script(src="./js/slick.min.js")
        link(href='./css/slick.css', rel='stylesheet')
        link(href='./css/slick-theme.css', rel='stylesheet')

        script(src="./js/iziModal.min.js")
        link(href='./css/iziModal.min.css', rel='stylesheet')

        script(src="./js/app.min.js")