html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document2

        link(href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:300,400,600,700', rel='stylesheet')
        link(href='./css/style.css', rel='stylesheet')
        link(href='./css/index.css', rel='stylesheet')

    body
        script(src="./js/jquery.min.js")
        include chunks/header.pug
        section.slider.slider_new-dots#sliderIndex
            .slider__item.slider__item_with-content(style="background-image: url('../img/slider/slide_1.jpg')")
                .slider__content
                    p.slider__title Полная консультационная поддержка
                    .line
                    p.slider__offer Команда экспертов поможет Вам разобраться в сложных ситуациях
            .slider__item.slider__item_with-content(style="background-image: url('../img/slider/slide_2.jpg')")
                .slider__content
                    p.slider__title Вместе выгоднее
                    .line
                    p.slider__offer Приведи друга и получи скидку 10% при следующем заказе
            .slider__item.slider__item_with-content(style="background-image: url('../img/slider/slide_3.jpg')")
                .slider__content
                    p.slider__title Бесплатная доставка
                    .line
                    p.slider__offer Документы на дом или в офис
        section.content.bg-white
            .container.container_inside.text-center
                h1.content__title.text-semibold Центр обучения Северный Путь
                p Центр обучения «Северный Путь» приветствует Вас! Что для Вас важно при выборе партнера по обучению? 
                    | Надёжность? Скорость? Легитимность? Цена? Персональный подход?
                    | Всё это Вы найдёте в нашей компании!
                p Центр обучения «Северный Путь» — это команда профессионалов, которая решит все задачи в области охраны труда, разрешительной документации, а также лицензирования. В это время Вы сможете сосредоточиться на самом главном – Вашей деятельности!
                p С помощью нашего центра обучения Вы в максимально короткие сроки сможете решить любые вопросы, начиная от обучения по пожарно-техническому минимуму, заканчивая экспертизой с последующей разработкой и внедрением системы охраны труда.
        aside.content.license.license_with-bg
            .container
                p.content__title.text-center Лицензии и аккредитации
                p.content__offer.text-center Северный Путь является аккредитованным учебным центром 
                    | и имеет всю необходимую документацию для ведения 
                    | образовательной деятельности. Здесь вы можете ознакомиться 
                    | с лицензиями и разрешениями компании:
                .slider.slider_with-arrow.license-slider#license
                    .license-slider__item(data-izimodal-open="#license-1" data-izimodal-transitionin="fadeInUp" data-izimodal-title="Лицензия на осуществление образовательной деятельности(обратная сторона)" data-izimodal-group="license")
                        img(src="./img/lic.png")
                    .license-slider__item(data-izimodal-open="#license-2" data-izimodal-transitionin="fadeInUp" data-izimodal-title="Лицензия на осуществление образовательной деятельности(обратная сторона)" data-izimodal-group="license")
                        img(src="./img/lic.png")
                    .license-slider__item(data-izimodal-open="#license-3" data-izimodal-transitionin="fadeInUp" data-izimodal-title="Лицензия на осуществление образовательной деятельности(обратная сторона)" data-izimodal-group="license")
                        img(src="./img/lic.png")
                    .license-slider__item(data-izimodal-open="#license-4" data-izimodal-transitionin="fadeInUp" data-izimodal-title="Лицензия на осуществление образовательной деятельности(обратная сторона)" data-izimodal-group="license")
                        img(src="./img/lic.png")
                    .license-slider__item(data-izimodal-open="#license-5" data-izimodal-transitionin="fadeInUp" data-izimodal-title="Лицензия на осуществление образовательной деятельности(обратная сторона)" data-izimodal-group="license")
                        img(src="./img/lic.png")
                    .license-slider__item(data-izimodal-open="#license-6" data-izimodal-transitionin="fadeInUp" data-izimodal-title="Лицензия на осуществление образовательной деятельности(обратная сторона)" data-izimodal-group="license")
                        img(src="./img/lic.png")
        section.content.content_advantage.content_advantage-index
            .container
                p.content__title.text-center Преимущества
                .row
                    .col-sm-12.col-md-6.col-lg-4.col-3
                        .item.item__with-offer
                            .item__icon.format
                            .item__title Без отрыва
                            .item__line 
                            .item__offer Очное и дистанционное обучение без отрыва от рабочего процесса.
                    .col-sm-12.col-md-6.col-lg-4.col-3
                        .item.item__with-offer
                            .item__icon.law
                            .item__title Аккредитованный УЦ
                            .item__line
                            .item__offer Получайте удостоверения и&nbsp;документы в&nbsp;соответствии с&nbsp;Законодательством РФ.
                    .col-sm-12.col-md-6.col-lg-4.col-3
                        .item.item__with-offer
                            .item__icon.insurance
                            .item__title 100% результат
                            .item__line 
                            .item__offer Гарантия быстрого получения документов, необходимых для ведения деятельности.
                    .col-sm-12.col-md-6.col-lg-4.col-3
                        .item.item__with-offer
                            .item__icon(style='background-image: url("./img/icon/icon_delivery.svg");')
                            .item__title Доставка документов
                            .item__line
                            .item__offer Получайте документы на&nbsp;руки на&nbsp;следующий день. Доставка по&nbsp;СПб бесплатно.
                    .col-sm-12.col-md-6.col-lg-4.col-3
                        .item.item__with-offer
                            .item__icon.money-light
                            .item__title Работа без штрафов
                            .item__line
                            .item__offer Сэкономьте в среднем до 250 000 руб. на штрафах и санкциях.
                    .col-sm-12.col-md-6.col-lg-4.col-3
                        .item.item__with-offer
                            .item__icon.clients
                            .item__title > 500 программ
                            .item__line
                            .item__offer Обучение для руководителей, специалистов и рабочих с разным уровнем подготовки.
                    .col-sm-12.col-md-6.col-lg-4.col-3
                        .item.item__with-offer
                            .item__icon.lecture
                            .item__title Преподаватели практики
                            .item__line
                            .item__offer Практический подход в решении вопросов, связанных с законностью деятельности.
                    .col-sm-12.col-md-6.col-lg-4.col-3
                        .item.item__with-offer
                            .item__icon.question
                            .item__title Консультации
                            .item__line
                            .item__offer Специалисты-практики помогут разобраться в сложных рабочих ситуациях.
        aside.content.content_sale
            .container.container_inside
                .content__title Акции учебного центра
                .row
                    .col
                        .item
                            .item__icon.united
                            .item__title Приведи друга
                            .item__line
                            .item__offer Скидка 10% на&nbsp;следующие&nbsp;заказы
                    .col
                        .item
                            .item__icon.free-delivery
                            .item__title Бесплатная доставка
                            .item__line
                            .item__offer Доставка документов по&nbsp;Санкт-Петербургу
                    .col
                        .item
                            .item__icon.contract
                            .item__title Договор на год
                            .item__line
                            .item__offer При заключении договора на&nbsp;год — скидка&nbsp;10%
        section.content.bg_blue-gradient
            .container.container_inside
                h2.text-center
                    a.content__title(href="#") Программы центра обучения
                .row
                    .col-6.col-md-12.preview-page
                        .preview-page__content
                            .preview-page__title Обучение по электробезопасности
                            .preview-page__list
                                a.preview-page__item(href="#") Аттестация персонала по электробезопасности II, III, IV группа допуска, до 1000В
                                a.preview-page__item(href="#") Аттестация персонала по электробезопасности  III, IV, V группа допуска, до и выше 1000В
                                a.preview-page__item(href="#") Аттестация персонала по электробезопасности  III, IV, V группа допуска, до и выше 1000В
                        .preview-page__footer
                            .preview-page__programm
                                ul.list-info.list-info_inline
                                    li.list-item.list-item_time.list-item_white
                                        span.list-item__name Действие документов
                                        span.list-item__content 3 года / 5 лет
                                    li.list-item.list-item_price.list-item_white
                                        span.list-item__name Стоимость
                                        span.list-item__content 3240 руб.
                            .btn-group
                                a.btn.btn_gold.btn_with-arrow Подробнее
                                a.btn.btn_primary(href="#" data-izimodal-open="#callback1" data-izimodal-transitionin="fadeInDown" data-title="Обучение по электробезопасности") Оставить заявку
                    .col-6.col-md-12.preview-page
                        .preview-page__content
                            .preview-page__title Курсы профессиональной переподготовки
                            ul
                                li Охрана труда
                                li Охрана труда
                                li Охрана труда
                        .preview-page__footer
                            .preview-page__programm
                                    ul.list-info.list-info_inline
                                        li.list-item.list-item_time.list-item_white
                                            span.list-item__name Действие документов
                                            span.list-item__content 3 года / 5 лет
                                        li.list-item.list-item_price.list-item_white
                                            span.list-item__name Стоимость
                                            span.list-item__content 3240 руб.
                            .btn-group
                                a.btn.btn_gold.btn_with-arrow Подробнее
                                a.btn.btn_primary(href="#" data-izimodal-open="#callback1" data-izimodal-transitionin="fadeInDown" data-title="Курсы профессиональной переподготовки") Оставить заявку
                .text-center.mt-60
                    a.btn.btn_primary.btn_large(href="#") Все 
                        span.d-sm-none образовательные 
                        | программы
        section.content.news.bg-white
            .container
                p.content__title.text-center Новости
                .row
                    .col-4.col-sm-12.news__column
                        .news__date 14.09.2019
                        a.news__title(href="#") Минэкономразвития России разработало проект комплексного закона о государственном контроле и муниципальном контроле
                        a.btn.btn_primary.btn_with-arrow(href="#") Подробнее
                    .col-4.col-sm-12.news__column
                        .news__date 14.09.2019
                        a.news__title(href="#") Минэкономразвития России разработало проект комплексного закона о государственном контроле и муниципальном контроле
                        a.btn.btn_primary.btn_with-arrow(href="#") Подробнее
                    .col-4.col-sm-12.news__column
                        .news__date 14.09.2019
                        a.news__title(href="#") Минэкономразвития России разработало проект комплексного закона о государственном контроле и муниципальном контроле
                        a.btn.btn_primary.btn_with-arrow(href="#") Подробнее
        section.content.review
            .container
                p.text-center.content__title Отзывы об учебном центре
                .slider.slider_with-arrow.reviews-slider
                    .review__item
                        .review__img
                        .review__content
                            p.review__info ЗАО "ЛСМУ СЗЭМ"
                                span.sep |
                                span 9 июля
                            p.review__intro ЗАО "ЛСМУ СЗЭМ" выражает свою признательность учебному центру за качественно оказанные услуги в направлении… 
                            a.review__link(href="#") Полный отзыв
                    .review__item
                        .review__img
                        .review__content
                            p.review__info ЗАО "ЛСМУ СЗЭМ"
                                span.sep |
                                span 10 июля
                            p.review__intro ЗАО "ЛСМУ СЗЭМ" выражает свою признательность учебному центру за качественно оказанные услуги в направлении… 
                            a.review__link(href="#") Полный отзыв
                    .review__item
                        .review__img
                        .review__content
                            p.review__info ЗАО "ЛСМУ СЗЭМ"
                                span.sep |
                                span 11 июля
                            p.review__intro ЗАО "ЛСМУ СЗЭМ" выражает свою признательность учебному центру за качественно оказанные услуги в направлении… 
                            a.review__link(href="#") Полный отзыв
                    .review__item
                        .review__img
                        .review__content
                            p.review__info ЗАО "ЛСМУ СЗЭМ"
                                span.sep |
                                span 12 июля
                            p.review__intro ЗАО "ЛСМУ СЗЭМ" выражает свою признательность учебному центру за качественно оказанные услуги в направлении… 
                            a.review__link(href="#") Полный отзыв
        section.content
            .container
                .cta-wrap.mt-0
                    .cta-wrap__title.white Оставьте заявку, и наши специалисты оперативно ответят на любые вопросы
                    form.cta-wrap__form(action="#", method="POST")
                        input.input.phone(type="text" placeholder="8 ( ___ ) ___ - __ - __ ")
                        button.btn(type="submit") Перезвонить
        include chunks/footer.pug
        .modal.modal_default.modal-callback#callback1(data-iziModal-fullscreen="true")
            .modal__content
                p.s-title Программа обучения
                p.title.text-gold
                form.form.form-1.ajax_form(method="post" name="callbackService")
                    input(type="text" name="title" value="" class="hidden h-title")
                    p Укажите способ связи с Вами, и наши сотрудники оформят заявку на программу обучения.
                    p.form__label.mt-30 Электронная почта:
                    input.form__input.email(type="email" name="email" autocomplete="off" placeholder="Введите ваш e-mail")
                    p.form__label Телефон для связи:
                    input.form__input.phone(placeholder="8 ( ___ ) ___ - __ - __")
                    .form__agree.checkbox.mt-30
                        input.checkbox__input(type="checkbox" name="agree" checked="checked" required="required")
                        label.checkbox__label(for="agree") Я согласен с 
                            a.checkbox__link(href="/assets/files/documents/policy.pdf" target="_blank") правилами использования сайта
                    button.btn.btn_large.btn_modal.btn_primary Оставить заявку
                a(href="" data-izimodal-close="data-izimodal-close")
                    span.modal__close Закрыть
        .modal.modal_default.modal-license#license-1
            .modal__content.text-center
                .modal__img(style="background: url('https://uc-sp.ru/assets/cache_image/license/Лицензия1_1200x600_61c.png') no-repeat center / cover;")
                p Лицензия на осуществление образовательной деятельности(обратная сторона)
                p 
                    a(href="assets/images/license/Лицензия2.png" target="_blank") Полная версия
        script(src="./js/jquery.inputmask.js")

        script(src="./js/slick.min.js")
        link(href='./css/slick.css', rel='stylesheet')
        link(href='./css/slick-theme.css', rel='stylesheet')

        script(src="./js/iziModal.min.js")
        link(href='./css/iziModal.min.css', rel='stylesheet')

        script(src="./js/app.min.js")