html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Расследование несчастных случаев на производстве

        link(href='./css/style.css', rel='stylesheet')
        link(href='./css/ancillary-page.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/header.pug

        section.content.content_header
            .container
                ul.content__breadcrumbs
                    li.content__breadcrumbs__item
                        a.content__breadcrumbs__link(href="#") Главная
                    li.content__breadcrumbs__item
                        a.content__breadcrumbs__link(href="#") Служба охраны труда
                    li.content__breadcrumbs__item
                        span.content__breadcrumbs__span Расследование несчастных случаев на производстве
                h1.content__title Расследование несчастных случаев на производстве
                p.lead Центр профессионального обучения «Северный Путь» является аккредитованной организацией, 
                    | оказывающей услуги в области охраны труда и предоставляет максимально выгодные и надёжные 
                    | условия взаимодействия в направлении аутсорсинга по охране труда. Работая по принципу 
                    | единого окна.
        aside.content.content_advantage.bg-white
            .container
                .content__title.text-center.mb-60.mb-md-30 Наши преимущества
                .row.justify-content-center
                    .col.col-sm-6.col-md-5.col-lg-4.mb-lg-30
                        .item
                            .item__icon.question
                            .item__title Огромный опыт решения сложных вопросов
                    .col.col-sm-6.col-md-5.col-lg-4.mb-lg-30
                        .item
                            .item__icon.delivery-car
                            .item__title Выезды специалистов к&nbsp;Вам на&nbsp;место
                    .col.col-sm-6.col-md-5.col-lg-4.mb-lg-30
                        .item
                            .item__icon.clients
                            .item__title Индивидуальный подход к&nbsp;каждому клиенту
                    .col.col-sm-6.col-md-5.col-lg-4.mb-md-30
                        .item
                            .item__icon.consultation
                            .item__title Консультационная поддержка
                    .col.col-sm-6.col-md-5.col-lg-4
                        .item
                            .item__icon.format
                            .item__title Работаем в&nbsp;формате единого окна
        section.content
            .container
                h2.content__title.text-bold.text-lg-center Услуги
                .row.justify-content-center
                    .col-6.col-lg-7.col-md-12.mb-lg-30.d-flex
                        a.service.bg-white
                            .service__image(style="background-image:url('/img/program/1.jpg');")
                            .service__title Сопровождение до момента закрытия расследования по несчастному случаю
                    .col-6.col-lg-7.col-md-12.mb-lg-30.d-flex
                        a.service.bg-white
                            .service__image(style="background-image:url('/img/program/2.jpg');")
                            .service__title Консультации по вопросам несчастных случаев
                    .col-6.col-lg-7.col-md-12.mb-lg-30.d-flex
                        a.service.bg-white
                            .service__image(style="background-image:url('/img/program/3.jpg');")
                            .service__title Разработка первичного пакета документов для прохождения проверок
                    .col-6.col-lg-7.col-md-12.mb-lg-30.d-flex
                        a.service.bg-white
                            .service__image(style="background-image:url('/img/program/4.jpg');")
                            .service__title Приведение документации организации в соответствующий законодательству вид
                    .col-6.col-lg-7.col-md-12.mb-lg-30.d-flex
                        a.service.bg-white
                            .service__image(style="background-image:url('/img/program/5.jpg');")
                            .service__title Представление интересов организации в суде
                    .col-6.col-lg-7.col-md-12.d-flex
                        a.service.bg-white
                            .service__image(style="background-image:url('/img/program/6.jpg');")
                            .service__title Первичный аудит
                .cta-wrap
                    .cta-wrap__title.white Оставьте заявку, и наши специалисты оперативно ответят на любые вопросы
                    form.cta-wrap__form(action="#", method="POST")
                        input.input.phone(type="text" placeholder="8 ( ___ ) ___ - __ - __ ")
                        button.btn(type="submit") Перезвонить
        aside.content.content_sale
            .container.container_inside
                .content__title Акции учебного центра
                .row
                    .col
                        .item
                            .item__icon.united
                            .item__title Приведи друга
                            .item__line
                            .item__offer Скидка 10% на&nbsp;следующие&nbsp;заказы
                    .col
                        .item
                            .item__icon.free-delivery
                            .item__title Бесплатная доставка
                            .item__line
                            .item__offer Доставка документов по&nbsp;Санкт-Петербургу
                    .col
                        .item
                            .item__icon.contract
                            .item__title Договор на год
                            .item__line
                            .item__offer При заключении договора на&nbsp;год — скидка&nbsp;10%
        section.content.content_seo
            .container
                h2 Заголовок h2
                p «Северный Путь» является аккредитованной организацией, оказывающей услуги в области охраны труда и предоставляет максимально выгодные и надёжные условия взаимодействия в направлении аутсорсинга по охране труда. Работая по принципу единого окна, Вы сможете получить в нашем лице надёжного партнера в направлении охраны труда, обучения персонала, а также помощь в организации процессов медосмотров сотрудников и аттестации рабочих мест.
                h3 Заголовок h3
                p Центр профессионального обучения «Северный Путь» является аккредитованной организацией, оказывающей услуги в области охраны труда и предоставляет максимально выгодные и надёжные условия взаимодействия в направлении аутсорсинга по охране труда. Работая по принципу единого окна, Вы сможете получить в нашем лице надёжного партнера в направлении охраны труда, обучения персонала, а также помощь в организации процессов медосмотров сотрудников и аттестации рабочих мест.
                ol
                    li аккредитованной организацией
                    li аккредитованной организацией
                    li аккредитованной организацией
                    li аккредитованной организацией
                h4 Заголовок h4
                p Центр профессионального обучения «Северный Путь» является аккредитованной организацией, оказывающей услуги в области охраны труда и предоставляет максимально выгодные и надёжные условия взаимодействия в направлении аутсорсинга по охране труда. Работая по принципу единого окна, Вы сможете получить в нашем лице надёжного партнера в направлении охраны труда, обучения персонала, а также помощь в организации процессов медосмотров сотрудников и аттестации рабочих мест.
                h5 Заголовок h5
                p Центр профессионального обучения «Северный Путь» является аккредитованной организацией, оказывающей 
                    | услуги в области охраны труда и предоставляет максимально выгодные и надёжные условия 
                    | взаимодействия в направлении аутсорсинга по охране труда. Работая по принципу единого окна, 
                h6 Заголовок h6
                ul 
                    li Центр профессионального обучения «Северный Путь» является аккредитованной организацией, 
                    li оказывающей услуги в области охраны труда и предоставляет максимально выгодные 
                    li и надёжные условия взаимодействия в направлении аутсорсинга по охране труда. 
                    li Работая по принципу единого окна, Вы сможете получить в нашем лице надёжного партнера 
        include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        script(src="./js/app.min.js")