html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Служба охраны труда

        link(href='./css/style.css', rel='stylesheet')
        link(href='./css/ancillary-page.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/header.pug

        section.content.content_header
            .container
                ul.content__breadcrumbs
                    li.content__breadcrumbs__item
                        a.content__breadcrumbs__link(href="#") Главная
                    li.content__breadcrumbs__item
                        span.content__breadcrumbs__span Служба охраны труда
                h1.content__title Служба охраны труда
                p Центр профессионального обучения «Северный Путь» является аккредитованной организацией, 
                    | оказывающей услуги в области охраны труда и предоставляет максимально выгодные и надёжные 
                    | условия взаимодействия в направлении аутсорсинга по охране труда. Работая по принципу 
                    | единого окна, Вы сможете получить в нашем лице надёжного партнера в направлении охраны труда, 
                    | обучения персонала, а также помощь в организации процессов медосмотров сотрудников и 
                    | аттестации рабочих мест.    
        .content.content_catalog
            .container
                .content__title Перечень услуг
                .row
                    article.col-6.col-md-12
                        a.product(href="#" style="background-image: url('./img/program/1.jpg');")
                            .product__title.product__title_without-price
                                .product__name Аутсорсинг по охране труда
                    article.col-6.col-md-12.mt-md-30
                        a.product(href="#" style="background-image: url('./img/program/2.jpg');")
                            .product__title.product__title_without-price
                                .product__name Разработка пакета документов по охране труда (СУОТ)
                    article.col-6.col-md-12.mt-30
                        a.product(href="#" style="background-image: url('./img/program/3.jpg');")
                            .product__title.product__title_without-price
                                .product__name Расследование несчастных случаев на производстве
                    article.col-6.col-md-12.mt-30
                        a.product(href="#" style="background-image: url('./img/program/4.jpg');")
                            .product__title.product__title_without-price
                                .product__name Помощь при проверках надзорных органов
        aside.content.content_advantage.bg-white
            .container
                .content__title.text-center.mb-60.mb-md-30 Наши преимущества
                .row.justify-content-center
                    .col.col-sm-6.col-md-5.col-lg-4.mb-lg-30
                        .item
                            .item__icon.question
                            .item__title Огромный опыт решения сложных вопросов
                    .col.col-sm-6.col-md-5.col-lg-4.mb-lg-30
                        .item
                            .item__icon.delivery-car
                            .item__title Выезды специалистов к&nbsp;Вам на&nbsp;место
                    .col.col-sm-6.col-md-5.col-lg-4.mb-lg-30
                        .item
                            .item__icon.clients
                            .item__title Индивидуальный подход к&nbsp;каждому клиенту
                    .col.col-sm-6.col-md-5.col-lg-4.mb-md-30
                        .item
                            .item__icon.consultation
                            .item__title Консультационная поддержка
                    .col.col-sm-6.col-md-5.col-lg-4
                        .item
                            .item__icon.format
                            .item__title Работаем в&nbsp;формате единого окна
                .cta-wrap
                    .cta-wrap__title.white Оставьте заявку, и наши специалисты оперативно ответят на любые вопросы
                    form.cta-wrap__form(action="#", method="POST")
                        input.input.phone(type="text" placeholder="8 ( ___ ) ___ - __ - __ ")
                        button.btn(type="submit") Перезвонить
        section.content.content_seo
            .container
                h2 Заголовок h2
                p «Северный Путь» является аккредитованной организацией, оказывающей услуги в области охраны труда и предоставляет максимально выгодные и надёжные условия взаимодействия в направлении аутсорсинга по охране труда. Работая по принципу единого окна, Вы сможете получить в нашем лице надёжного партнера в направлении охраны труда, обучения персонала, а также помощь в организации процессов медосмотров сотрудников и аттестации рабочих мест.
                p Центр профессионального обучения «Северный Путь» является аккредитованной организацией, оказывающей услуги в области охраны труда и предоставляет максимально выгодные и надёжные условия взаимодействия в направлении аутсорсинга по охране труда. Работая по принципу единого окна, Вы сможете получить в нашем лице надёжного партнера в направлении охраны труда, обучения персонала, а также помощь в организации процессов медосмотров сотрудников и аттестации рабочих мест.
                h3 Заголовок h3
                p Центр профессионального обучения «Северный Путь» является аккредитованной организацией, оказывающей услуги в области охраны труда и предоставляет максимально выгодные и надёжные условия взаимодействия в направлении аутсорсинга по охране труда. Работая по принципу единого окна, Вы сможете получить в нашем лице надёжного партнера в направлении охраны труда, обучения персонала, а также помощь в организации процессов медосмотров сотрудников и аттестации рабочих мест.
                ol
                    li аккредитованной организацией
                    li аккредитованной организацией
                    li аккредитованной организацией
                    li аккредитованной организацией
                h4 Заголовок h4
                p Центр профессионального обучения «Северный Путь» является аккредитованной организацией, оказывающей услуги в области охраны труда и предоставляет максимально выгодные и надёжные условия взаимодействия в направлении аутсорсинга по охране труда. Работая по принципу единого окна, Вы сможете получить в нашем лице надёжного партнера в направлении охраны труда, обучения персонала, а также помощь в организации процессов медосмотров сотрудников и аттестации рабочих мест. Центр профессионального обучения «Северный Путь» является аккредитованной организацией, оказывающей услуги в области охраны труда и предоставляет максимально выгодные и надёжные условия взаимодействия в направлении аутсорсинга по охране труда. Работая по принципу единого окна, Вы сможете получить в нашем лице надёжного партнера в направлении охраны труда, обучения персонала, а также помощь в организации процессов медосмотров сотрудников и аттестации рабочих мест.
                h5 Заголовок h5
                p Центр профессионального обучения «Северный Путь» является аккредитованной организацией, оказывающей 
                    | услуги в области охраны труда и предоставляет максимально выгодные и надёжные условия 
                    | взаимодействия в направлении аутсорсинга по охране труда. Работая по принципу единого окна, 
                    | Вы сможете получить в нашем лице надёжного партнера в направлении охраны труда, обучения персонала, 
                    | a также помощь в организации процессов медосмотров сотрудников и аттестации рабочих мест. 
                h6 Заголовок h6
                ul 
                    li Центр профессионального обучения «Северный Путь» является аккредитованной организацией, 
                    li оказывающей услуги в области охраны труда и предоставляет максимально выгодные 
                    li и надёжные условия взаимодействия в направлении аутсорсинга по охране труда. 
                    li Работая по принципу единого окна, Вы сможете получить в нашем лице надёжного партнера 
        include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        script(src="./js/app.min.js")