html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Специальная оценка условий труда

        link(href='./css/style.css', rel='stylesheet')
        link(href='./css/ancillary-page.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/header.pug

        section.content.content_header
            .container
                ul.content__breadcrumbs
                    li.content__breadcrumbs__item
                        a.content__breadcrumbs__link(href="#") Главная
                    li.content__breadcrumbs__item
                        a.content__breadcrumbs__link(href="#") Служба охраны труда
                    li.content__breadcrumbs__item
                        span.content__breadcrumbs__span Специальная оценка условий труда
                h1.content__title Специальная оценка условий труда
                .row
                    .col-6.col-md-12.mb-md-30
                        p Центр профессионального обучения «Северный Путь» является аккредитованной организацией, 
                            | оказывающей услуги в области охраны труда и предоставляет максимально выгодные и надёжные 
                            | условия взаимодействия в направлении аутсорсинга по охране труда. Работая по принципу 
                            | единого окна.
                    .col-6.col-md-12
                        p Вы сможете получить в нашем лице надёжного партнера в направлении охраны труда, 
                            | обучения персонала, а также помощь в организации процессов медосмотров.
                        p
                            a.btn.btn_primary Рассчитать стоимость
        aside.content.content_advantage.bg-white
            .container
                .content__title.text-center.mb-60.mb-md-30 Наши преимущества
                .row.justify-content-center
                    .col.col-sm-6.col-md-5.col-lg-4.mb-lg-30
                        .item
                            .item__icon.question
                            .item__title Огромный опыт решения сложных вопросов
                    .col.col-sm-6.col-md-5.col-lg-4.mb-lg-30
                        .item
                            .item__icon.delivery-car
                            .item__title Выезды специалистов к&nbsp;Вам на&nbsp;место
                    .col.col-sm-6.col-md-5.col-lg-4.mb-lg-30
                        .item
                            .item__icon.clients
                            .item__title Индивидуальный подход к&nbsp;каждому клиенту
                    .col.col-sm-6.col-md-5.col-lg-4.mb-md-30
                        .item
                            .item__icon.consultation
                            .item__title Консультационная поддержка
                    .col.col-sm-6.col-md-5.col-lg-4
                        .item
                            .item__icon.format
                            .item__title Работаем в&nbsp;формате единого окна
                .cta-wrap
                    .cta-wrap__title.white Оставьте заявку, и наши специалисты оперативно ответят на любые вопросы
                    form.cta-wrap__form(action="#", method="POST")
                        input.input.phone(type="text" placeholder="8 ( ___ ) ___ - __ - __ ")
                        button.btn(type="submit") Перезвонить
        section.content.bg-light
            .container
                .row.justify-content-between
                    .col-6.col-md-12.mb-md-30
                        h2.content__column-title Что необходимо для расчёта?
                        .content__column-line
                        p.lead Для расчёта стоимости необходимо будет выслать актуальное штатное расписание:
                        ul.list
                            li 
                                span.text-bold без вакантных мест;
                            li 
                                span.text-bold без тех сотрудников, кто работает вне офиса <br>
                                | (исключительно на дому по трудовому договору);
                            li 
                                span.text-bold без декретных мест  <br>
                                | (если не принят официально  на его место новый сотрудник);
                    .col-5.col-md-12
                        .content__column-title Рассчитайте стоимость
                        p.content__column-offer Оставьте заявку, и наши специалисты оперативно вам ответят. Можете сразу прикрепить файл с расписанием:
                        form.form.content__form()
                            input.form__input.phone(placeholder="8 ( ___ ) ___ - __ - __")
                            input(type="file" name="file" id="file" class="form__input-file")
                            label.form__file-label(for="file") Прикрепить расписание
                            .form__agree.checkbox
                                input.checkbox__input(type="checkbox" name="agree" checked="checked" required="required")
                                label.checkbox__label(for="agree") Я согласен с 
                                    a.checkbox__link(href="/assets/files/documents/policy.pdf" target="_blank") правилами использования сайта</a></label>
                            button.btn.btn_primary Получить расчет
        section.content.content_seo
            .container
                h2 Заголовок h2
                p «Северный Путь» является аккредитованной организацией, оказывающей услуги в области охраны труда и предоставляет максимально выгодные и надёжные условия взаимодействия в направлении аутсорсинга по охране труда. Работая по принципу единого окна, Вы сможете получить в нашем лице надёжного партнера в направлении охраны труда, обучения персонала, а также помощь в организации процессов медосмотров сотрудников и аттестации рабочих мест.
                p Центр профессионального обучения «Северный Путь» является аккредитованной организацией, оказывающей услуги в области охраны труда и предоставляет максимально выгодные и надёжные условия взаимодействия в направлении аутсорсинга по охране труда. Работая по принципу единого окна, Вы сможете получить в нашем лице надёжного партнера в направлении охраны труда, обучения персонала, а также помощь в организации процессов медосмотров сотрудников и аттестации рабочих мест.
                h3 Заголовок h3
                p Центр профессионального обучения «Северный Путь» является аккредитованной организацией, оказывающей услуги в области охраны труда и предоставляет максимально выгодные и надёжные условия взаимодействия в направлении аутсорсинга по охране труда. Работая по принципу единого окна, Вы сможете получить в нашем лице надёжного партнера в направлении охраны труда, обучения персонала, а также помощь в организации процессов медосмотров сотрудников и аттестации рабочих мест.
                ol
                    li аккредитованной организацией
                    li аккредитованной организацией
                    li аккредитованной организацией
                    li аккредитованной организацией
                h4 Заголовок h4
                p Центр профессионального обучения «Северный Путь» является аккредитованной организацией, оказывающей услуги в области охраны труда и предоставляет максимально выгодные и надёжные условия взаимодействия в направлении аутсорсинга по охране труда. Работая по принципу единого окна, Вы сможете получить в нашем лице надёжного партнера в направлении охраны труда, обучения персонала, а также помощь в организации процессов медосмотров сотрудников и аттестации рабочих мест. Центр профессионального обучения «Северный Путь» является аккредитованной организацией, оказывающей услуги в области охраны труда и предоставляет максимально выгодные и надёжные условия взаимодействия в направлении аутсорсинга по охране труда. Работая по принципу единого окна, Вы сможете получить в нашем лице надёжного партнера в направлении охраны труда, обучения персонала, а также помощь в организации процессов медосмотров сотрудников и аттестации рабочих мест.
                h5 Заголовок h5
                p Центр профессионального обучения «Северный Путь» является аккредитованной организацией, оказывающей 
                    | услуги в области охраны труда и предоставляет максимально выгодные и надёжные условия 
                    | взаимодействия в направлении аутсорсинга по охране труда. Работая по принципу единого окна, 
                    | Вы сможете получить в нашем лице надёжного партнера в направлении охраны труда, обучения персонала, 
                    | a также помощь в организации процессов медосмотров сотрудников и аттестации рабочих мест. 
                h6 Заголовок h6
                ul 
                    li Центр профессионального обучения «Северный Путь» является аккредитованной организацией, 
                    li оказывающей услуги в области охраны труда и предоставляет максимально выгодные 
                    li и надёжные условия взаимодействия в направлении аутсорсинга по охране труда. 
                    li Работая по принципу единого окна, Вы сможете получить в нашем лице надёжного партнера 
        include chunks/footer.pug
        script(src="./js/jquery.inputmask.js")
        script(src="./js/app.min.js")